<!DOCTYPE html>
<html lang="en">
<head>
	<title>Folio - Creative Agency Portfolio Theme</title>
	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Bootstrap based Creative Agency Portfolio Theme">

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Rubik:wght@400;500;700&family=Spartan:wght@400;700;900&display=swap" rel="stylesheet">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/animate/animate.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/imagerevealhover/css/base.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">

</head>

<body>

<!-- Offcanvas full light START -->
<div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasFullLight" data-bs-backdrop="false" aria-labelledby="offcanvasFullLight">
	<div class="offcanvas-header position-absolute top-0 end-0 z-index-9">
	  <a class="ms-auto btn btn-primary btn-round zoom-hover" data-bs-dismiss="offcanvas" aria-label="Close">
			<i class="fas fa-times p-0"></i>
		</a>
  </div>
	<div class="offcanvas-body position-relative px-5 px-md-8 pt-3 pt-md-7">
 		<!-- Offcanvas inner START -->
			<div class="w-100 h-100 d-flex align-items-start flex-column">
				<!-- Offcanvas Menu START -->
				<ul class="nav dropdown-toggle-start-icon flex-column">
					<!-- Nav item -->
					<li class="nav-item d-block d-md-flex mb-2 position-relative">
						<a class="nav-link text-dark-stroke display-5 h5 mb-0 text-primary-shadow" href="#">Home</a>
						<p class="align-self-center mt-0 mt-md-5">— Where all started!</p>
						<!-- Offcanvas dropdown toggle START -->
						<a class="dropdown-toggle collapsed" data-bs-toggle="collapse" href="#home-dropdown-collapse" role="button" aria-expanded="false" aria-controls="home-dropdown-collapse"></a>
						<!-- Offcanvas dropdown toggle END -->
					</li>
					<!-- Home menu Dropdown START -->
					<li class="collapse" id="home-dropdown-collapse">
						<ul class="list-unstyled w-100 pb-4 pe-0 pe-lg-5">
							<li> <a class="dropdown-item px-0" href="index.html">Classic Default</a> </li>
							<li> <a class="dropdown-item px-0" href="index-2.html">Agency classic</a> </li>
							<li> <a class="dropdown-item px-0" href="index-3.html">Agency Trendy<span class="badge bg-danger ms-2">Hot</span></a> </li>
							<li> <a class="dropdown-item px-0" href="index-4.html">Agency Modern</a> </li>
							<li> <a class="dropdown-item px-0" href="index-5.html">Studio showcase</a> </li>
							<li> <a class="dropdown-item px-0" href="index-6.html">Creative agency</a> </li>
							<li> <a class="dropdown-item px-0" href="index-7.html">Digital studio</a> </li>
							<li> <a class="dropdown-item px-0" href="index-8.html">Portfolio showcase</a> </li>
							<li> <a class="dropdown-item px-0" href="index-9.html">Corporate </a> </li>
							<li> <a class="dropdown-item px-0" href="index-10.html">Personal Portfolio</a> </li>
						</ul>
					</li>
					<!-- Home menu Dropdown END -->

					<!-- Nav item -->
					<li class="nav-item d-block d-md-flex mb-2">
						<a class="nav-link text-dark-stroke display-5 h5 mb-0" href="#">Work</a>
						<p class="align-self-center mt-0 mt-md-5">— So far so good</p>
					</li>
					 <!-- Nav item -->
					 <li class="nav-item d-block d-md-flex mb-2">
						<a class="nav-link text-dark-stroke display-5 h5 mb-0" href="#">Services</a>
						<p class="align-self-center mt-0 mt-md-5">— With <i class="fas fa-heart"></i> and passion</p>
					</li>
					<!-- Nav item -->
					<li class="nav-item d-block d-md-flex mb-2">
						<a class="nav-link text-dark-stroke display-5 h5 mb-0" href="#">Our Journal</a>
						<p class="align-self-center mt-0 mt-md-5">— What we're up to</p>
					</li>
					<!-- Nav item -->
					<li class="nav-item d-block d-md-flex mb-2">
						<a class="nav-link text-dark-stroke display-5 h5 mb-0" href="#">Open Jobs</a>
						<p class="align-self-center mt-0 mt-md-5">— Join the crew</p>
					</li> 
					<!-- Nav item -->
					<li class="nav-item d-block d-md-flex mb-2">
						<a class="nav-link text-dark-stroke display-5 h5 mb-0" href="#">Contact Us</a>
						<p class="align-self-center mt-0 mt-md-5">— Where to spot us</p>
					</li>
				</ul>
				<!-- Offcanvas Menu END -->

				<!-- Offcanvas bottom START -->
				<div class="mt-auto w-100 d-none d-lg-block py-4">
					<div class="d-flex justify-content-between w-100">
						<!-- Offcanvas bottom Left -->
						<ul class="list-inline mt-auto">
							<li class="list-inline-item me-2"><a class="list-group-item-action" href="#">Privacy Policy</a></li>
							<li class="list-inline-item me-2"><a class="list-group-item-action pe-0" href="#">Use of terms</a></li>
						</ul>
						<!-- Offcanvas bottom Right -->
						<div class="row d-flex">
							<div class="col-auto">
								<p class="mb-0">Folio Creative Agency</p>
							</div>
							<div class="col-auto">
								<p class="mb-0">1421 Coburn Hollow Road Metamora,<br> Near Center Point, IL 61548.</p>
							</div>
							<div class="col-auto">
								<a href="#" class="mb-0 d-block">hello@folio.com</a>
								<a href="#">+(251) 854-6308</a>
							</div>
						</div>
					</div>
				</div>
				<!-- Offcanvas bottom END -->
			</div>

			<!-- Offcanvas Right social START -->
			<div class="position-absolute top-50 end-0 translate-middle-y z-index-9 ms-4 d-none d-lg-block">
				<div class="list-group-inline list-unstyled rotate-90">
					<a href="#" class="list-group-item bg-transparent mt-4">Facebook</a>
					<a href="#" class="list-group-item bg-transparent mt-4">Twitter</a>
					<a href="#" class="list-group-item bg-transparent mt-4">Dribble</a>
				</div>
			</div>
			<!-- Offcanvas Right social END -->
		
		<!-- Offcanvas inner END -->
	</div>
</div>
<!-- Offcanvas full light END -->

<!-- Search START -->
<div class="search-full collapse bg-dark p-3 pb-lg-0" id="search-open">
	<div class="container position-relative">
		<h2 class="position-absolute start-0 bottom-0 mb-n5 display-1 text-white-stroke opacity-1">
			<span class="d-block">Search</span>
		</h2>
		<div class="row vh-100">
			<div class="d-flex flex-column my-auto py-5 w-100">
				<!-- Search form START -->
				<form class="form-dark form-line position-relative w-100">
					<div class="mb-3 input-group-lg input-text-white-stroke mb-0">
						<!-- Search input -->
						<input class="form-control font-heading caret-primary mb-0 pe-6" type="text" name="search" placeholder="What are you looking for?">
						<span class="focus-border"></span>
					</div>
					<!-- Search button -->
					<button type="button" class="position-absolute end-0 top-0 btn pb-3 text-primary-hover h-100">
						<i class="bi bi-search display-8"></i>
					</button>
				</form>
				<!-- Search form END -->
				<p class="small mt-2 mb-0">e.g. Template, Bootstrap, WordPress theme </p>
			</div>

			<!-- Search button close START -->
			<a class="position-fixed top-0 end-0 m-3 m-md-5 btn btn-white btn-round zoom-hover" data-bs-toggle="collapse" href="javascript:void(0)" data-bs-target="#search-open" aria-expanded="true">
				<i class="fas fa-times p-0"></i>
			</a>
			<!-- Search button close END -->
		</div>
	</div>
</div>
<!-- Search END -->

<!-- =======================
Header START -->
<header>

	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand">
		<div class="container-fluid px-0 px-md-5">
		<div class="row d-flex w-100 mx-auto">

			<div class="col-3 col-md-4 d-flex justify-content-start my-auto">
				<!-- Nav Opener-->
				<a class="text-dark flex-row text-primary-hover me-4 mt-n1" data-bs-toggle="offcanvas" href="#offcanvasFullLight" role="button" aria-controls="offcanvasFullLight">
					<i class="bi bi-text-left rtl-flip display-8 align-middle" data-bs-target="#offcanvasFullLight"></i>
					<span class="font-heading fw-bold d-none d-md-inline" data-bs-target="#offcanvasFullLight">Menu</span>
				</a>

				<!-- Visit time -->
				<div class="my-auto d-none d-xl-block" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="bottom" title="Sunday CLOSED">
					<span class="me-2 text-muted">Visit time:</span>
					<span class="text-dark mb-0 ">Mon-Sat 9:00-19:00</span>
				</div>
			</div>

			<div class="col-6 col-md-4 text-center">
				<!-- Logo START -->
				<a class="navbar-brand d-block" href="index.html">
					<img class="navbar-brand-item mx-auto" src="assets/images/logo.png" alt="Logo">
				</a>
				<!-- Logo END -->
			</div>

			<!-- Nav Right START -->
			<div class="col-3 col-md-4 d-flex justify-content-end">
				<div class="navbar-nav flex-row align-items-center">

					<!-- Nav Search Opener-->
					<div class="nav-item px-2 px-md-3">
						<a class="text-dark text-primary-hover" data-bs-toggle="collapse" href="javascript:void(0)" data-bs-target="#search-open">
							<i class="bi bi-search display-9 "> </i>
						</a>
					</div>

					<!-- Language Switcher-->
					<div class="nav-item px-2 px-md-3">
						<div>
							<a href="#" class="text-dark text-primary-hover me-2 border-bottom border-primary">EN</a>
							<a href="#" class="text-dark text-primary-hover">FR</a>
						</div>
					</div>

					<!-- Nav Button -->
					<div class="nav-item pe-0 ps-4 d-none d-xl-block">
						<a href="#" class=" btn btn-sm btn-dark mb-0">Get a quote</a>
					</div>

				</div>
			</div>
			<!-- Nav Right END -->

		</div>
		</div>
	</nav><!-- Logo Nav END -->
</header>
<!-- =======================
Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Hero section START -->
<section class="pt-5 pt-md-8">
	<div class="container-fluid px-xl-6">
		<div class="row">
			<div class="col-xl-8 mx-auto text-center mb-n8 position-relative z-index-9">
				<h4 class="mb-4">Go Crazy, Go Viral</h4>
				<h1 class="display-4 display-md-3 display-lg-1 text-primary lh-1">Clear and Innovative Strategy</h1>
			</div>
			<div class="col-12">
				<div class="h-400 h-md-700 bg-dark-overlay-3 bg-parallax"  data-jarallax-video="https://youtu.be/LUvoRByjTrg">	</div>
			</div>
		</div> <!-- Row END -->
	</div>
</section>
<!-- =======================
Hero section END -->

<!-- Divider  -->
<div class="bg-dark-overlay-dotted py-2 mb-3"></div>

<!-- =======================
Section START -->
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h2>Hero section big title and video</h2>
				<p class="lead">A hero section is a large or oversized web banner that is pinned to the header section of a web-page, usually towards the top of the page. Because of its prominent place in the site’s visual hierarchy, the hero header is often the first thing users see when arriving on a website. Therefore, we are including 10 hero banners of different styles so that your site have a strong focus and visual interest — thus resulting into more growth.</p>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Section END -->


</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START -->
<footer class="bg-dark footer-sticky pt-6">
	<div class="container">
		<div class="row">

			<!-- Footer Widget 1 -->
			<div class="col-md-6 col-lg-3 mb-5">
				<h3 class="text-white">Folio<span class="text-primary">.</span></h3>
				<p>Bootstrap based Creative Agency Portfolio Theme.</p>
				<div class="d-flex me-auto">
					<h6 class="mt-2 me-4 text-white">Follow on:</h6>
					<div class="list-group-inline list-unstyled text-primary-hover">
						<a href="#" class="list-group-item text-white bg-transparent">Fb</a>
						<a href="#" class="list-group-item text-white bg-transparent">Tw</a>
						<a href="#" class="list-group-item text-white bg-transparent">Dr</a>
					</div>
				</div>
			</div>

			<!-- Footer Widget 2 -->
			<div class="col-md-6 col-lg-3 mb-5">
				<h5 class="mb-4 text-white">Our offices</h5>
				<!-- Address 1 -->
				<p class="text-white mb-2">New York, USA (HQ)</p>
				<address class="mb-0">750 Sing Sing Rd, Horseheads, NY, 14845</address>
				<p>Call: <a href="#" class="text-body"><u>469-537-2410</u> (Toll-free)</a> </p>
				<!-- Address 2 -->
				<p class="text-white mb-2">Mumbai, India</p>
				<address class="mb-0">2492 Centennial NW, Acworth, GA, 30102</address>
				<p>Call: <a href="#" class="text-body"><u>(678) 324-1251</u> (Toll-free)</a> </p>
			</div>

			<!-- Footer Widget 3 -->
			<div class="col-md-6 col-lg-3 mb-5">
				<h5 class="mb-4 text-white">Useful links</h5>
				<div class="row">
					<div class="col-6">
						<ul class="nav flex-column text-primary-hover">
							<li class="nav-item"><a class="nav-link pt-0" href="#">Our Work</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Develop</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Builder</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Market</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Support</a></li>
						</ul>
					</div>
					<div class="col-6">
						<ul class="nav flex-column text-primary-hover">
							<li class="nav-item"><a class="nav-link pt-0" href="#">About</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Career <span class="badge bg-danger ms-2">2 Job</span></a></li>
							<li class="nav-item"><a class="nav-link" href="#">Work</a></li>
							<li class="nav-item"><a class="nav-link" href="#">News</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>

			<!-- Footer Widget 4 -->
			<div class="col-md-6 col-lg-3 mb-5">
				<h5 class="mb-4 text-white">Stay in touch</h5>
				<form>
					<label class="form-label">Subscribe to our newsletter to receive exclusive offers.</label>
					<div class="mb-3">
						<input class="form-control" type="email" placeholder="Enter email...">
					</div>
					<div class="mb-3">
						<button type="submit" value="Subscribe" class="btn btn-primary mb-0">Join us</button>
					</div>
				</form>
			</div>
			
		</div>
		<!-- Divider -->
		<div class="divider-light opacity-1"></div>

		<!-- Footer copyright START -->
		<div class="row align-items-center justify-content-md-between py-4">
			<div class="col-md-6">
				<div class="text-center text-md-start">©2021 <a href="https://www.webestica.com/" target="_blank">Webestica</a>. All rights reserved
				</div>
			</div>
			<div class="col-md-6">
			  <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
		      <li class="nav-item"><a class="nav-link text-body text-primary-hover" href="#">Terms</a></li>
		      <li class="nav-item"><a class="nav-link text-body text-primary-hover" href="#">Privacy</a></li>
		      <li class="nav-item"><a class="nav-link text-body text-primary-hover pe-0" href="#">Cookies</a></li>
			  </ul>
			</div>
		</div>
		<!-- Footer copyright END -->
	</div>
</footer>
<!-- =======================
Footer END -->

<!-- Custom cursor -->
<div class="cursor-dot-outline"></div>
<div class="cursor-dot"></div>

<!-- Back to top -->
<div class="back-top">
	<div class="scroll-line"></div>
	<span class="scoll-text">Go Up</span>
</div>

<!-- =======================
JS libraries, plugins and custom scripts -->

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="assets/vendor/jarallax/jarallax.min.js"></script>
<script src="assets/vendor/jarallax/jarallax-video.min.js"></script>

<!-- Template Functions -->
<script src="assets/js/functions.js"></script>

</body>
</html>