<!DOCTYPE html>
<html lang="en">
<head>
	<title>Folio - Creative Agency Portfolio Theme</title>
	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Bootstrap based Creative Agency Portfolio Theme">

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Rubik:wght@400;500;700&family=Spartan:wght@400;700;900&display=swap" rel="stylesheet">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/animate/animate.min.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">

</head>

<body>

<!-- Offcanvas end START -->
<div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasEnd" aria-labelledby="offcanvasEnd" style="background-image:url(assets/images/bg/pattern/03.png); background-position: center left; background-size: cover;">
	<div class="offcanvas-header">
	  <a class="ms-auto btn btn-primary btn-round zoom-hover" data-bs-dismiss="offcanvas" aria-label="Close">
			<i class="fas fa-times p-0"></i>
		</a>
  </div>
	<div class="offcanvas-body vh-lg-100 d-flex align-items-start flex-column px-5 px-md-6">
		<!-- Offcanvas inner START -->
		<ul class="nav dropdown-toggle-start-icon d-block flex-column mb-5">
			<li class="nav-item position-relative">
				<a href="index.html" class="nav-link text-white-stroke display-6 h5 d-block">Home</a>
				<!-- Offcanvas dropdown START -->
				<a class="dropdown-toggle collapsed" data-bs-toggle="collapse" href="#home-dropdown-collapse" role="button" aria-expanded="false" aria-controls="home-dropdown-collapse"></a>
				<li class="collapse" id="home-dropdown-collapse">
				  <ul class="list-unstyled w-100 pb-4 pe-0 pe-lg-5">
						<li> <a class="dropdown-item px-0 text-body" href="index.html">Classic Default</a> </li>
						<li> <a class="dropdown-item px-0 text-body" href="index-2.html">Agency classic</a> </li>
						<li> <a class="dropdown-item px-0 text-body" href="index-3.html">Agency Trendy<span class="badge bg-danger ms-2">Hot</span></a> </li>
						<li> <a class="dropdown-item px-0 text-body" href="index-4.html">Agency Modern</a> </li>
						<li> <a class="dropdown-item px-0 text-body" href="index-5.html">Studio showcase</a> </li>
						<li> <a class="dropdown-item px-0 text-body" href="index-6.html">Creative agency</a> </li>
						<li> <a class="dropdown-item px-0 text-body" href="index-7.html">Digital studio</a> </li>
						<li> <a class="dropdown-item px-0 text-body" href="index-8.html">Portfolio showcase</a> </li>
						<li> <a class="dropdown-item px-0 text-body" href="index-9.html">Corporate </a> </li>
						<li> <a class="dropdown-item px-0 text-body" href="index-10.html">Personal Portfolio</a> </li>
					</ul>
				</li>
				<!-- Offcanvas dropdown END -->
			<li class="nav-item">
				<a class="nav-link text-white-stroke display-6 h5" href="#">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-white-stroke display-6 h5" href="#">Work</a>
			</li>
			 <li class="nav-item">
				<a class="nav-link text-white-stroke display-6 h5" href="#">Services</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-white-stroke display-6 h5" href="#">Our Journal</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-white-stroke display-6 h5" href="#">Contact Us</a>
			</li>
		</ul>
		<div class="mt-auto mb-5">
			<a href="#" class="font-heading text-white text-primary-hover d-block mb-3">hello@folio.com</a>
			<a href="#" class="font-heading text-white text-primary-hover">+(251) 854-6308</a>
		</div>
		<!-- Offcanvas inner END -->
	</div>
</div>
<!-- Offcanvas end END -->

<!-- =======================
Header START -->
<header class="navbar-light header-static navbar-sticky navbar-space-lg">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand">
		<div class="container px-3 px-md-5">
			<!-- Logo START -->
			<a class="navbar-brand d-flex" href="index.html">
				<img class="navbar-brand-item" src="assets/images/logo.png" alt="Logo">
				<h6 class="smaller text-muted mb-0 ms-2 d-none d-sm-block">Digital<br>Agency</h6>
			</a>
			<!-- Logo END -->

			<!-- Nav Right START -->
			<div class="nav flex-nowrap align-items-center">
				<!-- Nav Call -->
				<div class="nav-item d-none d-lg-flex">
					<div class="flex-row mb-n1">
						<span class="me-2 text-muted">Call us:</span>
						<a href="#" class="mb-0 h6">+(251) 854-6308</a>
					</div>
				</div>
				<!-- Offcanvas Opener -->
				<div class="nav-item ms-4">
					<a class="nav-link p-0 flex-row" data-bs-toggle="offcanvas" href="#offcanvasEnd" role="button" aria-controls="offcanvasEnd">
						<span class="font-heading fw-bold" data-bs-target="#offcanvasEnd">Menu</span>
						<i class="bi bi-text-right rtl-flip display-8 align-middle" data-bs-target="#offcanvasEnd"></i>
					</a>
				</div>
				<!-- Nav Button -->
				<div class="nav-item d-none d-md-block ms-4">
					<a class="btn btn-line btn-primary btn-sm mb-0" href="#">Get a Quote</a>
				</div>
			</div>
			<!-- Nav Right END -->

		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- =======================
Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Hero section START -->
<section class="pt-5">
	<div class="container-fluid">
		<div class="row g-0 d-flex align-items-center ms-xl-5 ms-xxl-8">
			<!-- Hero section left image-->
			<div class="col-lg-5 col-xxl-7 position-relative align-self-stretch py-8" style="background:url(assets/images/bg/10.jpg) no-repeat center center; background-size:cover;">
				<!-- Happy Customers -->
				<div class="position-absolute bottom-0 start-0 py-4 px-5 m-5 bg-white text-center">
					<i class="far fa-heart display-8 fw-normal text-primary opacity-4"></i>
					<h4 class="mb-0 text-primary">2035+</h4>
					<p class="mb-0">Happy Customers</p>
				</div>		
			</div>
			<!-- Hero section right content -->
			<div class="col-lg-7 col-xxl-5 ms-lg-n3 ms-xl-n5 ms-xxl-n8 my-lg-5">
				<div class="bg-primary p-5 py-md-7 px-md-6 position-relative z-index-9 overflow-hidden">
					<!-- Shape Decoration START -->
					<figure class="position-absolute start-0 top-0 rtl-flip opacity-2 z-index-n9">
						<svg width="390" height="398" viewBox="0 0 150 153" xmlns="http://www.w3.org/2000/svg">
							<path class="svg-custom-border-dark" d="m-0.5 104.5c31 0 52.4 52.06 83.04 46.46 11.62-2.12 14.02-21.83 15.4-33.43 1.44-12.1-2.08-25.17-1.81-37.62 0.13-5.92 0.9-13.67 4.38-17.95 4.75-5.82 12.07-2.67 18.26-2.03 13.9 1.43 24.11-13.65 20.62-30.34-0.04-0.19-0.08-0.39-0.12-0.58-2.65-12.47-0.77-29.5 10.23-29.5"/>
							<path class="svg-custom-border-dark" d="m-172.95 36.58"/>
							<path class="svg-custom-border-dark" d="m-0.57 93.25c27.07 0 46.79 46.35 74.09 41.35 10.37-1.9 12.53-19.44 13.77-29.76 1.31-10.82-1.83-22.46-1.6-33.56 0.11-5.28 0.79-12.19 3.9-16.01 1.78-2.18 3.96-2.96 6.31-3.08 3.23-0.17 6.76 0.9 9.95 1.22 12.39 1.23 21.51-12.18 18.44-27.05-0.04-0.17-0.07-0.34-0.11-0.52-1.12-5.35-0.67-10.67 1.04-15.2 1.83-4.87 9.26-6.32 9.26-11.14"/>
							<path class="svg-custom-border-dark" d="m0.17 82.08c24.33 0 40.38 40.55 64.33 36.16 9.13-1.68 11.05-17.05 12.14-26.09 1.18-9.53-1.58-19.74-1.38-29.49 0.1-4.63 0.69-10.7 3.42-14.08 1.56-1.92 3.48-2.61 5.53-2.72 2.83-0.16 5.93 0.76 8.73 1.03 10.88 1.03 18.9-10.71 16.26-23.76l-0.09-0.45c-0.97-4.7-0.56-9.36 0.95-13.35 1.62-4.28 8.31-5.38 8.31-9.61"/>
							<path class="svg-custom-border-dark" d="m-0.09 70.92c21.59 0 34.98 34.76 55.58 30.96 7.88-1.46 9.55-14.66 10.51-22.42 1.03-8.25-1.33-17.03-1.17-25.43 0.08-3.99 0.59-9.22 2.94-12.14 1.34-1.66 2.99-2.25 4.76-2.37 2.44-0.15 5.1 0.62 7.51 0.84 9.37 0.82 16.3-9.24 14.08-20.47-0.03-0.13-0.05-0.26-0.08-0.39-0.82-4.04-0.45-8.06 0.85-11.5 1.4-3.69 7.16-4.65 7.16-8.3"/>
							<path class="svg-custom-border-dark" d="m-0.36 59.76c18.86 0 29.57 28.96 46.83 25.77 6.63-1.24 8.06-12.26 8.89-18.76 0.89-6.96-1.09-14.32-0.95-21.36 0.06-3.35 0.48-7.74 2.46-10.21 1.12-1.39 2.5-1.9 3.98-2.01 2.04-0.15 4.27 0.49 6.29 0.65 7.86 0.64 13.7-7.77 11.9-17.18l-0.06-0.33c-0.66-3.38 1.52-4.84 3.52-6.84s3.26-1 3.26-9.81"/>
							<path class="svg-custom-border-dark" d="m-0.5 47.5c14.12 0 24.04 24.25 37.95 21.67 5.39-1.02 6.57-9.87 7.26-15.09 0.75-5.68-0.84-11.6-0.74-17.29 0.05-2.71 0.38-6.25 1.99-8.28 0.9-1.13 2.01-1.55 3.2-1.65 1.64-0.14 3.44 0.35 5.07 0.46 6.35 0.44 11.09-6.3 9.72-13.89-0.02-0.09-0.03-0.18-0.05-0.26-0.51-2.73-0.23-5.45 0.67-7.81 0.96-2.52 4.87-3.2 4.87-5.68"/>
							<path class="svg-custom-border-dark" d="m0 38c11.88 0 17.87 16.82 28.43 14.81 4.15-0.79 5.08-7.48 5.63-11.42 0.61-4.39-0.59-8.89-0.52-13.23 0.03-2.07 0.28-4.77 1.51-6.34 0.68-0.87 1.52-1.2 2.43-1.29 1.25-0.14 2.61 0.21 3.85 0.28 4.84 0.24 8.49-4.83 7.55-10.6-0.01-0.07-0.02-0.13-0.03-0.2-0.36-2.07-0.12-4.15 0.58-5.96 0.74-1.93 3.72-2.47 3.72-4.37"/>
							<path class="svg-custom-border-dark" d="m0 29c10 0 28 13 23.41-0.29-1.02-2.97-0.34-6.18-0.31-9.16 0.01-1.43 0.17-3.29 1.03-4.41 0.46-0.6 1.03-0.85 1.65-0.94 0.85-0.13 1.78 0.08 2.63 0.09 3.33 0.05 5.89-3.36 5.37-7.31-0.01-0.05-0.01-0.09-0.02-0.14-0.2-1.42-0.01-2.84 0.48-4.11 0.52-1.34 2.55-1.74 2.58-3.05"/>
							<path class="svg-custom-border-dark" d="M0,21c1.69,0,14,2,12.77-4.98c-0.32-1.83-0.09-3.46-0.09-5.1c0-0.79,0.07-1.8,0.55-2.47   c0.24-0.34,0.55-0.49,0.87-0.58c0.45-0.12,0.95-0.12,1.4-0.1C20,8,20.51,2,20.51-0.34"/>
							<path class="svg-custom-border-dark" d="m0 6c1 0 4 1 4-2v-4"/>
						</svg>
					</figure>
					<!-- Shape Decoration END -->
					<!-- Hero content -->
					<h1 class="text-white">We're Folio, a Digital Agency unlike any other</h1>
					<p class="lead text-white mb-5">Rooms oh fully taken by worse do. Points afraid but may end law lasted. Was out laughter raptures returned outweigh.</p>
					<a href="#" class="btn btn-white btn-lg btn-line">Explore more</a>
				</div>
			</div>
		</div> <!-- Row END -->
	</div>
</section>
<!-- =======================
Hero section END -->

<!-- Divider  -->
<div class="bg-dark-overlay-dotted py-2 mb-3 mt-6"></div>

<!-- =======================
Section START -->
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h2>Hero Section Split banner</h2>
				<p class="lead">A hero section is a large or oversized web banner that is pinned to the header section of a web-page, usually towards the top of the page. Because of its prominent place in the site’s visual hierarchy, the hero header is often the first thing users see when arriving on a website. Therefore, we are including 10 hero banners of different styles so that your site have a strong focus and visual interest — thus resulting into more growth.</p>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Section END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START -->
<footer class="bg-dark footer-sticky pt-6">
	<div class="container">
		<div class="row">

			<!-- Footer Widget 1 -->
			<div class="col-md-6 col-lg-3 mb-5">
				<h3 class="text-white">Folio<span class="text-primary">.</span></h3>
				<p>Bootstrap based Creative Agency Portfolio Theme.</p>
				<div class="d-flex me-auto">
					<h6 class="mt-2 me-4 text-white">Follow on:</h6>
					<div class="list-group-inline list-unstyled text-primary-hover">
						<a href="#" class="list-group-item text-white bg-transparent">Fb</a>
						<a href="#" class="list-group-item text-white bg-transparent">Tw</a>
						<a href="#" class="list-group-item text-white bg-transparent">Dr</a>
					</div>
				</div>
			</div>

			<!-- Footer Widget 2 -->
			<div class="col-md-6 col-lg-3 mb-5">
				<h5 class="mb-4 text-white">Our offices</h5>
				<!-- Address 1 -->
				<p class="text-white mb-2">New York, USA (HQ)</p>
				<address class="mb-0">750 Sing Sing Rd, Horseheads, NY, 14845</address>
				<p>Call: <a href="#" class="text-body"><u>469-537-2410</u> (Toll-free)</a> </p>
				<!-- Address 2 -->
				<p class="text-white mb-2">Mumbai, India</p>
				<address class="mb-0">2492 Centennial NW, Acworth, GA, 30102</address>
				<p>Call: <a href="#" class="text-body"><u>(678) 324-1251</u> (Toll-free)</a> </p>
			</div>

			<!-- Footer Widget 3 -->
			<div class="col-md-6 col-lg-3 mb-5">
				<h5 class="mb-4 text-white">Useful links</h5>
				<div class="row">
					<div class="col-6">
						<ul class="nav flex-column text-primary-hover">
							<li class="nav-item"><a class="nav-link pt-0" href="#">Our Work</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Develop</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Builder</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Market</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Support</a></li>
						</ul>
					</div>
					<div class="col-6">
						<ul class="nav flex-column text-primary-hover">
							<li class="nav-item"><a class="nav-link pt-0" href="#">About</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Career <span class="badge bg-danger ms-2">2 Job</span></a></li>
							<li class="nav-item"><a class="nav-link" href="#">Work</a></li>
							<li class="nav-item"><a class="nav-link" href="#">News</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>

			<!-- Footer Widget 4 -->
			<div class="col-md-6 col-lg-3 mb-5">
				<h5 class="mb-4 text-white">Stay in touch</h5>
				<form>
					<label class="form-label">Subscribe to our newsletter to receive exclusive offers.</label>
					<div class="mb-3">
						<input class="form-control" type="email" placeholder="Enter email...">
					</div>
					<div class="mb-3">
						<button type="submit" value="Subscribe" class="btn btn-primary mb-0">Join us</button>
					</div>
				</form>
			</div>
			
		</div>
		<!-- Divider -->
		<div class="divider-light opacity-1"></div>

		<!-- Footer copyright START -->
		<div class="row align-items-center justify-content-md-between py-4">
			<div class="col-md-6">
				<div class="text-center text-md-start">©2021 <a href="https://www.webestica.com/" target="_blank">Webestica</a>. All rights reserved
				</div>
			</div>
			<div class="col-md-6">
			  <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
		      <li class="nav-item"><a class="nav-link text-body text-primary-hover" href="#">Terms</a></li>
		      <li class="nav-item"><a class="nav-link text-body text-primary-hover" href="#">Privacy</a></li>
		      <li class="nav-item"><a class="nav-link text-body text-primary-hover pe-0" href="#">Cookies</a></li>
			  </ul>
			</div>
		</div>
		<!-- Footer copyright END -->
	</div>
</footer>
<!-- =======================
Footer END -->

<!-- Custom cursor -->
<div class="cursor-dot-outline"></div>
<div class="cursor-dot"></div>

<!-- Back to top -->
<div class="back-top">
	<div class="scroll-line"></div>
	<span class="scoll-text">Go Up</span>
</div>

<!-- =======================
JS libraries, plugins and custom scripts -->

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Template Functions -->
<script src="assets/js/functions.js"></script>

</body>
</html>