<!DOCTYPE html>
<html lang="en">
<head>
	<title>Folio - Creative Agency Portfolio Theme</title>
	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Bootstrap based Creative Agency Portfolio Theme">

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Rubik:wght@400;500;700&family=Spartan:wght@400;700;900&display=swap" rel="stylesheet">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/animate/animate.min.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">

</head>

<body>

<!-- Offcanvas end START -->
<div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasEnd" aria-labelledby="offcanvasEnd" style="background-image:url(assets/images/bg/pattern/03.png); background-position: center left; background-size: cover;">
	<div class="offcanvas-header">
	  <a class="ms-auto btn btn-primary btn-round zoom-hover" data-bs-dismiss="offcanvas" aria-label="Close">
			<i class="fas fa-times p-0"></i>
		</a>
  </div>
	<div class="offcanvas-body vh-lg-100 d-flex align-items-start flex-column px-5 px-md-6">
		<!-- Offcanvas inner START -->
		<ul class="nav dropdown-toggle-start-icon d-block flex-column mb-5">
			<li class="nav-item position-relative">
				<a href="index.html" class="nav-link text-white-stroke display-6 h5 d-block">Home</a>
				<!-- Offcanvas dropdown START -->
				<a class="dropdown-toggle collapsed" data-bs-toggle="collapse" href="#home-dropdown-collapse" role="button" aria-expanded="false" aria-controls="home-dropdown-collapse"></a>
				<li class="collapse" id="home-dropdown-collapse">
				  <ul class="list-unstyled w-100 pb-4 pe-0 pe-lg-5">
						<li> <a class="dropdown-item px-0 text-body" href="index.html">Classic Default</a> </li>
						<li> <a class="dropdown-item px-0 text-body" href="index-2.html">Agency classic</a> </li>
						<li> <a class="dropdown-item px-0 text-body" href="index-3.html">Agency Trendy<span class="badge bg-danger ms-2">Hot</span></a> </li>
						<li> <a class="dropdown-item px-0 text-body" href="index-4.html">Agency Modern</a> </li>
						<li> <a class="dropdown-item px-0 text-body" href="index-5.html">Studio showcase</a> </li>
						<li> <a class="dropdown-item px-0 text-body" href="index-6.html">Creative agency</a> </li>
						<li> <a class="dropdown-item px-0 text-body" href="index-7.html">Digital studio</a> </li>
						<li> <a class="dropdown-item px-0 text-body" href="index-8.html">Portfolio showcase</a> </li>
						<li> <a class="dropdown-item px-0 text-body" href="index-9.html">Corporate </a> </li>
						<li> <a class="dropdown-item px-0 text-body" href="index-10.html">Personal Portfolio</a> </li>
					</ul>
				</li>
				<!-- Offcanvas dropdown END -->
			<li class="nav-item">
				<a class="nav-link text-white-stroke display-6 h5" href="#">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-white-stroke display-6 h5" href="#">Work</a>
			</li>
			 <li class="nav-item">
				<a class="nav-link text-white-stroke display-6 h5" href="#">Services</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-white-stroke display-6 h5" href="#">Our Journal</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-white-stroke display-6 h5" href="#">Contact Us</a>
			</li>
		</ul>
		<div class="mt-auto mb-5">
			<a href="#" class="font-heading text-white text-primary-hover d-block mb-3">hello@folio.com</a>
			<a href="#" class="font-heading text-white text-primary-hover">+(251) 854-6308</a>
		</div>
		<!-- Offcanvas inner END -->
	</div>
</div>
<!-- Offcanvas end END -->

<!-- =======================
Header START -->
<header class="navbar-light header-static navbar-sticky navbar-space-lg">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand">
		<div class="container">
			<!-- Logo START -->
			<a class="navbar-brand d-flex" href="index.html">
				<img class="navbar-brand-item" src="assets/images/logo.png" alt="Logo">
				<h6 class="smaller text-muted mb-0 ms-2 d-none d-sm-block">Digital<br>Agency</h6>
			</a>
			<!-- Logo END -->

			<!-- Nav Right START -->
			<div class="nav flex-nowrap align-items-center">
				<!-- Nav Call -->
				<div class="nav-item d-none d-lg-flex">
					<div class="flex-row mb-n1">
						<span class="me-2 text-muted">Call us:</span>
						<a href="#" class="mb-0 h6">+(251) 854-6308</a>
					</div>
				</div>
				<!-- Offcanvas Opener -->
				<div class="nav-item ms-4">
					<a class="nav-link p-0 flex-row" data-bs-toggle="offcanvas" href="#offcanvasEnd" role="button" aria-controls="offcanvasEnd">
						<span class="font-heading fw-bold" data-bs-target="#offcanvasEnd">Menu</span>
						<i class="bi bi-text-right rtl-flip display-8 align-middle" data-bs-target="#offcanvasEnd"></i>
					</a>
				</div>
				<!-- Nav Button -->
				<div class="nav-item d-none d-md-block ms-4">
					<a class="btn btn-line btn-primary btn-sm mb-0" href="#">Get a Quote</a>
				</div>
			</div>
			<!-- Nav Right END -->

		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- =======================
Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Hero section START -->
<section class="pt-5">
	<div class="container">
		<div class="row g-0 d-flex justify-content-end align-items-center position-relative">
			<!-- Hero section left content-->
			<div class="col-lg-10 position-lg-absolute top-0 start-0 mt-0 mt-lg-5">
				<div class="d-flex">
					<ul class="list-unstyled d-flex mb-4 me-2">
						<li><i class="fas fa-star text-warning me-1"></i></li>
						<li><i class="fas fa-star text-warning me-1"></i></li>
						<li><i class="fas fa-star text-warning me-1"></i></li>
						<li><i class="fas fa-star text-warning me-1"></i></li>
						<li><i class="fas fa-star text-warning me-1"></i></li>
					</ul>
					<p> Trusted by 1K+ industry leaders</p>
				</div>
				<h2 class="display-5 text-primary-stroke text-dark-shadow mb-0">We believe in</h2>
				<h1 class="display-4 display-md-3 display-lg-1 text-dark-stroke text-primary-shadow">Innovation</h1>
				<div class="row">
					<div class="col-lg-7">
						<p class="lead">We are an insight and behavior-driven creative marketing agency. A Full Service Digital Creative Agency Specializing in: Video Production, Web Design, Branding, Brand Strategy</p>
						<div class="row mt-5">
							<div class="col-6">
								<h3 class="mb-0">10.3M+</h3>
								<p>Avg revenue per year</p>
							</div>
							<div class="col-6">
								<h3 class="mb-0">98%</h3>
								<p>Job Success Score</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Hero section right image -->
			<div class="col-lg-6">
				<img src="assets/images/about/06.jpg" alt="">
			</div>
		</div> <!-- Row END -->
	</div>
</section>
<!-- =======================
Hero section END -->

<!-- Divider  -->
<div class="bg-dark-overlay-dotted py-2 mb-3 mt-6"></div>

<!-- =======================
Section START -->
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h2>Hero Section Split</h2>
				<p class="lead">A hero section is a large or oversized web banner that is pinned to the header section of a web-page, usually towards the top of the page. Because of its prominent place in the site’s visual hierarchy, the hero header is often the first thing users see when arriving on a website. Therefore, we are including 10 hero banners of different styles so that your site have a strong focus and visual interest — thus resulting into more growth.</p>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Section END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START -->
<footer class="bg-dark footer-sticky pt-6">
	<div class="container">
		<div class="row">

			<!-- Footer Widget 1 -->
			<div class="col-md-6 col-lg-3 mb-5">
				<h3 class="text-white">Folio<span class="text-primary">.</span></h3>
				<p>Bootstrap based Creative Agency Portfolio Theme.</p>
				<div class="d-flex me-auto">
					<h6 class="mt-2 me-4 text-white">Follow on:</h6>
					<div class="list-group-inline list-unstyled text-primary-hover">
						<a href="#" class="list-group-item text-white bg-transparent">Fb</a>
						<a href="#" class="list-group-item text-white bg-transparent">Tw</a>
						<a href="#" class="list-group-item text-white bg-transparent">Dr</a>
					</div>
				</div>
			</div>

			<!-- Footer Widget 2 -->
			<div class="col-md-6 col-lg-3 mb-5">
				<h5 class="mb-4 text-white">Our offices</h5>
				<!-- Address 1 -->
				<p class="text-white mb-2">New York, USA (HQ)</p>
				<address class="mb-0">750 Sing Sing Rd, Horseheads, NY, 14845</address>
				<p>Call: <a href="#" class="text-body"><u>469-537-2410</u> (Toll-free)</a> </p>
				<!-- Address 2 -->
				<p class="text-white mb-2">Mumbai, India</p>
				<address class="mb-0">2492 Centennial NW, Acworth, GA, 30102</address>
				<p>Call: <a href="#" class="text-body"><u>(678) 324-1251</u> (Toll-free)</a> </p>
			</div>

			<!-- Footer Widget 3 -->
			<div class="col-md-6 col-lg-3 mb-5">
				<h5 class="mb-4 text-white">Useful links</h5>
				<div class="row">
					<div class="col-6">
						<ul class="nav flex-column text-primary-hover">
							<li class="nav-item"><a class="nav-link pt-0" href="#">Our Work</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Develop</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Builder</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Market</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Support</a></li>
						</ul>
					</div>
					<div class="col-6">
						<ul class="nav flex-column text-primary-hover">
							<li class="nav-item"><a class="nav-link pt-0" href="#">About</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Career <span class="badge bg-danger ms-2">2 Job</span></a></li>
							<li class="nav-item"><a class="nav-link" href="#">Work</a></li>
							<li class="nav-item"><a class="nav-link" href="#">News</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>

			<!-- Footer Widget 4 -->
			<div class="col-md-6 col-lg-3 mb-5">
				<h5 class="mb-4 text-white">Stay in touch</h5>
				<form>
					<label class="form-label">Subscribe to our newsletter to receive exclusive offers.</label>
					<div class="mb-3">
						<input class="form-control" type="email" placeholder="Enter email...">
					</div>
					<div class="mb-3">
						<button type="submit" value="Subscribe" class="btn btn-primary mb-0">Join us</button>
					</div>
				</form>
			</div>
			
		</div>
		<!-- Divider -->
		<div class="divider-light opacity-1"></div>

		<!-- Footer copyright START -->
		<div class="row align-items-center justify-content-md-between py-4">
			<div class="col-md-6">
				<div class="text-center text-md-start">©2021 <a href="https://www.webestica.com/" target="_blank">Webestica</a>. All rights reserved
				</div>
			</div>
			<div class="col-md-6">
			  <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
		      <li class="nav-item"><a class="nav-link text-body text-primary-hover" href="#">Terms</a></li>
		      <li class="nav-item"><a class="nav-link text-body text-primary-hover" href="#">Privacy</a></li>
		      <li class="nav-item"><a class="nav-link text-body text-primary-hover pe-0" href="#">Cookies</a></li>
			  </ul>
			</div>
		</div>
		<!-- Footer copyright END -->
	</div>
</footer>
<!-- =======================
Footer END -->

<!-- Custom cursor -->
<div class="cursor-dot-outline"></div>
<div class="cursor-dot"></div>

<!-- Back to top -->
<div class="back-top">
	<div class="scroll-line"></div>
	<span class="scoll-text">Go Up</span>
</div>

<!-- =======================
JS libraries, plugins and custom scripts -->

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="assets/vendor/jarallax/jarallax.min.js"></script>
<script src="assets/vendor/jarallax/jarallax-video.min.js"></script>

<!-- Template Functions -->
<script src="assets/js/functions.js"></script>

</body>
</html>