<!DOCTYPE html>
<html lang="en">
<head>
	<title>Folio - Creative Agency Portfolio Theme</title>
	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Bootstrap based Creative Agency Portfolio Theme">

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Rubik:wght@400;500;700&family=Spartan:wght@400;700;900&display=swap" rel="stylesheet">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/animate/animate.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/glightbox/css/glightbox.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/imagerevealhover/css/base.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">

</head>

<body>

<!-- Pre loader -->
<div class="preloader">
	<img class="preloader-item" src="assets/images/loader/01.gif" alt="Loading">
</div>

<!-- Offcanvas full reveal START -->
<div class="offcanvas offcanvas-top bg-dark" tabindex="-1" id="offcanvasFullReveal" data-bs-backdrop="false" aria-labelledby="offcanvasFullReveal">
	<div class="offcanvas-header position-absolute top-0 end-0 z-index-9">
	  <a class="ms-auto btn btn-primary btn-round zoom-hover" data-bs-dismiss="offcanvas" aria-label="Close">
			<i class="fas fa-times p-0"></i>
		</a>
  </div>
	<div class="offcanvas-body position-relative px-5 px-md-8 pt-3 pt-md-7">
 		<!-- Offcanvas inner START -->
			<div class="w-100 h-100 d-flex align-items-start flex-column">
				<!-- Offcanvas Menu START -->
				<ul class="nav dropdown-toggle-start-icon flex-column">
					<!-- Nav item -->
					<li class="nav-item d-block d-md-flex mb-2 position-relative" data-fx="1">
						<a class="nav-link text-light-stroke display-5 h5 mb-0 text-primary-shadow" data-img="assets/images/about/01.jpg" href="#">Home</a>
						<p class="align-self-center mt-0 mt-md-5">— Where all started!</p>
						<!-- Offcanvas dropdown toggle START -->
						<button class="dropdown-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#home-dropdown-collapse" aria-expanded="false" aria-controls="home-dropdown-collapse"></button>
						<!-- Offcanvas dropdown toggle END -->
					</li>
					<!-- Home menu Dropdown START -->
					<li class="collapse" id="home-dropdown-collapse">
					  <ul class="list-unstyled w-100 pb-4 pe-0 pe-lg-5">
							<li> <a class="dropdown-item px-0 text-body" href="index.html">Classic Default</a> </li>
							<li> <a class="dropdown-item px-0 text-body" href="index-2.html">Agency classic</a> </li>
							<li> <a class="dropdown-item px-0 text-body" href="index-3.html">Agency Trendy<span class="badge bg-danger ms-2">Hot</span></a> </li>
							<li> <a class="dropdown-item px-0 text-body" href="index-4.html">Agency Modern</a> </li>
							<li> <a class="dropdown-item px-0 text-body" href="index-5.html">Studio showcase</a> </li>
							<li> <a class="dropdown-item px-0 text-body" href="index-6.html">Creative agency</a> </li>
							<li> <a class="dropdown-item px-0 text-body" href="index-7.html">Digital studio</a> </li>
							<li> <a class="dropdown-item px-0 text-body" href="index-8.html">Portfolio showcase</a> </li>
							<li> <a class="dropdown-item px-0 text-body" href="index-9.html">Corporate </a> </li>
							<li> <a class="dropdown-item px-0 text-body" href="index-10.html">Personal Portfolio</a> </li>
						</ul>
					</li>
					<!-- Home menu Dropdown END -->

					<!-- Nav item -->
					<li class="nav-item d-block d-md-flex mb-2" data-fx="1">
						<a class="nav-link text-light-stroke display-5 h5 mb-0" href="#" data-img="assets/images/about/02.jpg">Work</a>
						<p class="align-self-center mt-0 mt-md-5">— So far so good</p>
					</li>
					 <!-- Nav item -->
					 <li class="nav-item d-block d-md-flex mb-2" data-fx="1">
						<a class="nav-link text-light-stroke display-5 h5 mb-0" href="#" data-img="assets/images/about/03.jpg">Services</a>
						<p class="align-self-center mt-0 mt-md-5">— With <i class="fas fa-heart"></i> and passion</p>
					</li>
					<!-- Nav item -->
					<li class="nav-item d-block d-md-flex mb-2" data-fx="1">
						<a class="nav-link text-light-stroke display-5 h5 mb-0" href="#" data-img="assets/images/about/04.jpg">Our Journal</a>
						<p class="align-self-center mt-0 mt-md-5">— What we're up to</p>
					</li>
					<!-- Nav item -->
					<li class="nav-item d-block d-md-flex mb-2" data-fx="1">
						<a class="nav-link text-light-stroke display-5 h5 mb-0" href="#" data-img="assets/images/about/05.jpg">Open Jobs</a>
						<p class="align-self-center mt-0 mt-md-5">— Join the crew</p>
					</li> 
					<!-- Nav item -->
					<li class="nav-item d-block d-md-flex mb-2" data-fx="1">
						<a class="nav-link text-light-stroke display-5 h5 mb-0" href="#" data-img="assets/images/about/06.jpg">Contact Us</a>
						<p class="align-self-center mt-0 mt-md-5">— Where to spot us</p>
					</li>
				</ul>
				<!-- Offcanvas Menu END -->

				<!-- Offcanvas bottom START -->
				<div class="mt-auto w-100 d-none d-lg-block py-4">
					<div class="d-flex justify-content-between w-100">
						<!-- Offcanvas bottom Left -->
						<ul class="list-inline mt-auto">
							<li class="list-inline-item me-2"><a class="list-group-item-action text-body" href="#">Privacy Policy</a></li>
							<li class="list-inline-item me-2"><a class="list-group-item-action text-body pe-0" href="#">Use of terms</a></li>
						</ul>
						<!-- Offcanvas bottom Right -->
						<div class="row d-flex">
							<div class="col-auto">
								<p class="mb-0">Folio Creative Agency</p>
							</div>
							<div class="col-auto">
								<p class="mb-0">1421 Coburn Hollow Road Metamora,<br> Near Center Point, IL 61548.</p>
							</div>
							<div class="col-auto">
								<a href="#" class="mb-0 d-block">hello@folio.com</a>
								<a href="#">+(251) 854-6308</a>
							</div>
						</div>
					</div>
				</div>
				<!-- Offcanvas bottom END -->
			</div>

			<!-- Offcanvas Right social START -->
			<div class="position-absolute top-50 end-0 translate-middle-y z-index-9 ms-4 d-none d-lg-block">
				<div class="list-group-inline list-unstyled rotate-90">
					<a href="#" class="list-group-item bg-transparent text-body mt-4">Facebook</a>
					<a href="#" class="list-group-item bg-transparent text-body mt-4">Twitter</a>
					<a href="#" class="list-group-item bg-transparent text-body mt-4">Dribble</a>
				</div>
			</div>
			<!-- Offcanvas Right social END -->
		
		<!-- Offcanvas inner END -->
	</div>
</div>
<!-- Offcanvas full reveal END -->

<!-- =======================
Header START -->
<header class="navbar-light header-static navbar-sticky navbar-space-lg">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand">
		<div class="container-fluid px-3 px-md-5">
			<!-- Logo START -->
			<a class="navbar-brand d-flex" href="index.html">
				<img class="navbar-brand-item" src="assets/images/logo.png" alt="Logo">
				<h6 class="smaller text-muted mb-0 ms-2 d-none d-sm-block">Digital<br>Agency</h6>
			</a>
			<!-- Logo END -->

			<!-- Nav Right START -->
			<div class="nav flex-nowrap align-items-center">
				<!-- Nav Call -->
				<div class="nav-item d-none d-lg-flex">
					<div class="flex-row mb-n1">
						<span class="me-2 text-muted">Call us:</span>
						<a href="#" class="mb-0 h6">+(251) 854-6308</a>
					</div>
				</div>
				<!-- Offcanvas Opener -->
				<div class="nav-item ms-4">
					<a class="nav-link p-0 flex-row" data-bs-toggle="offcanvas" href="#offcanvasFullReveal" role="button" aria-controls="offcanvasFullReveal">
						<span class="font-heading fw-bold" data-bs-target="#offcanvasFullReveal">Menu</span>
						<i class="bi bi-text-right rtl-flip display-8 align-middle" data-bs-target="#offcanvasFullReveal"></i>
					</a>
				</div>
				<!-- Nav Button -->
				<div class="nav-item d-none d-md-block ms-4">
					<a class="btn btn-line btn-primary btn-sm mb-0" href="#">Get a Quote</a>
				</div>
			</div>
			<!-- Nav Right END -->

		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- =======================
Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Main Banner START -->
<section class="position-relative pb-0 mt-5 mt-md-7">
	<div class="d-flex justify-content-between">
		<div>
			<h1 class="display-4 display-md-3 display-lg-1 position-absolute bottom-0 start-0 zoom-3 ms-5 ms-md-9 mb-n2 mb-sm-n3 mb-lg-n5 text-primary">Hello—</h1>
		</div>
		<!-- Top social -->
		<ul class="me-5 mb-4 list-unstyled d-none d-xl-flex align-items-center">
			<li> <span>Follow us: </span></li>
			<li> <a class="text-dark text-primary-hover display-9 px-3" href="#"><i class="fab fa-facebook-f"></i></a> </li>
			<li> <a class="text-dark text-primary-hover display-9 px-3" href="#"><i class="fab fa-instagram"></i></a> </li>
			<li> <a class="text-dark text-primary-hover display-9 ps-3" href="#"><i class="fab fa-twitter"></i></a> </li>
		</ul>
	</div>
</section>

<section class="bg-primary position-relative overflow-hidden">
	<!-- Shape Decoration START -->
	<!-- Shape 1 -->
	<div class="position-absolute start-0 bottom-0 w-100 zoom-2">
		<div class="bg-dark-overlay-dotted py-4"></div>
	</div>
	<!-- Shape 2 -->
	<figure class="position-absolute end-0 top-0 mt-n5 me-n8 d-none d-lg-block">
		<svg width="390" height="304" viewBox="0 0 218 170" xmlns="http://www.w3.org/2000/svg">
			<path class="fill-dark" d="m143.6 25.1c-5.9-5.6-10.9-12.2-17.8-16.5-13.7-8.6-33.5-5.4-43.8 7-3.9 4.6-6.4 10.2-9.5 15.4-8.4 14-21.1 25-29.9 38.7s-13 32.7-3.4 45.9c9.7 13.4 28.8 15.4 41.7 25.6 6.3 5.1 10.9 12.1 16.9 17.6 19 17.3 52.5 14.6 68.6-5.4 9.9-12.4 13.4-29.3 24.8-40.4 4-3.9 8.9-6.9 12.8-10.9 5.1-5.2 8.4-12 10.8-19 3.1-9.3 4.7-19.6 1.4-28.8-5.7-16-18.7-15.9-32.5-14.4-15 1.8-29.4-4.6-40.1-14.8z"/>
			<path class="svg-custom-border-white" d="m17.8 72.7c3.9-3.3 8.1-6.2 12.6-8.8"/>
			<path class="svg-custom-border-white" d="m18 86.5c4.1-2.9 8.5-5.5 13-7.8"/>
			<path class="svg-custom-border-white" d="m33.3 93c4.6-2.3 9-5.1 13.1-8.3"/>
			<path class="svg-custom-border-white" d="m47.6 66.8c3.9-1.8 7.6-4.1 10.9-6.8"/>
			<path class="svg-custom-border-white" d="m73.7 55.5c3-1.6 5.9-3.2 8.9-4.8"/>
			<path class="svg-custom-border-white" d="m67.7 69.1c3.4-2.5 7-4.6 10.8-6.4"/>
			<path class="svg-custom-border-white" d="m64.8 80.5c4.5-2.2 8.9-4.8 13.1-7.7"/>
			<path class="svg-custom-border-white" d="m71.4 93.6c3.8-1.6 7.4-3.6 10.7-5.9"/>
			<path class="svg-custom-border-white" d="m70.2 121.5c3.6-2.1 7.2-4.3 10.8-6.4"/>
			<path class="svg-custom-border-white" d="m54.2 119.2c3.4-2.4 6.7-4.7 10.1-7.1"/>
			<path class="svg-custom-border-white" d="m36.9 114.9c3.4-2.3 6.8-4.7 10.2-7"/>
			<path class="svg-custom-border-white" d="m51.1 99.5c2.4-2.7 5.3-5.1 8.4-7"/>
			<path class="svg-custom-border-white" d="m7.7 121.4c4-2.6 7.9-5.1 11.9-7.7"/>
			<path class="svg-custom-border-white" d="m17.8 132.7c2.6-1.8 5.2-3.5 7.8-5.3"/>
			<path class="svg-custom-border-white" d="m21.4 154.1c4.4-3 8.9-6.1 13.3-9.1"/>
			<path class="svg-custom-border-white" d="m48.8 140.6c2.6-1.9 5.2-3.9 7.8-5.8"/>
			<path class="svg-custom-border-white" d="m44 158.9c3.1-1.1 6-2.9 8.5-5.1"/>
			<path class="svg-custom-border-white" d="m67.8 146.5c4.5-2.4 8.8-5.4 12.5-8.9"/>
			<path class="svg-custom-border-white" d="m73.4 156.1c2.4-1 4.6-2.4 6.6-4.1"/>
			<path class="svg-custom-border-white" d="m83.3 98.9c2.6-1.8 5.1-3.6 7.7-5.4"/>
		</svg>
	</figure>
	<!-- Who we are text right -->
	<div class="position-absolute top-50 start-0 translate-middle ms-8 d-none d-lg-block">
		<h1 class="display-2 text-dark-stroke rotate-270 text-uppercase opacity-2">Who we are</h1>
	</div>
	<!-- Shape Decoration END -->

	<div class="container position-relative">
		<div class="row">
			<div class="col-lg-10">
				<!-- Welcome text -->
				<div class="h2 display-6 text-white mb-6" data-fx="1">Welcome to our world. We're folio, <a href="#!" class="text-white-stroke" data-img="assets/images/about/04.jpg">a creative digital agency<sup class="fas fa-link display-9"></sup>.</a> We offer various types of <a href="#!" class="text-white-stroke" data-img="assets/images/about/05.jpg">digital services<sup class="fas fa-link display-9"></sup>.</a></div>
				<!-- Our team text -->
				<div class="h2 display-6 text-white mb-6" data-fx="1">We help <a href="#!" class="text-white-stroke" data-img="assets/images/about/13.jpg">our clients<sup class="fas fa-link display-9"></sup></a> start, sustain, and grow their business.</div>
				<!-- Contact text -->
				<div class="h2 display-6 text-white mb-6" data-fx="1">Whether you’ve got a quick concern or want to run through the details of your next big project, we can help. <a href="#!" class="text-white-stroke" data-img="assets/images/about/11.jpg">Let's chat now.<sup class="fas fa-link display-9"></sup></a> </div>
			</div>
		</div>		
	</div>
</section>
<!-- =======================
Main banner END -->

<!-- =======================
About info START -->
<section>
	<div class="container">
		<!-- About us -->
		<div class="row d-flex justify-content-md-between">
			<div class="col-md-7 col-lg-7">
				<span class="font-alt fw-normal display-8 d-block mb-3">We are creating smart websites.</span>
				<h2 class="display-8">Many folks can make it to the finish line, but the Folio is the way special. Want to build something now that lasts? We're here.</h2>
			</div>
			<div class="col-md-5 col-lg-4">
				<img class="rounded" src="assets/images/about/06.jpg" alt="">
			</div>
		</div>
		<!-- About more -->
		<div class="row">
			<div class="col-md-5 col-lg-4">
				<img class="rounded mt-5 mt-lg-0" src="assets/images/about/10.jpg" alt="">
			</div>
			<div class="col-md-7 col-lg-5">
				<p class="mt-5">We ❤️ to achieve the goal as we provide innovative ideas, designs, and multimedia solutions to our clients. We help our customers better manage their web presence in order to achieve greater. Partnering with 500+ Fortune companies and mid-sized firms across enterprises, uniquely customized and scalable workforce solutions. </p>
				<a href="#" class="btn btn-line text-dark">Explore more</a>
			</div>
		</div>
		<!-- Our mission & vision -->
		<div class="row d-flex justify-content-md-between">
			<div class="col-md-7">
				<h2 class="mt-5 mt-lg-8">Our mission & vision</h2>
				<p class="lead">We are an insight and behavior-driven creative marketing agency. A Full package Digital Creative Agency Specializing in: Video Production, Web Design, Branding, Brand Strategy, Content Marketing and Aerial Cinematography.</p>
				<a href="#" class="btn btn-line text-dark">Explore more</a>
				<div class="row mt-5">
					<!-- Box 1 -->
					<div class="col-12 col-md-4 mb-2">
						<div class="bg-light p-4 text-center h-100">
							<img class="px-lg-4" src="assets/images/clients/google.svg" alt="">
							<div class="small my-2">Google rating</div>
							<ul class="list-unstyled d-flex justify-content-center">
								<li><i class="fas fa-star text-warning me-1"></i></li>
								<li><i class="fas fa-star text-warning me-1"></i></li>
								<li><i class="fas fa-star text-warning me-1"></i></li>
								<li><i class="fas fa-star-half-alt text-warning me-1"></i></li>
								<li><i class="far fa-star text-warning"></i></li>
							</ul>
						</div>
					</div>
					<!-- Box 1 -->
					<div class="col-12 col-md-4 mb-2">
						<div class="bg-light p-4 text-center h-100">
							<img class="px-lg-4" src="assets/images/clients/clutch.svg" alt="">
							<div class="small my-2">Top rated</div>
							<ul class="list-unstyled d-flex justify-content-center">
								<li><i class="fas fa-star text-warning me-1"></i></li>
								<li><i class="fas fa-star text-warning me-1"></i></li>
								<li><i class="fas fa-star text-warning me-1"></i></li>
								<li><i class="fas fa-star text-warning me-1"></i></li>
								<li><i class="fas fa-star text-warning"></i></li>
							</ul>
						</div>
					</div>
					<!-- Box 1 -->
					<div class="col-12 col-md-4 mb-2">
						<div class="bg-light p-4 text-center h-100">
							<img class="px-lg-4" src="assets/images/clients/freelancer.svg" alt="">
							<div class="small my-2">100+ Feedbacks</div>
							<ul class="list-unstyled d-flex justify-content-center">
								<li><i class="fas fa-star text-warning me-1"></i></li>
								<li><i class="fas fa-star text-warning me-1"></i></li>
								<li><i class="fas fa-star text-warning me-1"></i></li>
								<li><i class="fas fa-star text-warning me-1"></i></li>
								<li><i class="fas fa-star-half-alt text-warning"></i></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-5">
				<img class="rounded mt-5 mt-lg-n5" src="assets/images/about/07.jpg" alt="">				
			</div>
		</div>
	</div>
</section>
<!-- =======================
About info END -->

<!-- =======================
Portfolio START -->
<section class="pt-5">
	<div class="container">
		<!-- Title -->
		<div class="row">
			<div class="col-12">
				<h2 class="display-4 mb-3 mb-md-5 text-dark-stroke text-primary-shadow">See our Skills in Action</h2>
			</div>
		</div>
		<!-- Portfolio -->
		<div class="row">
			<div class="col-sm-12" >
				<div data-fx="1">
					<!-- Portfolio item -->
					<p class="display-9 mb-0 font-alt fw-normal fw-normal">Mobile App</p>
					<a href="#!" class="d-block mb-0 h2 text-dark-stroke display-5" data-img="assets/images/portfolio/01.jpg"> The missing link</a>
					<p class="lead mb-5">Fulfilled direction use continual set him propriety continued saw met applauded favorite </p>
					
					<!-- Portfolio item -->
					<p class="display-9 mb-0 font-alt fw-normal fw-normal">Graphics Design</p>
					<a href="#!" class="d-block mb-0 h2 text-dark-stroke display-5" data-img="assets/images/portfolio/02.jpg"> Sam Puller Magazine</a>
					<p class="lead mb-5">Fulfilled direction use continual set him propriety continued saw met applauded favorite </p>
						
					<!-- Portfolio item -->
					<p class="display-9 mb-0 font-alt fw-normal fw-normal">Re-branding</p>
					<a href="#!" class="d-block mb-0 h2 text-dark-stroke display-5" data-img="assets/images/portfolio/03.jpg"> Of seamen and merchants</a>
					<p class="lead mb-5">Fulfilled direction use continual set him propriety continued saw met applauded favorite </p>
						
					<!-- Portfolio item -->
					<p class="display-9 mb-0 font-alt fw-normal fw-normal">Branding</p>
					<a href="#!" class="d-block mb-0 h2 text-dark-stroke display-5" data-img="assets/images/portfolio/04.jpg"> Pure design branding</a>
					<p class="lead mb-5">Fulfilled direction use continual set him propriety continued saw met applauded favorite </p>
						
					<!-- Portfolio item -->
					<p class="display-9 mb-0 font-alt fw-normal fw-normal">Publishing</p>
					<a href="#!" class="d-block mb-0 h2 text-dark-stroke display-5" data-img="assets/images/portfolio/05.jpg"> The blossoming fashion label</a>
					<p class="lead mb-5">Fulfilled direction use continual set him propriety continued saw met applauded favorite </p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Portfolio END -->

<!-- =======================
Process Video START -->
<section class="pt-0">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 position-relative">
				<div class="bg-parallax bg-dark-overlay-2 rounded overflow-hidden px-3 px-md-5 py-8" style="background:url(assets/images/bg/07.jpg) no-repeat center center; background-size:cover;">
					<!-- Title -->
					<h2 class="text-white display-6"><span class="bg-primary p-2">How we work;</span><br> checkout the process</h2>
					<!-- Video play button -->
					<div class="mt-8">
						<a class="btn btn-primary btn-lg btn-round btn-ripple me-2 align-middle d-inline-block" data-glightbox data-gallery="video" href="https://youtu.be/n_Cn8eFo7u8"> <i class="fas fa-play"></i></a>
						<div class="align-middle d-inline-block">
							<h4 class="mb-0 text-white">Checkout video</h4>
							<p class="mb-0 text-secondary">01:10 min</p>
						</div>
					</div>
				</div>
				<!-- Shape Decoration START -->
				<figure class="position-absolute end-0 top-0 z-index-9 me-n5 mt-n5 d-none d-lg-block">
					<svg width="270" height="226" viewBox="0 0 136 114" xmlns="http://www.w3.org/2000/svg">
						<path class="svg-custom-border-white" d="m54.5 41.7c2.6-2.2 5.4-4.1 8.3-5.8"/>
						<path class="svg-custom-border-white" d="m54.5 50.8c2.7-1.9 5.6-3.6 8.6-5.1"/>
						<path class="svg-custom-border-white" d="m64.6 55c3-1.5 5.9-3.4 8.6-5.4"/>
						<path class="svg-custom-border-white" d="m74 37.8c2.6-1.2 5-2.7 7.2-4.5"/>
						<path class="svg-custom-border-white" d="m72.8 27.7c2.4-1.3 4.7-2.8 6.7-4.6"/>
						<path class="svg-custom-border-white" d="m54.8 26.5c2.3-1.6 4.7-3.1 7-4.7"/>
						<path class="svg-custom-border-white" d="m37.7 37.8c2.1-2.2 4.7-3.9 7.5-5"/>
						<path class="svg-custom-border-white" d="m40.4 45.2c2.1-1.5 4.3-3 6.4-4.5"/>
						<path class="svg-custom-border-white" d="m40.4 25.3c2-2.1 4.4-3.8 7.1-5"/>
						<path class="svg-custom-border-white" d="m58.4 14.5c1.4-1 3-1.8 4.6-2.4"/>
						<path class="svg-custom-border-white" d="m67.4 5.5c2.3-1.9 4.9-3.4 7.7-4.5"/>
						<path class="svg-custom-border-white" d="m69.4 13.3c2-1.1 4.1-2.2 6.1-3.4"/>
						<path class="svg-custom-border-white" d="m74.4 17.9c2.2-1.2 4.4-2.4 6.6-3.5"/>
						<path class="svg-custom-border-white" d="m87.2 20.6c3.5-2 7-3.9 10.6-5.7"/>
						<path class="svg-custom-border-white" d="m91.2 30.4c1.9-1 3.9-2.1 5.8-3.1"/>
						<path class="svg-custom-border-white" d="m98.2 36.3 5.4-3.6"/>
						<path class="svg-custom-border-white" d="m87.2 39.4c2.2-1.6 4.6-3 7.1-4.2"/>
						<path class="svg-custom-border-white" d="m85.3 46.8c3-1.5 5.9-3.2 8.6-5.1"/>
						<path class="svg-custom-border-white" d="m89.6 55.4c2.5-1.1 4.8-2.4 7-3.9"/>
						<path class="svg-custom-border-white" d="m105.2 40.9c1.9-1.2 3.7-2.5 5.6-3.7"/>
						<path class="svg-custom-border-white" d="m116.2 41 6.3-4.2"/>
						<path class="svg-custom-border-white" d="m107.2 56.2c2.9-1.8 5.7-3.6 8.6-5.4"/>
						<path class="svg-custom-border-white" d="m88.8 73.8c2.4-1.4 4.7-2.8 7.1-4.2"/>
						<path class="svg-custom-border-white" d="m78.3 72.2c2.2-1.6 4.4-3.1 6.6-4.7"/>
						<path class="svg-custom-border-white" d="m67 69.4c2.2-1.5 4.5-3.1 6.7-4.6"/>
						<path class="svg-custom-border-white" d="m76.3 59.3c1.6-1.8 3.5-3.4 5.5-4.6"/>
						<path class="svg-custom-border-white" d="m40.4 67.9c2.7-2 5.6-3.7 8.6-5"/>
						<path class="svg-custom-border-white" d="m47.8 73.7 7.8-5.1"/>
						<path class="svg-custom-border-white" d="m20.6 64.1c3.1-1.9 6.3-3.9 9.4-5.8"/>
						<path class="svg-custom-border-white" d="m31.8 62.7c2.9-1.7 5.8-3.3 8.8-4.8"/>
						<path class="svg-custom-border-white" d="m6 57.6c2.2-1.5 4.5-3 6.7-4.5"/>
						<path class="svg-custom-border-white" d="m1.3 48.7c3.4-2.5 6.9-5.1 10.3-7.6"/>
						<path class="svg-custom-border-white" d="m17.9 40.3 5.4-3.6"/>
						<path class="svg-custom-border-white" d="m20.5 51.5c2.9-2.1 5.9-4 9.1-5.7"/>
						<path class="svg-custom-border-white" d="m27.6 32c1-0.9 2.2-1.6 3.5-2"/>
						<path class="svg-custom-border-white" d="m21.7 29.7c1.1-1.1 2.4-1.9 3.9-2.4"/>
						<path class="svg-custom-border-white" d="m31.9 19.5c1.7-1.5 3.5-2.8 5.5-3.9"/>
						<path class="svg-custom-border-white" d="m12.3 26.9c2.2-1.4 4.4-2.8 6.6-4.3"/>
						<path class="svg-custom-border-white" d="m26.4 75.4c1-0.8 2.1-1.6 3.1-2.4"/>
						<path class="svg-custom-border-white" d="m13.5 73.3c1.7-1.2 3.4-2.4 5-3.6"/>
						<path class="svg-custom-border-white" d="m9.6 87.4c2.9-1.7 5.7-3.4 8.6-5.1"/>
						<path class="svg-custom-border-white" d="m24.1 87c2-2 4.4-3.5 7-4.7"/>
						<path class="svg-custom-border-white" d="m35.4 78c1.8-1.5 3.7-2.9 5.8-4"/>
						<path class="svg-custom-border-white" d="m39.6 90.9c2.8-1.8 5.5-3.6 8.3-5.4"/>
						<path class="svg-custom-border-white" d="m54.5 81.1c1.7-1.2 3.4-2.3 5.1-3.5"/>
						<path class="svg-custom-border-white" d="m56.8 95.1c2.9-2 5.8-4 8.8-6"/>
						<path class="svg-custom-border-white" d="m74.8 86.3c1.7-1.3 3.4-2.6 5.1-3.8"/>
						<path class="svg-custom-border-white" d="m71.7 98.3c2.1-0.7 4-1.9 5.6-3.3"/>
						<path class="svg-custom-border-white" d="m46.3 113.2c2.9-1.3 5.7-3.1 8.1-5.2"/>
						<path class="svg-custom-border-white" d="m42.4 102.7c1.8-1.3 3.7-2.5 5.5-3.8"/>
						<path class="svg-custom-border-white" d="m83 104.2c1.9-1.7 4.1-3.3 6.3-4.5"/>
						<path class="svg-custom-border-white" d="m87.3 90.1c3-1.6 5.8-3.5 8.2-5.8"/>
						<path class="svg-custom-border-white" d="m103.7 84.7c1.6-0.7 3-1.6 4.3-2.7"/>
						<path class="svg-custom-border-white" d="m109.5 71.4c3.5-2 6.7-4.4 9.6-7.1"/>
						<path class="svg-custom-border-white" d="m125.9 53.9c1.3-0.7 2.5-1.6 3.5-2.7"/>
						<path class="svg-custom-border-white" d="m115.4 28.5c3.7-1.9 7.1-4.2 10.2-7"/>
						<path class="svg-custom-border-white" d="m131.4 40.9c1.4-0.7 2.7-1.7 3.6-3"/>
						<path class="svg-custom-border-white" d="m113.5 76.9c1.7-1.2 3.4-2.3 5.1-3.5"/>
						<path class="svg-custom-border-white" d="m98.2 107.3c3-1.7 6-3.6 8.8-5.6"/>
						<path class="svg-custom-border-white" d="m70.1 112.8c1.2-0.8 2.3-1.6 3.5-2.4"/>
						<path class="svg-custom-border-white" d="m99.4 21.9c3.3-1.7 6.6-3.5 9.8-5.4"/>
						<path class="svg-custom-border-white" d="m19.7 96 10.2-6.6"/>
					</svg>
				</figure>
				<!-- Shape Decoration END -->
			</div>
		</div>
	</div>
</section>
<!-- =======================
Process Video END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START -->
<footer class="py-5 pb-8 position-relative">
	<!-- Shape Decoration START -->
	<div class="position-absolute start-0 bottom-0 w-100">
		<div class="bg-dark-overlay-dotted py-3"></div>
	</div>
	<!-- Shape Decoration END -->
	<div class="container">
		<div class="row justify-content-lg-between">
			<!-- Footer left START -->
			<div class="col-md-5">
				<h3>Don't be shy, say hi!</h3>
				<p class="lead">Have a question, a project? We'd love to discuss... </p>
				<!-- Form START -->
				<form class="contact-form form-line mt-5" id="contact-form" name="contactform" method="POST" action="assets/include/contact-action.php">
					<!-- Main form -->
					<div class="row">
						<div class="col-md-6">
							<!-- name -->
							<div class="mb-3 position-relative">
								<input required id="con-name" name="name" type="text" class="form-control" placeholder="Name">
								<span class="focus-border"></span>
							</div>
						</div>
						<div class="col-md-6">
							<!-- email -->
							<div class="mb-3 position-relative">
								<input required id="con-email" name="email" type="email" class="form-control" placeholder="E-mail">
								<span class="focus-border"></span>
							</div>
						</div>
						<div class="col-md-12">
							<!-- Subject -->
							<div class="mb-3 position-relative">
								<input required id="con-subject" name="subject" type="text" class="form-control" placeholder="Subject">
								<span class="focus-border"></span>
							</div>
						</div>
						<div class="col-md-12">
							<!-- Message -->
							<div class="mb-3 position-relative">
								<textarea required id="con-message" name="message" cols="40" rows="3" class="form-control" placeholder="Message"></textarea>
								<span class="focus-border"></span>
							</div>
						</div>
						<!-- submit button -->
						<div class="col-md-12 text-start"><button class="btn btn-primary btn-line" type="submit">Send Message</button></div>
					</div>
				</form>
				<!-- Form END -->
			</div>
			<!-- Footer left END -->

			<!-- Footer Right START -->
			<div class="col-md-6 mt-5 mt-md-0">
				<!-- Contact Info -->
				<h3>Like to know more?</h3>
				<p class="lead">Get in touch with us to see how we can help you with your project</p>

				<div class="d-flex flex-column flex-md-row mt-5">
				  <!-- Google map -->
					<iframe class="grayscale" height="170" width="200" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.9663095343008!2d-74.00425878428698!3d40.74076684379132!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259bf5c1654f3%3A0xc80f9cfce5383d5d!2sGoogle!5e0!3m2!1sen!2sin!4v1586000412513!5m2!1sen!2sin" style="border:0;" aria-hidden="false" tabindex="0"></iframe>
				  <div class="ms-0 ms-md-4 mt-4 mt-md-0">
						<address>1421 Coburn Hollow Road Metamora, Near Center Point, IL 61548</address>
				    <a class="text-body d-block mb-2" href="#">hello@Folio.com</a>
						<a class="text-body d-block mb-2" href="#">+(251) 854-6308</a>
						<!-- Social icons -->
						<ul class="list-unstyled list-group-inline">
							<!-- Item -->
							<li class="me-3">
								<a class="d-flex align-items-center" href="#">
									<i class="fab fa-instagram-square text-instagram-gradient display-8 me-2"></i>
									<span class="text-dark">
										<b>Follow us</b>
										<small class="mt-n1 d-block">on Instagram</small>
									</span>
								</a>
							</li>
							<!-- Item -->
							<li class="me-3">
								<a class="d-flex align-items-center text-linkedin" href="#">
									<i class="fab fa-linkedin display-8 me-2"></i>
									<span class="text-dark">
										<b>Join us</b>
										<small class="mt-n1 d-block">on LinkedIn</small>
									</span>
								</a>
							</li>
						</ul>
				  </div>
				</div>
				<!-- Copyrights -->
				<div class="mt-5">©2021 <a href="https://www.webestica.com/" target="_blank">Webestica</a>. All rights reserved</div>
			</div>
			<!-- Footer Right END -->
		</div>
	</div>
</footer>
<!-- =======================
Footer END -->

<!-- Custom cursor -->
<div class="cursor-dot-outline"></div>
<div class="cursor-dot"></div>

<!-- Back to top -->
<div class="back-top">
	<div class="scroll-line"></div>
	<span class="scoll-text">Go Up</span>
</div>

<!-- =======================
JS libraries, plugins and custom scripts -->

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="assets/vendor/glightbox/js/glightbox.js"></script>
<script src="assets/vendor/jarallax/jarallax.min.js"></script>
<script src="assets/vendor/imagerevealhover/js/demo.js"></script>
<script src="assets/vendor/imagerevealhover/js/TweenMax.min.js"></script>

<!-- Template Functions -->
<script src="assets/js/functions.js"></script>

</body>
</html>