<!DOCTYPE html>
<html lang="en">
<head>
	<title>Folio - Creative Agency Portfolio Theme</title>
	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Bootstrap based Creative Agency Portfolio Theme">

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Rubik:wght@400;500;700&family=Spartan:wght@400;700;900&display=swap" rel="stylesheet">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/animate/animate.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/tiny-slider/tiny-slider.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/aos/aos.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/glightbox/css/glightbox.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">

</head>

<body>

<!-- Pre loader -->
<div class="preloader">
	<img class="preloader-item" src="assets/images/loader/01.gif" alt="Loading">
</div>

<!-- Offcanvas full dark START -->
<div class="offcanvas offcanvas-top bg-dark" tabindex="-1" id="offcanvasFullDark" data-bs-backdrop="false" aria-labelledby="offcanvasFullDark">
	<div class="offcanvas-header position-absolute top-0 end-0 z-index-9">
	  <a class="ms-auto btn btn-primary btn-round zoom-hover" data-bs-dismiss="offcanvas" aria-label="Close">
			<i class="fas fa-times p-0"></i>
		</a>
  </div>
	<div class="offcanvas-body position-relative px-5 px-md-8 pt-3 pt-md-7">
 		<!-- Offcanvas inner START -->
			<div class="w-100 h-100 d-flex align-items-start flex-column">
				<!-- Offcanvas Menu START -->
				<ul class="nav dropdown-toggle-start-icon flex-column">
					<!-- Nav item -->
					<li class="nav-item d-block d-md-flex mb-2 position-relative">
						<a class="nav-link text-light-stroke display-5 h5 mb-0 text-primary-shadow" href="#">Home</a>
						<p class="align-self-center mt-0 mt-md-5">— Where all started!</p>
						<!-- Offcanvas dropdown toggle START -->
						<a class="dropdown-toggle collapsed" data-bs-toggle="collapse" href="#home-dropdown-collapse" role="button" aria-expanded="false" aria-controls="home-dropdown-collapse"></a>
						<!-- Offcanvas dropdown toggle END -->
					</li>
					<!-- Home menu Dropdown START -->
					<li class="collapse" id="home-dropdown-collapse">
					  <ul class="list-unstyled w-100 pb-4 pe-0 pe-lg-5">
							<li> <a class="dropdown-item px-0 text-body" href="index.html">Classic Default</a> </li>
							<li> <a class="dropdown-item px-0 text-body" href="index-2.html">Agency classic</a> </li>
							<li> <a class="dropdown-item px-0 text-body" href="index-3.html">Agency Trendy<span class="badge bg-danger ms-2">Hot</span></a> </li>
							<li> <a class="dropdown-item px-0 text-body" href="index-4.html">Agency Modern</a> </li>
							<li> <a class="dropdown-item px-0 text-body" href="index-5.html">Studio showcase</a> </li>
							<li> <a class="dropdown-item px-0 text-body" href="index-6.html">Creative agency</a> </li>
							<li> <a class="dropdown-item px-0 text-body" href="index-7.html">Digital studio</a> </li>
							<li> <a class="dropdown-item px-0 text-body" href="index-8.html">Portfolio showcase</a> </li>
							<li> <a class="dropdown-item px-0 text-body" href="index-9.html">Corporate </a> </li>
							<li> <a class="dropdown-item px-0 text-body" href="index-10.html">Personal Portfolio</a> </li>
						</ul>
					</li>
					<!-- Home menu Dropdown END -->

					<!-- Nav item -->
					<li class="nav-item d-block d-md-flex mb-2">
						<a class="nav-link text-light-stroke display-5 h5 mb-0" href="#">Work</a>
						<p class="align-self-center mt-0 mt-md-5">— So far so good</p>
					</li>
					 <!-- Nav item -->
					 <li class="nav-item d-block d-md-flex mb-2">
						<a class="nav-link text-light-stroke display-5 h5 mb-0" href="#">Services</a>
						<p class="align-self-center mt-0 mt-md-5">— With <i class="fas fa-heart"></i> and passion</p>
					</li>
					<!-- Nav item -->
					<li class="nav-item d-block d-md-flex mb-2">
						<a class="nav-link text-light-stroke display-5 h5 mb-0" href="#">Our Journal</a>
						<p class="align-self-center mt-0 mt-md-5">— What we're up to</p>
					</li>
					<!-- Nav item -->
					<li class="nav-item d-block d-md-flex mb-2">
						<a class="nav-link text-light-stroke display-5 h5 mb-0" href="#">Open Jobs</a>
						<p class="align-self-center mt-0 mt-md-5">— Join the crew</p>
					</li> 
					<!-- Nav item -->
					<li class="nav-item d-block d-md-flex mb-2">
						<a class="nav-link text-light-stroke display-5 h5 mb-0" href="#">Contact Us</a>
						<p class="align-self-center mt-0 mt-md-5">— Where to spot us</p>
					</li>
				</ul>
				<!-- Offcanvas Menu END -->

				<!-- Offcanvas bottom START -->
				<div class="mt-auto w-100 d-none d-lg-block py-4">
					<div class="d-flex justify-content-between w-100">
						<!-- Offcanvas bottom Left -->
						<ul class="list-inline mt-auto">
							<li class="list-inline-item me-2"><a class="list-group-item-action text-body" href="#">Privacy Policy</a></li>
							<li class="list-inline-item me-2"><a class="list-group-item-action text-body pe-0" href="#">Use of terms</a></li>
						</ul>
						<!-- Offcanvas bottom Right -->
						<div class="row d-flex">
							<div class="col-auto">
								<p class="mb-0">Folio Creative Agency</p>
							</div>
							<div class="col-auto">
								<p class="mb-0">1421 Coburn Hollow Road Metamora,<br> Near Center Point, IL 61548.</p>
							</div>
							<div class="col-auto">
								<a href="#" class="mb-0 d-block">hello@folio.com</a>
								<a href="#">+(251) 854-6308</a>
							</div>
						</div>
					</div>
				</div>
				<!-- Offcanvas bottom END -->
			</div>

			<!-- Offcanvas Right social START -->
			<div class="position-absolute top-50 end-0 translate-middle-y z-index-9 ms-4 d-none d-lg-block">
				<div class="list-group-inline list-unstyled rotate-90">
					<a href="#" class="list-group-item bg-transparent text-body mt-4">Facebook</a>
					<a href="#" class="list-group-item bg-transparent text-body mt-4">Twitter</a>
					<a href="#" class="list-group-item bg-transparent text-body mt-4">Dribble</a>
				</div>
			</div>
			<!-- Offcanvas Right social END -->
		
		<!-- Offcanvas inner END -->
	</div>
</div>
<!-- Offcanvas full dark END -->

<!-- =======================
Header START -->
<header class="navbar-light header-static navbar-sticky navbar-space-lg">

	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand">
		<div class="container">
			<!-- Logo START -->
			<a class="navbar-brand d-flex" href="index.html">
				<img class="navbar-brand-item" src="assets/images/logo.png" alt="Logo">
				<h6 class="smaller text-muted mb-0 ms-2 d-none d-sm-block">Digital<br>Agency</h6>
			</a>
			<!-- Logo END -->

			<!-- Nav Right START -->
			<div class="nav flex-nowrap align-items-center">
				<!-- Nav Call -->
				<div class="nav-item d-none d-lg-flex">
					<div class="flex-row mb-n1">
						<span class="me-2 text-muted">Call us:</span>
						<a href="#" class="mb-0 h6">+(251) 854-6308</a>
					</div>
				</div>
				<!-- Offcanvas Opener -->
				<div class="nav-item ms-4">
					<a class="nav-link p-0 flex-row" data-bs-toggle="offcanvas" href="#offcanvasFullDark" role="button" aria-controls="offcanvasFullDark">
						<span class="font-heading fw-bold" data-bs-target="#offcanvasFullDark">Menu</span>
						<i class="bi bi-text-right rtl-flip display-8 align-middle" data-bs-target="#offcanvasFullDark"></i>
					</a>
				</div>
				<!-- Nav Button -->
				<div class="nav-item d-none d-md-block ms-4">
					<a class="btn btn-line btn-primary btn-sm mb-0" href="#">Get a Quote</a>
				</div>
			</div>
			<!-- Nav Right END -->

		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- =======================
Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Main Banner START -->
<section class="p-0 position-relative marquee-animation-wrapper">

	<!-- Shape Decoration START -->
	<div class="position-absolute end-0 top-0 z-index-9 bg-primary-overlay-dotted p-6 me-6 mt-n4"> </div>
	<div class="position-absolute start-0 bottom-0 z-index-9 bg-dark-overlay-dotted px-6 py-5 ms-6 mb-5"> </div>
	<!-- Shape Decoration END -->

	<!-- Banner Marquee Text primary START -->
	<div class="position-absolute top-50 start-50 translate-middle overflow-hidden w-100 h-400 h-md-700 text-center">
		<h2 class="display-3 marquee-animation mt-n3 mt-md-n6">
			<a class="text-primary" href="#">01 Our Work</a> <span class="text-dark-stroke text-stroke-md">—</span>
			<a class="text-primary" href="#">02 Sp Services</a> <span class="text-dark-stroke text-stroke-md">—</span>
			<a class="text-primary" href="#">03 About Us</a> <span class="text-dark-stroke text-stroke-md">—</span>
			<a class="text-primary" href="#">04 Recent Projects</a> <span class="text-dark-stroke text-stroke-md">—</span>
			<a class="text-primary" href="#">05 Our Journal</a> <span class="text-dark-stroke text-stroke-md">—</span>
			<a class="text-primary" href="#">06 Open Jobs</a> <span class="text-dark-stroke text-stroke-md">—</span>
			<a class="text-primary" href="#">07 Contact us</a> <span class="text-dark-stroke text-stroke-md">—</span>
		</h2>
	</div>
	<!-- Banner Marquee Text primary END -->

	<!-- Banner Marquee Text and image START -->
	<div class="container-fluid px-xl-5 px-xxl-7 px-xxxl-9 text-center">
		<div class="position-relative overflow-hidden w-100 h-400 h-md-700 rounded overflow-hidden" style="background:url(assets/images/banner/01.jpg) no-repeat center center; background-size:cover;">
			<div class="position-absolute start-0 bottom-0 z-index-9 bg-primary-overlay-dotted px-6 py-5 ms-n6 mb-5"> </div>
			
			<div class="position-absolute top-50 start-50 translate-middle z-index-9">
				<h2 class="display-3 marquee-animation mt-n3 mt-md-n6">
					<a class="text-white-stroke text-stroke-md" href="#">01 Our Work</a> <span class="text-white">—</span>
					<a class="text-white-stroke text-stroke-md" href="#">02 Sp Services</a> <span class="text-white">—</span>
					<a class="text-white-stroke text-stroke-md" href="#">03 About Us</a> <span class="text-white">—</span>
					<a class="text-white-stroke text-stroke-md" href="#">04 Recent Projects</a> <span class="text-white">—</span>
					<a class="text-white-stroke text-stroke-md" href="#">05 Our Journal</a> <span class="text-white">—</span>
					<a class="text-white-stroke text-stroke-md" href="#">06 Open Jobs</a> <span class="text-white">—</span>
					<a class="text-white-stroke text-stroke-md" href="#">07 Contact us</a> <span class="text-white">—</span>
				</h2>
			</div>
		</div>
	</div>
	<!-- Banner Marquee Text and image END -->
</section>
<!-- =======================
Main banner END -->

<!-- =======================
Portfolio START-->
<section>
	<div class="container">
		<!-- Title START -->
		<div class="row">
			<div class="col-lg-7">
				<h2 class="display-5 mb-3 text-dark-stroke text-primary-shadow">Latest Projects</h2>
				<p class="mb-0">We have built a robust team, which is capable of delivering best quality of services when it comes to website design, Website development</p>
			</div>
		</div>
		<!-- Portfolio -->
		<div class="row g-0">

			<!-- Card item START -->
			<div class="col-md-6 mt-4 mt-lg-7 z-index-0 position-relative overflow-hidden">
				<div class="card border-0 bg-transparent tilt-animation"> 
					<!-- Card Image -->
					<div class="card-image overflow-hidden ms-5 ms-sm-8 position-relative z-index-9">
						<div class="reveal-item rounded" data-aos="reveal-item">
							<div class="reveal-animation reveal-end reveal-primary aos" data-aos="reveal-end"></div>
							<img class="w-100" src="assets/images/portfolio/01.jpg" alt="Portfolio image">
						</div>
						<!-- Card Overlay duplicate-->
						<div class="card-img-overlay d-flex flex-column ms-n5 ms-sm-n8">
							<div class="card-text mt-2 mt-md-6">
								<p class="display-9 mb-0 text-body font-alt fw-normal">Mobile App</p>
								<h5 class="display-8 display-lg-7 text-white-stroke">The missing link</h5>
							</div>
						</div>
					</div>
					<!-- Card Overlay -->
					<div class="card-img-overlay d-flex flex-column">
						<div class="card-text mt-2 mt-md-6">
							<p class="display-9 mb-0 text-body font-alt fw-normal">Mobile App</p>
							<h5 class="display-8 display-lg-7 text-dark-stroke">The missing link</h5>
							<a href="#" class="btn btn-primary btn-line btn-sm position-relative z-index-9 card-element-hover">View Project</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-md-6 mt-4 mt-lg-0 z-index-0 position-relative overflow-hidden">
				<div class="card border-0 bg-transparent tilt-animation"> 
					<!-- Card Image -->
					<div class="card-image overflow-hidden ms-5 ms-sm-8 position-relative z-index-9">
						<div class="reveal-item rounded" data-aos="reveal-item">
							<div class="reveal-animation reveal-end reveal-primary aos" data-aos="reveal-end"></div>
							<img class="w-100" src="assets/images/portfolio/02.jpg" alt="Portfolio image">
						</div>
						<!-- Card Overlay duplicate-->
						<div class="card-img-overlay d-flex flex-column ms-n5 ms-sm-n8">
							<div class="card-text mt-2 mt-md-6">
								<p class="display-9 mb-0 text-white font-alt fw-normal">Graphics Design</p>
								<h5 class="display-8 display-lg-7 text-white-stroke">Sam Puller Magazine</h5>
							</div>
						</div>
					</div>
					<!-- Card Overlay -->
					<div class="card-img-overlay d-flex flex-column">
						<div class="card-text mt-2 mt-md-6">
							<p class="display-9 mb-0 text-body font-alt fw-normal">Graphics Design</p>
							<h5 class="display-8 display-lg-7 text-dark-stroke">Sam Puller Magazine</h5>
							<a href="#" class="btn btn-primary btn-line btn-sm position-relative z-index-9 card-element-hover">View Project</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-md-6 mt-4 mt-lg-7 z-index-0 position-relative overflow-hidden">
				<div class="card border-0 bg-transparent tilt-animation"> 
					<!-- Card Image -->
					<div class="card-image overflow-hidden ms-5 ms-sm-8 position-relative z-index-9">
						<div class="reveal-item rounded" data-aos="reveal-item">
							<div class="reveal-animation reveal-end reveal-primary aos" data-aos="reveal-end"></div>
							<img class="w-100" src="assets/images/portfolio/03.jpg" alt="Portfolio image">
						</div>
						<!-- Card Overlay duplicate-->
						<div class="card-img-overlay d-flex flex-column ms-n5 ms-sm-n8">
							<div class="card-text mt-2 mt-md-6">
								<p class="display-9 mb-0 text-body font-alt fw-normal">Rebranding</p>
								<h5 class="display-8 display-lg-7 text-white-stroke">Of seamen and merchants</h5>
							</div>
						</div>
					</div>
					<!-- Card Overlay -->
					<div class="card-img-overlay d-flex flex-column">
						<div class="card-text mt-2 mt-md-6">
							<p class="display-9 mb-0 text-body font-alt fw-normal">Rebranding</p>
							<h5 class="display-8 display-lg-7 text-dark-stroke">Of seamen and merchants</h5>
							<a href="#" class="btn btn-primary btn-line btn-sm position-relative z-index-9 card-element-hover">View Project</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-md-6 mt-4 mt-lg-0 z-index-0 position-relative overflow-hidden">
				<div class="card border-0 bg-transparent tilt-animation"> 
					<!-- Card Image -->
					<div class="card-image overflow-hidden ms-5 ms-sm-8 position-relative z-index-9">
						<div class="reveal-item rounded" data-aos="reveal-item">
							<div class="reveal-animation reveal-end reveal-primary aos" data-aos="reveal-end"></div>
							<img class="w-100" src="assets/images/portfolio/04.jpg" alt="Portfolio image">
						</div>
						<!-- Card Overlay duplicate-->
						<div class="card-img-overlay d-flex flex-column ms-n5 ms-sm-n8">
							<div class="card-text mt-2 mt-md-6">
								<p class="display-9 mb-0 text-body font-alt fw-normal">Branding</p>
								<h5 class="display-8 display-lg-7 text-white-stroke">Pure design branding</h5>
							</div>
						</div>
					</div>
					<!-- Card Overlay -->
					<div class="card-img-overlay d-flex flex-column">
						<div class="card-text mt-2 mt-md-6">
							<p class="display-9 mb-0 text-body font-alt fw-normal">Branding</p>
							<h5 class="display-8 display-lg-7 text-dark-stroke">Pure design branding</h5>
							<a href="#" class="btn btn-primary btn-line btn-sm position-relative z-index-9 card-element-hover">View Project</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-md-6 mt-4 mt-lg-7 z-index-0 position-relative overflow-hidden">
				<div class="card border-0 bg-transparent tilt-animation"> 
					<!-- Card Image -->
					<div class="card-image overflow-hidden ms-5 ms-sm-8 position-relative z-index-9">
						<div class="reveal-item rounded" data-aos="reveal-item">
							<div class="reveal-animation reveal-end reveal-primary aos" data-aos="reveal-end"></div>
							<img class="w-100" src="assets/images/portfolio/05.jpg" alt="Portfolio image">
						</div>
						<!-- Card Overlay duplicate-->
						<div class="card-img-overlay d-flex flex-column ms-n5 ms-sm-n8">
							<div class="card-text mt-2 mt-md-6">
								<p class="display-9 mb-0 text-body font-alt fw-normal">Publishing</p>
								<h5 class="display-8 display-lg-7 text-white-stroke">The missing link</h5>
							</div>
						</div>
					</div>
					<!-- Card Overlay -->
					<div class="card-img-overlay d-flex flex-column">
						<div class="card-text mt-2 mt-md-6">
							<p class="display-9 mb-0 text-body font-alt fw-normal">Publishing</p>
							<h5 class="display-8 display-lg-7 text-dark-stroke">The missing link</h5>
							<a href="#" class="btn btn-primary btn-line btn-sm position-relative z-index-9 card-element-hover">View Project</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-md-6 mt-4 mt-lg-0 z-index-0 position-relative overflow-hidden">
				<div class="card border-0 bg-transparent tilt-animation"> 
					<!-- Card Image -->
					<div class="card-image overflow-hidden ms-5 ms-sm-8 position-relative z-index-9">
						<div class="reveal-item rounded" data-aos="reveal-item">
							<div class="reveal-animation reveal-end reveal-primary aos" data-aos="reveal-end"></div>
							<img class="w-100" src="assets/images/portfolio/06.jpg" alt="Portfolio image">
						</div>
						<!-- Card Overlay duplicate-->
						<div class="card-img-overlay d-flex flex-column ms-n5 ms-sm-n8">
							<div class="card-text mt-2 mt-md-6">
								<p class="display-9 mb-0 text-white font-alt fw-normal">e-Commerce Website</p>
								<h5 class="display-8 display-lg-7 text-white-stroke">The blossoming fashion label</h5>
							</div>
						</div>
					</div>
					<!-- Card Overlay -->
					<div class="card-img-overlay d-flex flex-column">
						<div class="card-text mt-2 mt-md-6">
							<p class="display-9 mb-0 text-body font-alt fw-normal">e-Commerce Website</p>
							<h5 class="display-8 display-lg-7 text-dark-stroke">The blossoming fashion label</h5>
							<a href="#" class="btn btn-primary btn-line btn-sm position-relative z-index-9 card-element-hover">View Project</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Mini action Box START -->
			<div class="col-12 col-lg-6 ms-auto mt-4 mt-lg-n4">
				<div class="ms-0 ms-lg-8">
					<div class="d-block w-100 h-100 text-center bg-light-overlay-dotted rounded px-6 py-5">
						<h3>Have a Project?</h3>
						<a href="#" class="btn btn-line btn-primary mb-0">Get a Quote</a>
					</div>
				</div>
			</div>
			<!-- Mini action Box END -->
		</div><!-- row END -->
	</div>
</section>
<!-- =======================
Portfolio END -->

<!-- =======================
Video START -->
<section class="mx-xl-3 mx-xxxl-9 bg-parallax bg-dark-overlay-2 py-9 rounded overflow-hidden" style="background:url(assets/images/bg/08.jpg) no-repeat center center; background-size:cover;">
	<div class="container">
		<div class="row">
			<div class="col-sm-12" >
					<div class="position-absolute top-50 start-50 translate-middle py-9">
						<a class="zoom-hover d-block" data-glightbox data-gallery="video" href="https://youtu.be/4iA0srfIru0">
							<img class="rotate-infinite" src="assets/images/play-video-light.svg" alt="play video">
							<span class="position-absolute top-50 start-50 translate-middle"><i class="bi bi-play text-white display-6"></i></span>
						</a>
					</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Video END -->

<!-- =======================
Testimonials START -->
<section>
	<div class="container">
		<div class="row position-relative">
			<!-- Title -->
			<div class="col-sm-8 mb-4 mx-auto text-center pt-4">
				<h2 class="text-dark-stroke display-6">Testimonials</h2>
			</div>
			<!-- Testimonials -->
			<div class="col-sm-12 mx-auto text-center">
				<div class="tiny-slider arrow-md-none arrow-bordered arrow-large arrow-round">
					<div class="tiny-slider-inner" data-gutter="0" data-autoplay="false" data-arrow="true" data-dots="false" data-items="1">

						<!-- Testimonial item -->
						<div class="item px-0 px-md-8">
							<div class="position-absolute top-50 start-50 translate-middle display-1 text-light z-index-n9 pb-7"><i class="fas fa-quote-left"></i></div>
							<p class="lead pt-0 pt-md-5 pb-3">Two before narrow not relied how except moment myself Dejection assurance mrs led certainly So gate at no only none open Betrayed at properly it of graceful on Dinner abroad am depart ye turned hearts as me wished Therefore allowance.</p>
							<div class="avatar">
								<img class="avatar-img rounded-circle" src="assets/images/avatar/01.jpg" alt="avatar">
							</div>
							<h6 class="text-dark mb-0 mt-3">Allen Smith</h6>
							<span class="small">Founder and CEO</span>
						</div>

						<!-- Testimonial item -->
						<div class="item px-0 px-md-8">
							<div class="position-absolute top-50 start-50 translate-middle display-1 text-light z-index-n9 pb-7"><i class="fas fa-quote-left"></i></div>
							<p class="lead pt-0 pt-md-5 pb-3">How promotion excellent curiosity yet attempted happiness Gay prosperous impression had conviction For every delay death ask style Me mean able my by in they Extremity now strangers contained breakfast him discourse additions.</p>
							<div class="avatar">
								<img class="avatar-img rounded-circle" src="assets/images/avatar/02.jpg" alt="avatar">
							</div>
							<h6 class="text-dark mb-0 mt-3">Jessica Mores</h6>
							<span class="small">Software Developer</span>
						</div>

						<!-- Testimonial item -->
						<div class="item px-0 px-md-8">
							<div class="position-absolute top-50 start-50 translate-middle display-1 text-light z-index-n9 pb-7"><i class="fas fa-quote-left"></i></div>
							<p class="lead pt-0 pt-md-5 pb-3">Of resolve to gravity thought my prepare chamber so Unsatiable entreaties collecting may sympathize nay interested instrument If continue building numerous of at relation in margaret Lasted engage roused mother an am at Other.</p>
							<div class="avatar">
								<img class="avatar-img rounded-circle" src="assets/images/avatar/03.jpg" alt="avatar">
							</div>
							<h6 class="text-dark mb-0 mt-3">Emma Watson</h6>
							<span class="small">Human Resource</span>
						</div>
					</div>
				</div>
			</div>
		</div><!-- row END -->
	</div>
</section>
<!-- =======================
Testimonials END -->

<!-- =======================
Client Logo START -->
<section class="bg-light">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="tiny-slider text-center">
					<div class="tiny-slider-inner" data-arrow="false" data-dots="false" data-gutter="80" data-items-xl="6" data-items-lg="5" data-items-md="5" data-items-sm="4" data-items-xs="2" data-autoplay="3800">
						<!-- Slide items START -->
						<div class="item"> <img class="grayscale" src="assets/images/clients/colored/01.svg" alt=""> </div>
						<div class="item"> <img class="grayscale" src="assets/images/clients/colored/02.svg" alt=""> </div>
						<div class="item"> <img class="grayscale" src="assets/images/clients/colored/03.svg" alt=""> </div>
						<div class="item"> <img class="grayscale" src="assets/images/clients/colored/04.svg" alt=""> </div>
						<div class="item"> <img class="grayscale" src="assets/images/clients/colored/05.svg" alt=""> </div>
						<div class="item"> <img class="grayscale" src="assets/images/clients/colored/06.svg" alt=""> </div>
						<div class="item"> <img class="grayscale" src="assets/images/clients/colored/07.svg" alt=""> </div>
						<!-- Slide items END -->
					</div>
				</div>
			</div>
		</div><!-- row END -->
	</div>
</section>
<!-- =======================
Client Logo END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START -->
<footer class="bg-dark pt-6 bg-dark-overlay-5 pattern-overlay-3">
	<div class="container">
		<div class="row pb-5">
			<!-- Footer left START -->
			<div class="col-md-7">
				<h2 class="display-7 text-white-stroke">Don't be shy, say hi!</h2>
				<h6 class="text-white">Have a question, a project? We'd love to discuss... </h6>
				<!-- Form START -->
				<form class="contact-form form-dark form-line mt-5" id="contact-form" name="contactform" method="POST" action="assets/include/contact-action.php">
					<!-- Main form -->
					<div class="row">
						<div class="col-md-6">
							<!-- name -->
							<div class="mb-3 position-relative">
								<input required id="con-name" name="name" type="text" class="form-control" placeholder="Name">
								<span class="focus-border"></span>
							</div>
						</div>
						<div class="col-md-6">
							<!-- email -->
							<div class="mb-3 position-relative">
								<input required id="con-email" name="email" type="email" class="form-control" placeholder="E-mail">
								<span class="focus-border"></span>
							</div>
						</div>
						<div class="col-md-12">
							<!-- Subject -->
							<div class="mb-3 position-relative">
								<input required id="con-subject" name="subject" type="text" class="form-control" placeholder="Subject">
								<span class="focus-border"></span>
							</div>
						</div>
						<div class="col-md-12">
							<!-- Message -->
							<div class="mb-3 position-relative">
								<textarea required id="con-message" name="message" cols="40" rows="6" class="form-control" placeholder="Message"></textarea>
								<span class="focus-border"></span>
							</div>
						</div>
						<!-- submit button -->
						<div class="col-md-12 text-start"><button class="btn btn-primary btn-line" type="submit">Send Message</button></div>
					</div>
				</form>
				<!-- Form END -->
			</div>
			<!-- Footer left END -->

			<!-- Footer Right START -->
			<div class="col-md-5 mt-5 mt-md-0">

				<!-- Contact Info -->
				<p class="text-secondary mb-2">Get more info @</p>
				<a class="d-block mb-3 display-9 fw-normal text-primary" href="#">hello@Folio.com</a>
				<a class="d-block mb-3 display-9 fw-normal text-white" href="#">+(251) 854-6308</a>
				<p class="lead">1421 Coburn Hollow Road Metamora, Near Center Point, IL 61548</p>

				<!-- Google map -->
				<iframe class="w-100 grayscale rounded" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.9663095343008!2d-74.00425878428698!3d40.74076684379132!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259bf5c1654f3%3A0xc80f9cfce5383d5d!2sGoogle!5e0!3m2!1sen!2sin!4v1586000412513!5m2!1sen!2sin" height="200" style="border:0;" aria-hidden="false" tabindex="0"></iframe>

				<!-- Copyrights -->
				<div class="mt-3">©2021 <a href="https://www.webestica.com/" target="_blank">Webestica</a>. All rights reserved
				</div>

			</div>
			<!-- Footer Right END -->
		</div>
	</div>
</footer>
<!-- =======================
Footer END -->

<!-- =======================
Cookies alert START -->
<div class="alert alert-dismissible fade show bg-dark text-white position-fixed start-0 bottom-0 z-index-9 shadow rounded p-4 ms-3 mb-3 col-9 col-md-3" role="alert">
  This website stores cookies on your computer. To find out more about the cookies we use, see our <a class="text-white" href="#"> Privacy Policy</a>
  <div class="mt-4">
	  <button type="button" class="btn btn-link btn-sm text-white mb-0 ps-0" data-bs-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">Accept</span>
	  </button>
	  <button type="button" class="btn btn-link btn-sm text-danger mb-0" data-bs-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">Decline</span>
	  </button>
	</div>
	<div class="position-absolute end-0 top-0 mt-n4 me-n4"><img class="w-100" src="assets/images/cookie.svg" alt="cookie"></div>
</div>
<!-- =======================
Cookies alert END -->

<!-- Custom cursor -->
<div class="cursor-dot-outline"></div>
<div class="cursor-dot"></div>

<!-- Back to top -->
<div class="back-top">
	<div class="scroll-line"></div>
	<span class="scoll-text">Go Up</span>
</div>

<!-- =======================
JS libraries, plugins and custom scripts -->

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="assets/vendor/glightbox/js/glightbox.js"></script>
<script src="assets/vendor/jarallax/jarallax.min.js"></script>
<script src="assets/vendor/tiny-slider/tiny-slider.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/tilt.js/dist/vanilla-tilt.min.js"></script>

<!-- Template Functions -->
<script src="assets/js/functions.js"></script>

</body>
</html>