<!DOCTYPE html>
<html lang="en">
<head>
	<title>Folio - Creative Agency Portfolio Theme</title>
	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Bootstrap based Creative Agency Portfolio Theme">

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Rubik:wght@400;500;700&family=Spartan:wght@400;700;900&display=swap" rel="stylesheet">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/animate/animate.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/tiny-slider/tiny-slider.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/aos/aos.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/glightbox/css/glightbox.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">

</head>

<body>

<!-- Pre loader -->
<div class="preloader">
	<div class="preloader-item">
		<h2 class="blink-animation text-primary-stroke">Loading...</h2>
	</div>
</div>

<!-- Offcanvas full light START -->
<div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasFullLight" data-bs-backdrop="false" aria-labelledby="offcanvasFullLight">
	<div class="offcanvas-header position-absolute top-0 end-0 z-index-9">
	  <a class="ms-auto btn btn-primary btn-round zoom-hover" data-bs-dismiss="offcanvas" aria-label="Close">
			<i class="fas fa-times p-0"></i>
		</a>
  </div>
	<div class="offcanvas-body position-relative px-5 px-md-8 pt-3 pt-md-7">
 		<!-- Offcanvas inner START -->
			<div class="w-100 h-100 d-flex align-items-start flex-column">
				<!-- Offcanvas Menu START -->
				<ul class="nav dropdown-toggle-start-icon flex-column">
					<!-- Nav item -->
					<li class="nav-item d-block d-md-flex mb-2 position-relative">
						<a class="nav-link text-dark-stroke display-5 h5 mb-0 text-primary-shadow" href="#">Home</a>
						<p class="align-self-center mt-0 mt-md-5">— Where all started!</p>
						<!-- Offcanvas dropdown toggle START -->
						<a class="dropdown-toggle collapsed" data-bs-toggle="collapse" href="#home-dropdown-collapse" role="button" aria-expanded="false" aria-controls="home-dropdown-collapse"></a>
						<!-- Offcanvas dropdown toggle END -->
					</li>
					<!-- Home menu Dropdown START -->
					<li class="collapse" id="home-dropdown-collapse">
						<ul class="list-unstyled w-100 pb-4 pe-0 pe-lg-5">
							<li> <a class="dropdown-item px-0" href="index.html">Classic Default</a> </li>
							<li> <a class="dropdown-item px-0" href="index-2.html">Agency classic</a> </li>
							<li> <a class="dropdown-item px-0" href="index-3.html">Agency Trendy<span class="badge bg-danger ms-2">Hot</span></a> </li>
							<li> <a class="dropdown-item px-0" href="index-4.html">Agency Modern</a> </li>
							<li> <a class="dropdown-item px-0" href="index-5.html">Studio showcase</a> </li>
							<li> <a class="dropdown-item px-0" href="index-6.html">Creative agency</a> </li>
							<li> <a class="dropdown-item px-0" href="index-7.html">Digital studio</a> </li>
							<li> <a class="dropdown-item px-0" href="index-8.html">Portfolio showcase</a> </li>
							<li> <a class="dropdown-item px-0" href="index-9.html">Corporate </a> </li>
							<li> <a class="dropdown-item px-0" href="index-10.html">Personal Portfolio</a> </li>
						</ul>
					</li>
					<!-- Home menu Dropdown END -->

					<!-- Nav item -->
					<li class="nav-item d-block d-md-flex mb-2">
						<a class="nav-link text-dark-stroke display-5 h5 mb-0" href="#">Work</a>
						<p class="align-self-center mt-0 mt-md-5">— So far so good</p>
					</li>
					 <!-- Nav item -->
					 <li class="nav-item d-block d-md-flex mb-2">
						<a class="nav-link text-dark-stroke display-5 h5 mb-0" href="#">Services</a>
						<p class="align-self-center mt-0 mt-md-5">— With <i class="fas fa-heart"></i> and passion</p>
					</li>
					<!-- Nav item -->
					<li class="nav-item d-block d-md-flex mb-2">
						<a class="nav-link text-dark-stroke display-5 h5 mb-0" href="#">Our Journal</a>
						<p class="align-self-center mt-0 mt-md-5">— What we're up to</p>
					</li>
					<!-- Nav item -->
					<li class="nav-item d-block d-md-flex mb-2">
						<a class="nav-link text-dark-stroke display-5 h5 mb-0" href="#">Open Jobs</a>
						<p class="align-self-center mt-0 mt-md-5">— Join the crew</p>
					</li> 
					<!-- Nav item -->
					<li class="nav-item d-block d-md-flex mb-2">
						<a class="nav-link text-dark-stroke display-5 h5 mb-0" href="#">Contact Us</a>
						<p class="align-self-center mt-0 mt-md-5">— Where to spot us</p>
					</li>
				</ul>
				<!-- Offcanvas Menu END -->

				<!-- Offcanvas bottom START -->
				<div class="mt-auto w-100 d-none d-lg-block py-4">
					<div class="d-flex justify-content-between w-100">
						<!-- Offcanvas bottom Left -->
						<ul class="list-inline mt-auto">
							<li class="list-inline-item me-2"><a class="list-group-item-action" href="#">Privacy Policy</a></li>
							<li class="list-inline-item me-2"><a class="list-group-item-action pe-0" href="#">Use of terms</a></li>
						</ul>
						<!-- Offcanvas bottom Right -->
						<div class="row d-flex">
							<div class="col-auto">
								<p class="mb-0">Folio Creative Agency</p>
							</div>
							<div class="col-auto">
								<p class="mb-0">1421 Coburn Hollow Road Metamora,<br> Near Center Point, IL 61548.</p>
							</div>
							<div class="col-auto">
								<a href="#" class="mb-0 d-block">hello@folio.com</a>
								<a href="#">+(251) 854-6308</a>
							</div>
						</div>
					</div>
				</div>
				<!-- Offcanvas bottom END -->
			</div>

			<!-- Offcanvas Right social START -->
			<div class="position-absolute top-50 end-0 translate-middle-y z-index-9 ms-4 d-none d-lg-block">
				<div class="list-group-inline list-unstyled rotate-90">
					<a href="#" class="list-group-item bg-transparent mt-4">Facebook</a>
					<a href="#" class="list-group-item bg-transparent mt-4">Twitter</a>
					<a href="#" class="list-group-item bg-transparent mt-4">Dribble</a>
				</div>
			</div>
			<!-- Offcanvas Right social END -->
		
		<!-- Offcanvas inner END -->
	</div>
</div>
<!-- Offcanvas full light END -->

<!-- Search START -->
<div class="search-full collapse bg-dark p-3 pb-lg-0" id="search-open">
	<div class="container position-relative">
		<h2 class="position-absolute start-0 bottom-0 mb-n5 display-1 text-white-stroke opacity-1">
			<span class="d-block">Search</span>
		</h2>
		<div class="row vh-100">
			<div class="d-flex flex-column my-auto py-5 w-100">
				<!-- Search form START -->
				<form class="form-dark form-line position-relative w-100">
					<div class="mb-3 input-group-lg input-text-white-stroke mb-0">
						<!-- Search input -->
						<input class="form-control font-heading caret-primary mb-0 pe-6" type="text" name="search" placeholder="What are you looking for?">
						<span class="focus-border"></span>
					</div>
					<!-- Search button -->
					<button type="button" class="position-absolute end-0 top-0 btn pb-3 text-primary-hover h-100">
						<i class="bi bi-search display-8"></i>
					</button>
				</form>
				<!-- Search form END -->
				<p class="small mt-2 mb-0">e.g. Template, Bootstrap, WordPress theme </p>
			</div>

			<!-- Search button close START -->
			<a class="position-fixed top-0 end-0 m-3 m-md-5 btn btn-white btn-round zoom-hover" data-bs-toggle="collapse" href="javascript:void(0)" data-bs-target="#search-open" aria-expanded="true">
				<i class="fas fa-times p-0"></i>
			</a>
			<!-- Search button close END -->
		</div>
	</div>
</div>
<!-- Search END -->

<!-- =======================
Header START -->
<header class="navbar-transparent navbar-sticky">

	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand">
		<div class="container-fluid px-0 px-md-5">
		<div class="row d-flex w-100 mx-auto">

			<div class="col-3 col-md-4 d-flex justify-content-start my-auto">
				<!-- Nav Opener-->
				<a class="text-dark flex-row text-primary-hover me-4 mt-n1" data-bs-toggle="offcanvas" href="#offcanvasFullLight" role="button" aria-controls="offcanvasFullLight">
					<i class="bi bi-text-left rtl-flip display-8 align-middle" data-bs-target="#offcanvasFullLight"></i>
					<span class="font-heading fw-bold d-none d-md-inline" data-bs-target="#offcanvasFullLight">Menu</span>
				</a>

				<!-- Visit time -->
				<div class="my-auto d-none d-xl-block" data-bs-toggle="tooltip" data-bs-animation="false" data-bs-placement="bottom" title="Sunday CLOSED">
					<span class="me-2 text-muted">Visit time:</span>
					<span class="text-dark mb-0 ">Mon-Sat 9:00-19:00</span>
				</div>
			</div>

			<div class="col-6 col-md-4 text-center">
				<!-- Logo START -->
				<a class="navbar-brand d-block" href="index.html">
					<img class="navbar-brand-item mx-auto" src="assets/images/logo.png" alt="Logo">
				</a>
				<!-- Logo END -->
			</div>

			<!-- Nav Right START -->
			<div class="col-3 col-md-4 d-flex justify-content-end">
				<div class="navbar-nav flex-row align-items-center">

					<!-- Nav Search Opener-->
					<div class="nav-item px-2 px-md-3">
						<a class="text-dark text-primary-hover" data-bs-toggle="collapse" href="javascript:void(0)" data-bs-target="#search-open">
							<i class="bi bi-search display-9 "> </i>
						</a>
					</div>

					<!-- Language Switcher-->
					<div class="nav-item px-2 px-md-3">
						<div>
							<a href="#" class="text-dark text-primary-hover me-2 border-bottom border-primary">EN</a>
							<a href="#" class="text-dark text-primary-hover">FR</a>
						</div>
					</div>

					<!-- Nav Button -->
					<div class="nav-item pe-0 ps-4 d-none d-xl-block">
						<a href="#" class=" btn btn-sm btn-dark mb-0">Get a quote</a>
					</div>

				</div>
			</div>
			<!-- Nav Right END -->

		</div>
		</div>
	</nav><!-- Logo Nav END -->
</header>
<!-- =======================
Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Main Banner START -->
<section class="position-relative overflow-hidden p-0 pattern-overlay-7">
	<div class="content vh-lg-100 h-md-600 h-500">
		<img class="content__img" src="assets/images/portfolio/trail/1.jpg" alt="Some image" />
		<img class="content__img" src="assets/images/portfolio/trail/2.jpg" alt="Some image" />
		<img class="content__img" src="assets/images/portfolio/trail/3.jpg" alt="Some image" />
		<img class="content__img" src="assets/images/portfolio/trail/4.jpg" alt="Some image" />
		<img class="content__img" src="assets/images/portfolio/trail/5.jpg" alt="Some image" />
		<img class="content__img" src="assets/images/portfolio/trail/6.jpg" alt="Some image" />
		<img class="content__img" src="assets/images/portfolio/trail/7.jpg" alt="Some image" />
		<img class="content__img" src="assets/images/portfolio/trail/8.jpg" alt="Some image" />
		<img class="content__img" src="assets/images/portfolio/trail/9.jpg" alt="Some image" />
		<img class="content__img" src="assets/images/portfolio/trail/10.jpg" alt="Some image" />
		<img class="content__img" src="assets/images/portfolio/trail/11.jpg" alt="Some image" />
		<img class="content__img" src="assets/images/portfolio/trail/12.jpg" alt="Some image" />
		<img class="content__img" src="assets/images/portfolio/trail/13.jpg" alt="Some image" />
		<img class="content__img" src="assets/images/portfolio/trail/14.jpg" alt="Some image" />
		<img class="content__img" src="assets/images/portfolio/trail/15.jpg" alt="Some image" />
		<h3 class="display-1 text-dark-stroke text-primary-shadow position-absolute top-50 start-50 translate-middle text-center z-index-99 w-100">Creative Agency</h3>

		<!-- Scoll Down -->
		<div class="scroll-down overflow-visible d-none d-md-block mx-auto start-0 bottom-0">
			<div class="scroll-line"></div>
			<span class="scoll-text">Scroll Down</span>
		</div>
	</div>
</section>
<!-- =======================
Main banner END -->

<!-- =======================
About cards START -->
<section class="bg-dark position-relative z-index-9">
	<div class="container">
		<!-- Title -->
		<div class="row">
			<div class="col-lg-6">
				<div class="text-center text-lg-end">
					<span class="font-alt fw-normal display-8 text-white">We're folio, a creative agency</span>
					<h2 class="text-white display-6">Expect nothing less than perfect</h2>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="mt-4 ps-0 ps-lg-7 text-center text-lg-start">
					<p class="lead">Our friendly team members are always willing to help you understand your present technology requirements and provide suggestions on your future needs.</p>
					<a href="#" class="btn btn-line fw-bold text-primary">Let's discuss your project</a>
				</div>
			</div>
		</div>
		<!-- About cards -->
		<div class="row mt-5 mb-n9">
			<!-- Card 1 -->
			<div class="col-lg-4">
				<div class="card mb-5 mb-lg-0">
					<img class="card-img-top" src="assets/images/about/10.jpg" alt="">
					<div class="card-body p-4">
						<div class="d-flex">
							<i class="display-8 me-3 text-primary bi bi-info-square"></i>
							<div>
								<a href="#" class="h5 my-0">Know more about us</a>
								<p class="mb-0">We're folio a creative digital agency</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Card 2 -->
			<div class="col-lg-4">
				<div class="card mb-5 mb-lg-0">
					<img class="card-img-top" src="assets/images/about/11.jpg" alt="">
					<div class="card-body p-4">
						<div class="d-flex">
							<i class="display-8 me-3 text-primary bi bi-briefcase"></i>
							<div>
								<a href="#" class="h5 my-0">Our service and products</a>
								<p class="mb-0">We provide wide range of digital services</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Card 3 -->
			<div class="col-lg-4">
				<div class="card mb-5 mb-lg-0">
					<img class="card-img-top" src="assets/images/about/12.jpg" alt="">
					<div class="card-body p-4">
						<div class="d-flex">
							<i class="display-8 me-3 text-primary bi bi-envelope-open"></i>
							<div>
								<a href="#" class="h5 my-0">Get in touch with us</a>
								<p class="mb-0">Have a project? We'd love to discuss</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- Row end -->
	</div>
</section>
<!-- =======================
About cards END -->

<!-- =======================
Testimonial START -->
<section class="bg-light position-relative overflow-hidden">
	<!-- Shape Decoration START -->
	<div class="position-absolute start-0 bottom-0 w-100 zoom-2 opacity-3 d-none d-lg-block">
		<div class="bg-dark-overlay-dotted py-3"></div>
	</div>
	<!-- Shape Decoration END -->
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto mb-5 mt-6 text-center position-relative">
			   <blockquote>
				  	<p class="mb-0 lead font-alt fw-normal display-7 fw-normal">"Sometimes when you innovate, you make mistakes. It is best to admit them quickly, and get on with improving your other innovations"</p>
				  	<footer class="mt-4">- Steve Jobs @ <cite title="Source Title">Apple Inc</cite></footer>
				  </blockquote>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Testimonial END -->

<!-- =======================
About START -->
<section>
	<div class="container">
		<div class="row justify-content-between">
			<!-- About Left -->
			<div class="col-lg-6 mb-5">
				<span class="font-alt fw-normal display-8 d-block mb-3">We are creating smart websites.</span>
				<h2 class="display-6">Bringing art to the cart_</h2>
				<p>We provide digital transformation solutions, enabling companies to make their visions reality. With us at your side, you will find the IT solution to achieve your strategic and financial goals</p>
				<div class="d-md-flex flex-md-row mb-4">
					<!-- Video START -->
					<div class="bg-primary-multiply p-4 px-y position-relative overflow-hidden text-center" >
						<a class="btn btn-primary btn-round" data-glightbox data-gallery="video" href="https://youtu.be/n_Cn8eFo7u8"> <i class="fas fa-play"></i></a>
						<h6 class="mb-0 text-white d-block w-100">Office tour</h6>
						<p class="mb-0 text-secondary small">In 02:11 min</p>
						<img class="bg-primary-multiply position-absolute top-50 start-50 translate-middle z-index-n9" src="assets/images/about/07.jpg" alt="">
					</div>
					<!-- List items -->
					<ul class="list-group list-group-borderless list-group-icon-primary-bg mt-5 mt-md-0 ms-0 ms-md-4">
						<li class="list-group-item"><i class="fas fa-check"></i>Improve productivity and performance</li>
						<li class="list-group-item"><i class="fas fa-check"></i>Get peace of mind knowing your services are in trusted hands</li>
						<li class="list-group-item"><i class="fas fa-check"></i>Reduce your service costs</li>
						<li class="list-group-item"><i class="fas fa-check"></i>Secure their enterprise platform for today and the future</li>
					</ul>
				</div>
				<p>There is nothing that can stop you from achieving what you want, except yourself. If you devote yourself to it you will achieve your goal.</p>
			</div>
			<!-- About Right -->
			<div class="col-lg-5">
				<div class="overflow-hidden position-relative">
					<img class="w-100 rounded" src="assets/images/about/04.jpg" alt="">
					<div class="position-absolute start-0 end-0 bottom-0 m-3">
						<!-- Mask text START -->
						<figure class="position-absolute start-0 end-0 bottom-0 d-block m-0">
							<svg version="1.1" viewBox="0 0 778 213" xmlns="http://www.w3.org/2000/svg">
								<defs>
									<mask id="white-masking">
										<rect width="100%" height="100%" class="fill-white"/>
										<text class="display-2" x="50%" y="45%" text-anchor="middle">
											<!-- Change your text below. Also change SVG viewBox size according to your text size -->
											<tspan x="50%" y="70%">SINCE 2005</tspan>
										</text>
									</mask>
								</defs>
								<rect width="100%" height="100%" class="fill-white" mask="url(#white-masking)"/>
							</svg>
						</figure>
						<!-- Mask text END -->
					</div>
				</div>
 			</div>
		</div>
	</div>
</section>
<!-- =======================
About END -->

<!-- =======================
Skill START -->
<section class="p-0 bg-parallax position-relative overflow-hidden bg-dark-overlay-2" style="background:url(assets/images/bg/04.jpg) no-repeat center center; background-size:cover;">
	<div class="container">
		<div class="row d-flex justify-content-between">
			<!-- Left Years info -->
			<div class="col-md-6 mt-auto position-relative">
				<div class="text-start mt-5 mb-auto pb-5">
					<h2 class="display-5 text-white-stroke text-primary-shadow"><span class="purecounter" data-purecounter-start="0" data-purecounter-delay="400" data-purecounter-duration="10" data-purecounter-end="15">0</span> Years</h2>
					<p class="text-white mt-n3 lead">in the business</p>
				</div>
			</div>
			<!-- Right skill -->
			<div class="col-md-6 bg-primary-end position-relative">
				<div class="bg-primary px-3 px-md-5 py-5 py-md-8 text-white-force position-relative">
					<span class="font-alt fw-normal display-8 d-block mb-3">We are creating smart websites.</span>
					<h2 class="display-6">Why choose us over others?</h2>
					<p>Nonscientific knowledge and experience in social media marketing. More conversation than what larger agencies provide.</p>
					<!-- Progress bar item -->
					<div class="overflow-hidden mt-4">
						<p class="mb-1 text-dark">Web Development</p>
						<div class="progress progress-md progress-percent-bg">
							<div class="progress-bar progress-bar-striped bg-dark aos" data-aos="slide-right" data-aos-delay="200" data-aos-duration="1000" data-aos-easing="ease-in-out" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
								<span class="progress-percent">80%</span>
							</div>
						</div>
					</div>
					<!-- Progress bar item -->
					<div class="overflow-hidden mt-4">
						<p class="mb-1 text-dark">UI/UX design</p>
						<div class="progress progress-md progress-percent-bg">
							<div class="progress-bar progress-bar-striped bg-dark aos" data-aos="slide-right" data-aos-delay="200" data-aos-duration="1000" data-aos-easing="ease-in-out" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width:98%">
								<span class="progress-percent">98%</span>
							</div>
						</div>
					</div>
					<!-- Progress bar item -->
					<div class="overflow-hidden mt-4">
						<p class="mb-1 text-dark">Content marketing</p>
						<div class="progress progress-md progress-percent-bg">
							<div class="progress-bar progress-bar-striped bg-dark aos" data-aos="slide-right" data-aos-delay="200" data-aos-duration="1000" data-aos-easing="ease-in-out" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
								<span class="progress-percent">90%</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- Row END -->
	</div>
</section>
<!-- =======================
Skill END -->

<!-- =======================
Team START -->
<section>
	<div class="container">
		<!-- Title -->
		<div class="row">
			<div class="col-md-8 mx-auto text-center">
				<span class="font-alt fw-normal display-8 d-block mb-3">They are all professionals</span>
				<h2 class="display-6 mb-0 mb-sm-5">Our Team and founders</h2>
			</div>
		</div>
		<!-- Team -->
		<div class="row">
			<div class="col-lg-12">
				<div class="tiny-slider dots-bordered mb-6">
					<div class="tiny-slider-inner" data-arrow="false" data-dots="true" data-items-xl="4" data-items-lg="3" data-items-md="3" data-items-sm="2" data-items-xs="1">
						<!-- Card item START -->
						<div class="item">
							<div class="card card-metro">
								<!-- Card Image -->
								<div class="card-image grayscale">
									<img src="assets/images/team/01.jpg" alt="card image">
								</div>
								<!-- Card Overlay -->
								<div class="card-img-overlay d-flex flex-column card-element-hover">
									<ul class="list-unstyled d-flex text-primary-hover justify-content-end">
										<li class="ms-3"><a class="text-white" href="#">Fb</a></li>
										<li class="ms-3"><a class="text-white" href="#">Tw</a></li>
										<li class="ms-3"><a class="text-white" href="#">Ig</a></li>
									</ul>
									<div class="mt-auto card-text">
										<h5 class="text-white">Jessica Mores</h5>
										<p class="small text-white mb-0">Founder & CEO</p>
									</div>
								</div>						
							</div>
						</div>
						<!-- Card item END -->

						<!-- Card item START -->
						<div class="item">
							<div class="card card-metro">
								<!-- Card Image -->
								<div class="card-image grayscale">
									<img src="assets/images/team/02.jpg" alt="card image">
								</div>
								<!-- Card Overlay -->
								<div class="card-img-overlay d-flex flex-column card-element-hover">
									<ul class="list-unstyled d-flex text-primary-hover justify-content-end">
										<li class="ms-3"><a class="text-white" href="#">Fb</a></li>
										<li class="ms-3"><a class="text-white" href="#">Tw</a></li>
										<li class="ms-3"><a class="text-white" href="#">Ig</a></li>
									</ul>
									<div class="mt-auto card-text">
										<h5 class="text-white">Allen Maxwell</h5>
										<p class="small text-white mb-0">Software Developer</p>
									</div>
								</div>						
							</div>
						</div>
						<!-- Card item END -->

						<!-- Card item START -->
						<div class="item">
							<div class="card card-metro">
								<!-- Card Image -->
								<div class="card-image grayscale">
									<img src="assets/images/team/03.jpg" alt="card image">
								</div>
								<!-- Card Overlay -->
								<div class="card-img-overlay d-flex flex-column card-element-hover">
									<ul class="list-unstyled d-flex text-primary-hover justify-content-end">
										<li class="ms-3"><a class="text-white" href="#">Fb</a></li>
										<li class="ms-3"><a class="text-white" href="#">Tw</a></li>
										<li class="ms-3"><a class="text-white" href="#">Ig</a></li>
									</ul>
									<div class="mt-auto card-text">
										<h5 class="text-white">Emma Watson</h5>
										<p class="small text-white mb-0">Human Resource</p>
									</div>
								</div>						
							</div>
						</div>
						<!-- Card item END -->

						<!-- Card item START -->
						<div class="item">
							<div class="card card-metro">
								<!-- Card Image -->
								<div class="card-image grayscale">
									<img src="assets/images/team/04.jpg" alt="card image">
								</div>
								<!-- Card Overlay -->
								<div class="card-img-overlay d-flex flex-column card-element-hover">
									<ul class="list-unstyled d-flex text-primary-hover justify-content-end">
										<li class="ms-3"><a class="text-white" href="#">Fb</a></li>
										<li class="ms-3"><a class="text-white" href="#">Tw</a></li>
										<li class="ms-3"><a class="text-white" href="#">Ig</a></li>
									</ul>
									<div class="mt-auto card-text">
										<h5 class="text-white">Alexa Smith</h5>
										<p class="small text-white mb-0">Project Manager</p>
									</div>
								</div>
							</div>
						</div>
						<!-- Card item END -->

						<!-- Card item START -->
						<div class="item">
							<div class="card card-metro">
								<!-- Card Image -->
								<div class="card-image grayscale">
									<img src="assets/images/team/05.jpg" alt="card image">
								</div>
								<!-- Card Overlay -->
								<div class="card-img-overlay d-flex flex-column card-element-hover">
									<ul class="list-unstyled d-flex text-primary-hover justify-content-end">
										<li class="ms-3"><a class="text-white" href="#">Fb</a></li>
										<li class="ms-3"><a class="text-white" href="#">Tw</a></li>
										<li class="ms-3"><a class="text-white" href="#">Ig</a></li>
									</ul>
									<div class="mt-auto card-text">
										<h5 class="text-white">Peter White</h5>
										<p class="small text-white mb-0">Graphics Designer</p>
									</div>
								</div>
							</div>
						</div>
						<!-- Card item END -->
					</div>
				</div>
			</div>
		</div><!-- row END -->		
	</div>
</section>
<!-- =======================
Team START -->

<!-- =======================
Testimonials and Accordion START -->
<section class="pt-4">
	<div class="container">
		<div class="row justify-content-lg-between">
			<!-- Testimonials START -->
			<div class="col-md-6 col-xl-5">
				<span class="font-alt fw-normal display-8 d-block mb-3">We are creating smart websites.</span>
				<h2 class="display-6">Start off on the right foot</h2>
				<!-- Progress bar -->
				<div class="overflow-hidden mt-5">
					<p class="mb-1 text-dark">Project delivered on time</p>
					<div class="progress progress-percent-bg progress-strip">
						<div class="progress-bar bg-primary aos" data-aos="slide-right" data-aos-delay="200" data-aos-duration="1000" data-aos-easing="ease-in-out" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:95%"><span class="progress-percent">95%</span>
						</div>
					</div>
				</div>
			</div>
			<!-- Testimonials END -->

			<!-- Accordion START -->
			<div class="col-md-6 col-xl-5">
				<div class="accordion accordion-icon" id="accordionExample">
				  <div class="accordion-item">
				    <h5 class="accordion-header" id="heading-1">
				      <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
				        How many free samples can i redeem?
				      </button>
				    </h5>
				    <div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="heading-1" data-bs-parent="#accordionExample">
				      <div class="accordion-body">
				        Due to the limited quantity, each member's account is only entitled to 1 unique free sample. You can check out up to 4 free samples in each checkout. We take such matters very seriously and will look into individual cases thoroughly.
				      </div>
				    </div>
				  </div>
				  <div class="accordion-item">
				    <h5 class="accordion-header" id="heading-2">
				      <button class="accordion-button fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
				        What are the payment methods available?
				      </button>
				    </h5>
				    <div id="collapse-2" class="accordion-collapse collapse" aria-labelledby="heading-2" data-bs-parent="#accordionExample">
				      <div class="accordion-body">
				        At the moment, we only accept Credit/Debit cards and Paypal payments. Paypal is the easiest way to make payments online. While checking out your order. Be sure to fill in correct details for fast & hassle-free payment processing.
				      </div>
				    </div>
				  </div>
				  <div class="accordion-item">
				    <h5 class="accordion-header" id="heading-3">
				      <button class="accordion-button fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
				        Can i pay without a paypal account?
				      </button>
				    </h5>
				    <div id="collapse-3" class="accordion-collapse collapse" aria-labelledby="heading-3" data-bs-parent="#accordionExample">
				      <div class="accordion-body">
				        Yes! It is commonly misunderstood that a Paypal account is needed in order to make payments through Paypal. The truth is you DO NOT need one, although we strongly recommend you sign up to enjoy the added ease of use.
				      </div>
				    </div>
				  </div>
				</div>
			</div><!-- Accordion END -->
		</div><!-- row END -->
	</div>
</section>
<!-- =======================
Testimonials and Accordion END -->

<!-- =======================
Careers Action box START -->
<section class="pt-5">
	<div class="container">
		<div class="row">
			<div class="col-12" >
				<div class="row bg-dark rounded position-relative z-index-9 py-7 px-3 px-md-6">
					<div class="col-md-8">
						<h2 class="text-white-stroke display-5">Explore Folio Careers</h2>
						<p>Join our assorted group of innovators, working together to solve enterprises’ and industries’ most challenging queries.</p>
					</div>
					<div class="col-md-4">
						<p class="lead">We offer openings across our development, production, retailing, and corporate support functions.</p>
						<a href="#" class="btn btn-primary btn-line">Discover our job offers</a>
					</div>
				</div>
				<!-- Shape Decoration START -->
				<div class="w-100">
					<div class="bg-primary rounded mt-n3 py-3"></div>
				</div>
				<!-- Shape Decoration END -->
			</div>
		</div>
	</div>
</section>
<!-- =======================
Careers Action box END -->

<!-- =======================
Client Logo START -->
<section class="pt-4 text-center">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="tiny-slider">
					<div class="tiny-slider-inner" data-arrow="false" data-dots="false" data-gutter="80" data-items-xl="6" data-items-lg="5" data-items-md="5" data-items-sm="4" data-items-xs="2" data-autoplay="3800">
						<!-- Slide items START -->
						<div class="item"> <img class="grayscale text-center" src="assets/images/clients/colored/01.svg" alt=""> </div>
						<div class="item"> <img class="grayscale text-center" src="assets/images/clients/colored/02.svg" alt=""> </div>
						<div class="item"> <img class="grayscale text-center" src="assets/images/clients/colored/03.svg" alt=""> </div>
						<div class="item"> <img class="grayscale text-center" src="assets/images/clients/colored/04.svg" alt=""> </div>
						<div class="item"> <img class="grayscale text-center" src="assets/images/clients/colored/05.svg" alt=""> </div>
						<div class="item"> <img class="grayscale text-center" src="assets/images/clients/colored/06.svg" alt=""> </div>
						<div class="item"> <img class="grayscale text-center" src="assets/images/clients/colored/07.svg" alt=""> </div>
						<!-- Slide items END -->
					</div>
				</div>
			</div>
		</div><!-- row END -->
	</div>
</section>
<!-- =======================
Client Logo END -->

<!-- =======================
Map and contact form START -->
<section class="p-0 position-relative">
	<!-- Google map iframe -->
	<iframe class="w-100 h-100 grayscale position-absolute start-0 right" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.9663095343008!2d-74.00425878428698!3d40.74076684379132!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259bf5c1654f3%3A0xc80f9cfce5383d5d!2sGoogle!5e0!3m2!1sen!2sin!4v1586000412513!5m2!1sen!2sin" style="border:0;" aria-hidden="false" tabindex="0"></iframe>
	<!-- Contact form -->
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-lg-5">
				<form class="contact-form form-line bg-white rounded p-4 p-sm-5 my-5 shadow position-relative z-index-9" id="contact-form" name="contactform" action="assets/include/contact-action.php">
					<h3 class="mb-4">Contact us</h3>
					<!-- Form message -->
					<div class="row">
						<div class="col-12">
							<div class="alert alert-success contact-msg" style="display: none" role="alert">
								Your message was sent successfully.
							</div>
						</div>
					</div>
					<!-- Main form -->
					<div class="row">
						<div class="col-md-6">
							<!-- name -->
							<div class="mb-3 position-relative">
								<input id="con-name" name="name" type="text" class="form-control" placeholder="Name">
								<span class="focus-border"></span>
							</div>
						</div>
						<div class="col-md-6">
							<!-- email -->
							<div class="mb-3 position-relative">
								<input id="con-email" name="email" type="email" class="form-control" placeholder="E-mail">
								<span class="focus-border"></span>
							</div>
						</div>
						<div class="col-md-12">
							<!-- Subject -->
							<div class="mb-3 position-relative">
								<input id="con-subject" name="subject" type="text" class="form-control" placeholder="Subject">
								<span class="focus-border"></span>
							</div>
						</div>
						<div class="col-md-12">
							<!-- Message -->
							<div class="mb-3 position-relative">
								<textarea id="con-message" name="message" cols="40" rows="3" class="form-control" placeholder="Message"></textarea>
								<span class="focus-border"></span>
							</div>
						</div>
						<!-- submit button -->
						<div class="col-md-12 text-start"><button class="btn btn-primary btn-line">Send Message</button></div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Map and contact form END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START -->
<footer class="pt-6">
	<div class="container">
		<div class="row">
			<!-- Footer Widget 1 -->
			<div class="col-sm-6 col-md-3 mb-5">
				<h3>Folio<span class="text-primary">.</span></h3>
				<p>Bootstrap based Creative Agency Portfolio Theme.</p>
				<div class="d-flex me-auto">
					<h6 class="mt-2 me-4">Follow on:</h6>
					<div class="list-group-inline list-unstyled text-primary-hover">
						<a href="#" class="list-group-item bg-transparent">Fb</a>
						<a href="#" class="list-group-item bg-transparent">Tw</a>
						<a href="#" class="list-group-item bg-transparent">Dr</a>
					</div>
				</div>
			</div>
			<!-- Footer Widget 2 -->
			<div class="col-sm-6 col-md-3 mb-5">
				<h5 class="mb-4">Our offices</h5>
				<!-- Address 1 -->
				<p class="fw-bold text-dark mb-2">New York, USA (HQ)</p>
				<address class="mb-0">750 Sing Sing Rd, Horseheads, NY, 14845</address>
				<p>Call: <a href="#" class="text-body"><u>469-537-2410</u> (Toll-free)</a> </p>
				<!-- Address 2 -->
				<p class="fw-bold text-dark mb-2">Mumbai, India</p>
				<address class="mb-0">2492 Centennial NW, Acworth, GA, 30102</address>
				<p>Call: <a href="#" class="text-body"><u>(678) 324-1251</u> (Toll-free)</a> </p>
			</div>
			<!-- Footer Widget 3 -->
			<div class="col-sm-6 col-md-3 mb-5">
				<h5 class="mb-4">Useful links</h5>
				<div class="row">
					<div class="col-6">
						<ul class="nav flex-column text-primary-hover">
							<li class="nav-item"><a class="nav-link pt-0" href="#">Our Work</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Develop</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Builder</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Market</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Support</a></li>
						</ul>
					</div>
					<div class="col-6">
						<ul class="nav flex-column text-primary-hover">
							<li class="nav-item"><a class="nav-link pt-0" href="#">About</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Career <span class="badge bg-danger ms-2">2 Job</span></a></li>
							<li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
							<li class="nav-item"><a class="nav-link" href="#">News</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Work</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- Footer Widget 4 -->
			<div class="col-sm-6 col-md-3 mb-5">
				<h5 class="mb-4">Stay in touch</h5>
				<p>Subscribe to our newsletter to receive exclusive offers.</p>
				<div class="mb-3 mb-0">
					<input class="form-control mb-3" type="email" placeholder="Enter email...">
					<button class="btn btn-dark mb-0">Join us</button>
				</div>
			</div>
			
		</div>

		<!-- Divider -->
		<div class="divider opacity-1"></div>

		<!-- Footer copyright START -->
		<div class="row align-items-center justify-content-md-between py-4">
			<div class="col-md-6">
				<div class="text-center text-md-start">©2021 <a href="https://www.webestica.com/" target="_blank">Webestica</a>. All rights reserved
				</div>
			</div>
			<div class="col-md-6">
			  <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
		      <li class="nav-item"><a class="nav-link text-body text-primary-hover" href="#">Terms</a></li>
		      <li class="nav-item"><a class="nav-link text-body text-primary-hover" href="#">Privacy</a></li>
		      <li class="nav-item"><a class="nav-link text-body text-primary-hover pe-0" href="#">Cookies</a></li>
			  </ul>
			</div>
		</div>
		<!-- Footer copyright END -->
	</div>
</footer>
<!-- =======================
Footer END -->

<!-- Custom cursor -->
<div class="cursor-dot-outline"></div>
<div class="cursor-dot"></div>

<!-- Back to top -->
<div class="back-top">
	<div class="scroll-line"></div>
	<span class="scoll-text">Go Up</span>
</div>

<!-- =======================
JS libraries, plugins and custom scripts -->

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="assets/vendor/glightbox/js/glightbox.js"></script>
<script src="assets/vendor/purecounterjs/dist/purecounter_vanilla.js"></script>
<script src="assets/vendor/jarallax/jarallax.min.js"></script>
<script src="assets/vendor/tiny-slider/tiny-slider.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/imagetraileffects/js/imagesloaded.pkgd.min.js"></script>
<script src="assets/vendor/imagetraileffects/js/TweenMax.min.js "></script>
<script src="assets/vendor/imagetraileffects/js/demo.js"></script>

<!-- Template Functions -->
<script src="assets/js/functions.js"></script>

</body>
</html>