<!DOCTYPE html>
<html lang="en">
<head>
	<title>Folio - Creative Agency Portfolio Theme</title>
	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Bootstrap based Creative Agency Portfolio Theme">

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Rubik:wght@400;500;700&family=Spartan:wght@400;700;900&display=swap" rel="stylesheet">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/animate/animate.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/tiny-slider/tiny-slider.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/aos/aos.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">

</head>

<body>

<!-- Pre loader -->
<div class="preloader">
	<div class="preloader-item">
		<div class="spinner-border"></div>
	</div>
</div>

<!-- Offcanvas end START -->
<div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasEnd" aria-labelledby="offcanvasEnd" style="background-image:url(assets/images/bg/pattern/03.png); background-position: center left; background-size: cover;">
	<div class="offcanvas-header">
	  <a class="ms-auto btn btn-primary btn-round zoom-hover" data-bs-dismiss="offcanvas" aria-label="Close">
			<i class="fas fa-times p-0"></i>
		</a>
  </div>
	<div class="offcanvas-body vh-lg-100 d-flex align-items-start flex-column px-5 px-md-6">
		<!-- Offcanvas inner START -->
		<ul class="nav dropdown-toggle-start-icon d-block flex-column mb-5">
			<li class="nav-item position-relative">
				<a href="index.html" class="nav-link text-white-stroke display-6 h5 d-block">Home</a>
				<!-- Offcanvas dropdown START -->
				<a class="dropdown-toggle collapsed" data-bs-toggle="collapse" href="#home-dropdown-collapse" role="button" aria-expanded="false" aria-controls="home-dropdown-collapse"></a>
				<li class="collapse" id="home-dropdown-collapse">
				  <ul class="list-unstyled w-100 pb-4 pe-0 pe-lg-5">
						<li> <a class="dropdown-item px-0 text-body" href="index.html">Classic Default</a> </li>
						<li> <a class="dropdown-item px-0 text-body" href="index-2.html">Agency classic</a> </li>
						<li> <a class="dropdown-item px-0 text-body" href="index-3.html">Agency Trendy<span class="badge bg-danger ms-2">Hot</span></a> </li>
						<li> <a class="dropdown-item px-0 text-body" href="index-4.html">Agency Modern</a> </li>
						<li> <a class="dropdown-item px-0 text-body" href="index-5.html">Studio showcase</a> </li>
						<li> <a class="dropdown-item px-0 text-body" href="index-6.html">Creative agency</a> </li>
						<li> <a class="dropdown-item px-0 text-body" href="index-7.html">Digital studio</a> </li>
						<li> <a class="dropdown-item px-0 text-body" href="index-8.html">Portfolio showcase</a> </li>
						<li> <a class="dropdown-item px-0 text-body" href="index-9.html">Corporate </a> </li>
						<li> <a class="dropdown-item px-0 text-body" href="index-10.html">Personal Portfolio</a> </li>
					</ul>
				</li>
				<!-- Offcanvas dropdown END -->
			<li class="nav-item">
				<a class="nav-link text-white-stroke display-6 h5" href="#">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-white-stroke display-6 h5" href="#">Work</a>
			</li>
			 <li class="nav-item">
				<a class="nav-link text-white-stroke display-6 h5" href="#">Services</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-white-stroke display-6 h5" href="#">Our Journal</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-white-stroke display-6 h5" href="#">Contact Us</a>
			</li>
		</ul>
		<div class="mt-auto mb-5">
			<a href="#" class="font-heading text-white text-primary-hover d-block mb-3">hello@folio.com</a>
			<a href="#" class="font-heading text-white text-primary-hover">+(251) 854-6308</a>
		</div>
		<!-- Offcanvas inner END -->
	</div>
</div>
<!-- Offcanvas end END -->

<!-- Search START -->
<div class="search-full collapse bg-dark p-3 pb-lg-0" id="search-open">
	<div class="container position-relative">
		<h2 class="position-absolute start-0 bottom-0 mb-n5 display-1 text-white-stroke opacity-1">
			<span class="d-block">Search</span>
		</h2>
		<div class="row vh-100">
			<div class="d-flex flex-column my-auto py-5 w-100">
				<!-- Search form START -->
				<form class="form-dark form-line position-relative w-100">
					<div class="mb-3 input-group-lg input-text-white-stroke mb-0">
						<!-- Search input -->
						<input class="form-control font-heading caret-primary mb-0 pe-6" type="text" name="search" placeholder="What are you looking for?">
						<span class="focus-border"></span>
					</div>
					<!-- Search button -->
					<button type="button" class="position-absolute end-0 top-0 btn pb-3 text-primary-hover h-100">
						<i class="bi bi-search display-8"></i>
					</button>
				</form>
				<!-- Search form END -->
				<p class="small mt-2 mb-0">e.g. Template, Bootstrap, WordPress theme </p>
			</div>

			<!-- Search button close START -->
			<a class="position-fixed top-0 end-0 m-3 m-md-5 btn btn-white btn-round zoom-hover" data-bs-toggle="collapse" href="javascript:void(0)" data-bs-target="#search-open" aria-expanded="true">
				<i class="fas fa-times p-0"></i>
			</a>
			<!-- Search button close END -->
		</div>
	</div>
</div>
<!-- Search END -->

<!-- =======================
Header START -->
<header class="navbar-light navbar-sticky">

	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-lg">
		<div class="container align-items-stretch">
			<!-- Logo START -->
			<a class="navbar-brand" href="index.html">
				<img class="navbar-brand-item" src="assets/images/logo.png" alt="Logo">
			</a>
			<!-- Logo END -->

			<!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"> </span>
		  </button>

			<!-- Main Menu START -->
			<div class="collapse navbar-collapse w-auto me-auto" id="navbarCollapse">
				<ul class="navbar-nav navbar-nav-scroll me-auto ms-0 ms-xl-4">
					
					<!-- Menu item 1 Demos -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="demosMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Demos</a>
						<div class="dropdown-menu pb-3 pb-lg-0" aria-labelledby="demosMenu" >
							<div class="d-block d-sm-flex">
								<ul class="list-unstyled w-100 pe-0 pe-lg-5">
									<li class="dropdown-header">Agency Demos</li>
									<li> <a class="dropdown-item" href="index.html">Classic Default</a> </li>
									<li> <a class="dropdown-item" href="index-2.html">Agency classic</a> </li>
									<li> <a class="dropdown-item" href="index-3.html">Agency Trendy<span class="badge bg-danger ms-2">Hot</span></a> </li>
									<li> <a class="dropdown-item" href="index-4.html">Agency Modern</a> </li>
									<li> <a class="dropdown-item" href="index-5.html">Studio showcase</a> </li>
								</ul>
								<ul class="list-unstyled w-100 pe-0 pe-lg-5">
									<li class="dropdown-header mt-3 mt-sm-0">Portfolio Demos</li>
									<li> <a class="dropdown-item" href="index-6.html">Creative agency</a> </li>
									<li> <a class="dropdown-item" href="index-7.html">Digital studio</a> </li>
									<li> <a class="dropdown-item" href="index-8.html">Portfolio showcase</a> </li>
									<li> <a class="dropdown-item" href="index-9.html">Corporate </a> </li>
									<li> <a class="dropdown-item" href="index-10.html">Personal Portfolio</a> </li>
								</ul>
							</div>
							<!-- Nav action box -->
							<div class="w-100 mt-4 d-none d-lg-flex">
								<div class="text-center bg-primary-multiply position-relative overflow-hidden px-3 py-5 w-100">
									<h4 class="mb-0 text-white">Get free quote today!</h4>
									<p class=" text-white">For quick response and more details, Feel free to contact us</p>
									<a class="btn btn-white btn-sm" target="_blank" href="https://folio.webestica.com/landing">Contact Us</a>
									<img class="bg-primary-multiply position-absolute top-50 start-50 translate-middle z-index-n9 w-100" src="assets/images/bg/03.jpg" alt="">
								</div>
							</div>
						</div>
					</li>
					
					<!-- Menu item 2 Pages -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="pagesMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
						<ul class="dropdown-menu" aria-labelledby="pagesMenu">
							<!-- About menu -->
							<li class="dropdown-submenu dropend">
								<a class="dropdown-item dropdown-toggle" href="#">About</a>
								<ul class="dropdown-menu" data-bs-popper="none">
									<li> <a class="dropdown-item" href="about.html">About Classic</a></li>
									<li> <a class="dropdown-item" href="about-advance.html">About advance</a></li>
									<li> <a class="dropdown-item" href="about-agency.html">About agency</a></li>
									<li> <a class="dropdown-item" href="approach.html">Approach</a></li>
									<li> <a class="dropdown-item" href="mission-and-vision.html">Mission and vision</a></li>
									<li> <a class="dropdown-item" href="history.html">history</a></li>
									<li> <a class="dropdown-item" href="testimonials.html">Testimonials</a></li>
									<li> <a class="dropdown-item" href="why-choose-us.html">Why choose us</a></li>
									<li> <a class="dropdown-item" href="team.html">team</a></li>
									<li> <a class="dropdown-item" href="careers.html">careers</a></li>
									<li> <a class="dropdown-item" href="careers-single.html">careers single</a></li>
								</ul>
							</li>
							<!-- Hero sections menu -->
							<li class="dropdown-submenu dropend">
								<a class="dropdown-item dropdown-toggle" href="#">Hero sections<span class="badge bg-danger ms-2">New</span></a>
								<ul class="dropdown-menu" data-bs-popper="none">
									<li><a class="dropdown-item" href="hero-01.html">Hero form</a></li>
									<li><a class="dropdown-item" href="hero-02.html">Big title & video</a></li>
									<li><a class="dropdown-item" href="hero-03.html">Split banner</a></li>
									<li><a class="dropdown-item" href="hero-04.html">Video & company info</a></li>
									<li><a class="dropdown-item" href="hero-05.html">Vector graphics</a></li>
									<li><a class="dropdown-item" href="hero-06.html">Typography intro</a></li>
									<li><a class="dropdown-item" href="hero-07.html">Overlap text</a></li>
									<li><a class="dropdown-item" href="hero-08.html">Device mockup</a></li>
									<li><a class="dropdown-item" href="hero-09.html">Split overlay</a></li>
									<li><a class="dropdown-item" href="hero-10.html">Showcase typography</a></li>
								</ul>
							</li>
							<li> <a class="dropdown-item" href="service.html">service</a></li>
							<li> <a class="dropdown-item" href="service-detail.html">Service detail</a></li>
							<!-- Blog menu -->
							<li class="dropdown-submenu dropend">
								<a class="dropdown-item dropdown-toggle" href="#">Blog<span class="badge bg-success ms-2">2 new post</span></a>
								<ul class="dropdown-menu" data-bs-popper="none">
									<li><a class="dropdown-item" href="blog-classic-3-col.html">Blog classic 3 col</a></li>
									<li><a class="dropdown-item" href="blog-metro-3-col.html">Blog metro 3 col</a></li>
									<li><a class="dropdown-item" href="blog-minimal.html">Blog minimal <span class="badge bg-success ms-2">2 new post</span></a></li>
									<li><a class="dropdown-item" href="blog-text-reveal.html">Blog text reveal</a></li>
									<li class="dropdown-divider"></li>
									<li><a class="dropdown-item" href="blog-detail.html">Blog detail</a></li>
									<li><a class="dropdown-item" href="blog-detail-minimal.html">Blog detail minimal</a></li>
								</ul>
							</li>
							<!-- About menu -->
							<li class="dropdown-submenu dropend">
								<a class="dropdown-item dropdown-toggle" href="#">Contact</a>
								<ul class="dropdown-menu" data-bs-popper="none">
									<li> <a class="dropdown-item" href="contact.html">contact</a></li>
									<li> <a class="dropdown-item" href="contact-2.html">contact 2</a></li>
									<li> <a class="dropdown-item" href="contact-3.html">Contact 3</a></li>
								</ul>
							</li>
							<li class="dropdown-submenu dropend">
								<a class="dropdown-item dropdown-toggle" href="#">Authentication</a>
								<ul class="dropdown-menu" data-bs-popper="none">
									<li> <a class="dropdown-item" href="sign-in.html">Sign in</a> </li>
									<li> <a class="dropdown-item" href="sign-up.html">Sign up</a> </li>
									<li> <a class="dropdown-item" href="password-recovery.html">Password recovery</a> </li>
								</ul>
							</li>
							<li> <a class="dropdown-item" href="pricing.html">pricing</a></li>
							<li> <a class="dropdown-item" href="faq.html">faq</a></li>
							<li> <a class="dropdown-item" href="404.html">Error 404</a></li>
							<li> <a class="dropdown-item" href="maintenance-mode.html">maintenance mode</a></li>
							<!-- Dropdown menu levels -->
							<li class="dropdown-divider"></li>
							<li class="dropdown-submenu dropend">
								<a class="dropdown-item dropdown-toggle" href="#">Dropdown levels</a>
								<ul class="dropdown-menu dropdown-menu-start" data-bs-popper="none">
									<li class="dropdown-submenu dropend">
										<a class="dropdown-item dropdown-toggle" href="#">Dropdown (end)</a>
										<ul class="dropdown-menu" data-bs-popper="none">
											<li> <a class="dropdown-item" href="#">Dropdown item</a> </li>
											<li> <a class="dropdown-item" href="#">Dropdown item</a> </li>
										</ul>
									</li>
									<li> <a class="dropdown-item" href="#">Dropdown item</a> </li>
									<li class="dropdown-submenu dropstart">
										<a class="dropdown-item dropdown-toggle" href="#">Dropdown (start)</a>
										<!-- dropdown menu open left -->
										<ul class="dropdown-menu dropdown-menu-end" data-bs-popper="none">
											<li> <a class="dropdown-item" href="#">Dropdown item</a> </li>
											<li> <a class="dropdown-item" href="#">Dropdown item</a> </li>
										</ul>
									</li>
									<li> <a class="dropdown-item" href="#">Dropdown item</a> </li>
								</ul>
							</li>
						</ul>
					</li>
					
					<!-- Menu item 3 Portfolio -->
					<li class="nav-item dropdown dropdown-fullwidth">
						<a class="nav-link dropdown-toggle" href="#" id="portfolioMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Portfolio</a>
						<div class="dropdown-menu" aria-labelledby="portfolioMenu">
							<div class="container">
								<div class="row g-0 flex-fill">
									<div class="col-sm-6 col-lg-3">
										<ul class="list-unstyled mb-4 mb-lg-0">
											<li class="dropdown-header">Portfolio Classics</li>
											<li> <a class="dropdown-item" href="portfolio-classic-grid-3-col.html">Portfolio Classic grid 3 col</a> </li>
											<li> <a class="dropdown-item" href="portfolio-classic-grid-4-col.html">Portfolio Classic grid 4 col</a> </li>
											<li> <a class="dropdown-item" href="portfolio-classic-grid-6-col-fullwidth.html">Portfolio Classic grid 6 col</a> </li>
											<li> <a class="dropdown-item" href="portfolio-classic-masonry-3-col.html">Portfolio Classic Masonry 3 col</a> </li>
											<li> <a class="dropdown-item" href="portfolio-classic-masonry-4-col.html">Portfolio Classic Masonry 4 col</a> </li>
											<li> <a class="dropdown-item" href="portfolio-classic-masonry-6-col-fullwidth.html">Portfolio Classic Masonry 6 col</a> </li>
											<li> <a class="dropdown-item" href="portfolio-metro-grid-3-col.html">Portfolio Metro grid 3 col</a> </li>
											<li> <a class="dropdown-item" href="portfolio-metro-grid-4-col.html">Portfolio Metro grid 4 col</a> </li>
											<li> <a class="dropdown-item" href="portfolio-metro-grid-filter.html">Portfolio Metro grid filter</a> </li>
										</ul>
									</div>
									<div class="col-sm-6 col-lg-3">
										<ul class="list-unstyled mb-4 mb-lg-0">
											<li class="dropdown-header">Portfolio Advance</li>
											<li> <a class="dropdown-item" href="portfolio-overlap.html">Portfolio Overlap</a> </li>
											<li> <a class="dropdown-item" href="portfolio-overlap-reveal.html">Portfolio Overlap reveal</a> </li>
											<li> <a class="dropdown-item" href="portfolio-overlap-tilt.html">Portfolio Overlap Tilt</a> </li>
											<li> <a class="dropdown-item" href="portfolio-broken-grid.html">Portfolio broken grid</a> </li>
											<li> <a class="dropdown-item" href="portfolio-text-reveal.html">Portfolio text reveal <span class="badge bg-danger ms-2">Trendy</span></a> </li>
											<li> <a class="dropdown-item" href="portfolio-full-width-dark.html">Portfolio full dark</a> </li>
											<li> <a class="dropdown-item" href="portfolio-grid-uneven.html">Portfolio Uneven</a> </li>
											<li> <a class="dropdown-item" href="portfolio-slider.html">Portfolio Slider</a> </li>
										</ul>
									</div>
									<div class="col-sm-6 col-lg-3">
										<ul class="list-unstyled mb-4 mb-lg-0">
											<li class="dropdown-header">Portfolio Detail pages</li>
											<li> <a class="dropdown-item" href="portfolio-detail-1.html">Portfolio detail 01</a> </li>
											<li> <a class="dropdown-item" href="portfolio-detail-2.html">Portfolio detail 02</a> </li>
											<li> <a class="dropdown-item" href="portfolio-case-study-1.html">Portfolio case study 01</a> </li>
											<li> <a class="dropdown-item" href="portfolio-case-study-2.html">Portfolio case study 02</a> </li>
											<li> <a class="dropdown-item" href="portfolio-case-study-3.html">Portfolio case study 03</a> </li>
											<li> <a class="dropdown-item" href="portfolio-case-study-4.html">Portfolio case study 04</a> </li>
										</ul>
									</div>
									<div class="col-sm-6 col-lg-3">
										<ul class="list-unstyled">
											<li class="dropdown-header">Portfolio hover & Element</li>
											<li> <a class="dropdown-item" href="portfolio-classic-grid-3-col.html">Hover: Classic</a> </li>
											<li> <a class="dropdown-item" href="portfolio-overlap-tilt.html">Hover: Tilt Animation</a> </li>
											<li> <a class="dropdown-item" href="portfolio-grayscale.html">Hover: Grayscale</a> </li>
											<li> <a class="dropdown-item" href="portfolio-color-overlay.html">Hover: Color Overlay</a> </li>
											<li> <a class="dropdown-item" href="portfolio-text-reveal.html">Hover: Text reveal</a> </li>
											<li> <a class="dropdown-item" href="portfolio-hover-inside.html">Hover: Card inside</a> </li>
											<li> <a class="dropdown-item" href="portfolio-appear.html">Scroll: Appear Animation</a> </li>
											<li> <a class="dropdown-item" href="portfolio-overlap-reveal.html">Scroll: Reveal Animation</a> </li>
											<li> <a class="dropdown-item" href="elements-pagination.html">Pagination Styles</a> </li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</li>

					<!-- Menu item 4 Elements -->
					<li class="nav-item dropdown dropdown-fullwidth">
						<a class="nav-link dropdown-toggle" href="#" id="elementsMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Elements</a>
						<div class="dropdown-menu" aria-labelledby="elementsMenu">
							<div class="container">
								<div class="row g-0 flex-fill">
									<div class="col-sm-6 col-lg-3">
										<ul class="list-unstyled">
											<li> <a class="dropdown-item" href="elements-accordion.html"><i class="far fa-plus-square fa-fw me-2"></i>Accordion</a> </li>
											<li> <a class="dropdown-item" href="elements-action-box.html"><i class="fas fa-paperclip fa-fw me-2"></i>Action box</a> </li>
											<li> <a class="dropdown-item" href="elements-alerts.html"><i class="fas fa-exclamation-triangle fa-fw me-2"></i>Alerts</a> </li>
											<li> <a class="dropdown-item" href="elements-animation.html"><i class="fas fa-radiation-alt fa-fw me-2"></i>Animation</a> </li>
											<li> <a class="dropdown-item" href="elements-avatar.html"><i class="far fa-user fa-fw me-2"></i>Avatar</a> </li>
											<li> <a class="dropdown-item" href="elements-blockquote.html"><i class="fas fa-quote-right fa-fw me-2"></i>Blockquote</a> </li>
											<li> <a class="dropdown-item" href="elements-breadcrumbs.html"><i class="fas fa-angle-right fa-fw me-2"></i>breadcrumbs</a> </li>
											<li> <a class="dropdown-item" href="elements-buttons.html"><i class="fas fa-link fa-fw me-2"></i>Buttons</a> </li>
											<li> <a class="dropdown-item" href="elements-cards.html"><i class="far fa-window-restore fa-fw me-2"></i>Cards</a> </li>
										</ul>
									</div>
									<div class="col-sm-6 col-lg-3">
										<ul class="list-unstyled">
											<li> <a class="dropdown-item" href="elements-clients.html"><i class="fas fa-user-tie fa-fw me-2"></i>Clients</a> </li>
											<li> <a class="dropdown-item" href="elements-counter.html"><i class="fas fa-sort-numeric-up-alt fa-fw me-2"></i>Counter</a> </li>
											<li> <a class="dropdown-item" href="elements-decorations.html"><i class="fas fa-spray-can fa-fw me-2"></i>decorations</a> </li>
											<li> <a class="dropdown-item" href="elements-divider.html"><i class="fas fa-cut fa-fw me-2"></i>Divider</a> </li>
											<li> <a class="dropdown-item" href="elements-feature-box.html"><i class="fas fa-newspaper fa-fw me-2"></i>Feature box</a> </li>
											<li> <a class="dropdown-item" href="elements-forms.html"><i class="far fa-clipboard fa-fw me-2"></i>Forms</a> </li>
											<li> <a class="dropdown-item" href="elements-forms-layout.html"><i class="fab fa-wpforms fa-fw me-2"></i>Forms layout</a> </li>
											<li> <a class="dropdown-item" href="elements-google-map.html"><i class="fas fa-map fa-fw me-2"></i>Google Map</a> </li>
											<li> <a class="dropdown-item" href="elements-list-group.html"><i class="fas fa-list fa-fw me-2"></i>list group</a> </li>
										</ul>
									</div>
									<div class="col-sm-6 col-lg-3">
										<ul class="list-unstyled">
											<li> <a class="dropdown-item" href="elements-modals.html"><i class="fas fa-search-plus fa-fw me-2"></i>Modals popup</a> </li>
											<li> <a class="dropdown-item" href="elements-offcanvas.html"><i class="fas fa-bars fa-fw me-2"></i>Offcanvas menus</a> </li>
											<li> <a class="dropdown-item" href="elements-pagination.html"><i class="fas fa-ellipsis-h fa-fw me-2"></i>Pagination</a> </li>
											<li> <a class="dropdown-item" href="elements-preloader.html"><i class="fas fa-spinner fa-spin fa-fw me-2"></i>Pre loaders</a> </li>
											<li> <a class="dropdown-item" href="elements-process.html"><i class="fas fa-tasks fa-fw me-2"></i>Process (Work Step)</a> </li>
											<li> <a class="dropdown-item" href="elements-progress.html"><i class="fas fa-grip-lines fa-fw me-2"></i>progress bar</a> </li>
											<li> <a class="dropdown-item" href="elements-social-icons.html"><i class="fas fa-share-alt fa-fw me-2"></i>social icons</a> </li>
											<li> <a class="dropdown-item" href="elements-tables.html"><i class="fas fa-table fa-fw me-2"></i>Tables</a> </li>
											<li> <a class="dropdown-item" href="elements-tabs.html"><i class="fas fa-toggle-on fa-fw me-2"></i>Tabs and Navs</a> </li>
										</ul>
									</div>
									<div class="col-sm-6 col-lg-3">
										<ul class="list-unstyled">
											<li> <a class="dropdown-item" href="elements-typing-headlines.html"><i class="fas fa-i-cursor blink-animation fa-fw me-2"></i>Typing headlines</a> </li>
											<li> <a class="dropdown-item" href="elements-typography.html"><i class="fas fa-font fa-fw me-2"></i>Typography</a> </li>
											<li> <a class="dropdown-item" href="elements-video.html"><i class="fas fa-file-video fa-fw me-2"></i>Video</a> </li>
											<li> <a class="dropdown-item" href="elements-video-background.html"><i class="fas fa-photo-video fa-fw me-2"></i>Video background</a> </li>
											<li class="dropdown-divider"></li>
											<li class="dropdown-header mb-0">Plugins</li>
											<li> <a class="dropdown-item" href="elements-glightbox.html"><i class="fas fa-expand fa-fw me-2"></i>GLightbox popup</a> </li>
											<li> <a class="dropdown-item" href="elements-isotope.html"><i class="fas fa-sliders-h fa-fw me-2"></i>Isotope (Filters & Masonry)</a> </li>
											<li> <a class="dropdown-item" href="elements-tiny-slider.html"><i class="far fa-arrow-alt-circle-right fa-fw me-2"></i>Tiny slider</a> </li>
										</ul>
									</div>
									<div class="col-12 mt-3">
										<div class="bg-dark p-5 pb-4 w-100 pattern-overlay-1">
											<div class="row d-md-flex justify-content-center">
												<h5 class="col-md-4 text-white mb-4">Discover Folio - It's easier than you might think.</h5>
												<p class="col-md-3 text-white">Start right away to create your dream website hassle free. Grab yours now.</p>
												<div class="col-md-3 text-md-end">
													<a class="btn btn-line btn-primary" href="#">Purchase Folio!</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>		
								
					<!-- Menu item 5 Docs-->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="docMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Help</a>
						<ul class="dropdown-menu pb-0 dropdown-menu-sm-end" data-bs-popper="none" aria-labelledby="docMenu">
							<li> 
								<a class="dropdown-item ps-4" href="https://support.webestica.com/" target="_blank">
									<div class="d-flex">
										<i class="display-8 mt-n1 me-3 text-primary fa-fw bi bi-chat-right-text"></i>
										<div>
											<h6 class="my-0">Support<i class="fas fa-external-link-square-alt text-body ms-2"></i></h6>
											<p class="small text-body d-none d-md-block mb-0">Contact us through our Support portal</p>
										</div>
									</div>
								</a> 
							</li>
							<li class="dropdown-divider"></li>
							<li> 
								<div class="dropdown-item ps-4">
									<div class="d-flex mb-2">
										<i class="display-8 mt-n1 me-3 text-primary fa-fw bi bi-book-half"></i>
										<div>
											<h6 class="my-0">Folio Doc</h6>
											<p class="small text-body d-none d-md-block">General instruction about theme and support</p>
											<a class="dropdown-item px-0" href="https://folio.webestica.com/docs/index.html">Introduction</a> 
											<a class="dropdown-item px-0" href="https://folio.webestica.com/docs/index.html">Directory structure</a> 
											<a class="dropdown-item px-0" href="https://folio.webestica.com/docs/gulp.html">Gulp</a> 
											<a class="dropdown-item px-0" href="https://folio.webestica.com/docs/customization.html">Customization</a> 
											<a class="dropdown-item px-0" href="https://folio.webestica.com/docs/color-scheme.html">Color Scheme</a> 
											<a class="dropdown-item px-0" href="https://folio.webestica.com/docs/changelog.html">changelog</a> 
										</div>
									</div>
								</div> 
							</li>
							<li class="bg-light pt-3"> 
								<a class="dropdown-item ps-4" href="https://getbootstrap.com/docs" target="_blank">
									<div class="d-flex">
										<i class="display-8 mt-n2 me-3 text-primary fa-fw bi bi-bootstrap"></i>
										<div>
											<h6 class="my-0">Bootstrap Doc<i class="fas fa-external-link-square-alt text-body ms-2"></i></h6>
											<p class="small text-body d-none d-md-block">Checkout Bootstrap official Doc</p>
										</div>
									</div>
								</a> 
							</li>
						</ul>
					</li>

					<!-- Menu item 6 link-->
					<li class="nav-item">	<a class="nav-link" href="contact.html">Contact</a></li>
				</ul>
			</div>
			<!-- Main Menu END -->

			<!-- Nav right START -->
			<div class="nav flex-nowrap align-items-center bg-primary-end position-relative ps-4 ms-4">
				<!-- Call -->
				<div class="nav-item d-none d-lg-flex">
					<div class="flex-row mb-n1">
						<span class="me-2 text-white">Call us:</span>
						<a href="#" class="text-white mb-0 h6">+(251) 854-6308</a>
					</div>
				</div>
				<!-- Nav Search Opener-->
				<div class="nav-item">
					<a class="nav-link text-white ms-2" data-bs-toggle="collapse" href="javascript:void(0)" data-bs-target="#search-open">
						<i class="bi bi-search display-9 "> </i>
					</a>
				</div>
				<!-- Nav Button -->
				<div class="nav-item d-none d-xl-block">
					<a href="#" class="btn btn-sm btn-dark mb-0 mx-2">Buy Now!</a>
				</div>
				<!-- Nav side Opener -->
				<div class="nav-item">
					<a class="nav-link text-white pe-0" data-bs-toggle="offcanvas" href="#offcanvasEnd" role="button" aria-controls="offcanvasEnd">
						<i class="bi bi-text-right rtl-flip display-8" data-bs-target="#offcanvasEnd"></i>
					</a>
				</div>
			</div>
			<!-- Nav right END -->
		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- =======================
Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Main Banner START-->
<section class="position-relative bg-dark p-0">
	<!-- Email link left -->
	<div class="position-absolute bottom-0 start-0 m-6 z-index-9 d-none d-xxl-block">
		<a href="#" class="text-white lead">support@folio.com</a>
	</div>
	<!-- Social sites link right -->
	<div class="position-absolute bottom-0 end-0 m-6 z-index-9 d-none d-xxl-block">
		<div class="d-flex">
			<h6 class="text-white mt-2 me-4">Follow us:</h6>
			<div class="list-group-inline list-unstyled text-primary-hover">
				<a href="#" class="list-group-item text-white bg-transparent">Fb</a>
				<a href="#" class="list-group-item text-white bg-transparent">Tw</a>
				<a href="#" class="list-group-item text-white bg-transparent me-0">In</a>
			</div>
		</div>
	</div>

	<!-- Banner START -->
	<div class="tiny-slider dots-white dots-bordered dots-end">
		<div class="tiny-slider-inner h-500 h-sm-600 h-lg-800" data-autoplay="true" data-autoplaytime="7000" data-gutter="0" data-arrow="false" data-dots="true" data-items="1">

			<!-- Slide 1 START -->
			<div class="h-500 h-sm-600 h-lg-800 bg-dark-overlay-4 bg-dark" style="background-image:url(assets/images/bg/03.jpg); background-position: center center; background-size: cover;">
				<div class="container h-100">
					<div class="row d-flex h-100">
						<div class="col-md-8 col-xl-7 justify-content-center align-self-center align-items-start">
							<div class="slider-content text-start">
								<h2 class="animate__animated animate__fadeInUp text-white display-3 d-block"><span class="text-white-stroke">We scale</span> Brands</h2>
								<p class="animate__animated animate__fadeInUp animate__delay-1s lead text-white mt-0 mt-md-4">We're digital creative agency. We help our customers better manage their web presence in order to achieve greater success online.</p>
								<div class="animate__animated animate__fadeInUp mt-4 animate__delay-2s"><a href="#" class="btn btn-primary btn-lg btn-line">How it works</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Slide 1 END -->

			<!-- Slide 2 START -->
			<div class="h-100 bg-dark-overlay-4 bg-dark" style="background-image:url(assets/images/bg/10.jpg); background-position: center center; background-size: cover;">
				<div class="container h-100">
					<div class="row d-flex h-100">
						<div class="col-md-8 col-xl-7 justify-content-center align-self-center align-items-start">
							<div class="slider-content text-start">
								<h2 class="animate__animated animate__fadeInUp text-white display-4 d-block"><span class="text-white bg-primary px-2 pt-3">We create</span> Difference</h2>
								<p class="animate__animated animate__fadeInUp animate__delay-1s lead text-white mt-0 mt-md-4">Building a strong brand. Distinctive, recognizable and consistent. Effective communication campaigns that activate your target group.</p>
								<div class="animate__animated animate__fadeInUp mt-4 animate__delay-2s"><a href="#" class="btn btn-white btn-lg btn-line">Get a quote</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Slide 2 END -->
			
		</div>
	</div>
</section>
<!-- =======================
Main banner END-->

<!-- =======================
About START -->
<section>
	<div class="container">
		<div class="row d-flex justify-content-lg-between">

			<!-- About left -->
			<div class="col-md-6 col-xl-5">
				<!-- Since text -->
				<span class="font-alt fw-normal display-8 bg-light text-primary float-start d-inline-block mb-n5 ms-lg-n2 px-3 rotate-10 z-index-9 position-relative">Passion, dedication & a lot of coffee 🤘</span>
				
				<!-- Image -->
				<div class="reveal-item bg-light rounded" data-aos="reveal-item">
					<div class="reveal-animation reveal-end reveal-primary aos" data-aos="reveal-end"></div>
					<img class="rounded w-100" src="assets/images/about/06.jpg" alt="Portfolio image">
				</div>
				<!-- Text -->
				<div class="mt-n6 ms-3 position-relative z-index-9">
					<span class="bg-dark text-white p-2">Making clients happy since</span>
					<h2 class="display-4 text-dark-stroke text-primary-shadow">2003</h2>
				</div>
			</div>

			<!-- About Right -->
			<div class="col-md-6">
				<!-- Title -->
				<span class="font-alt fw-normal display-8 d-block mb-3 mt-4">We are creating smart websites.</span>
				<h2 class="display-7">Start off on the right foot</h2>
				
				<!-- Tab START -->
				<div class="mt-5 mt-md-0">
					<ul class="nav nav-tabs nav-tabs-line">
						<li class="nav-item"> <a class="nav-link active" data-bs-toggle="tab" href="#tab-7-1"><i class="far fa-edit me-2"></i>Work process</a> </li>
						<li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#tab-7-2"><i class="far fa-folder-open me-2"></i>Our vision</a> </li>
						<li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#tab-7-3"><i class="far fa-sun me-2"></i>Our goal</a> </li>
					</ul>
					<div class="tab-content mb-0">
						<div class="tab-pane show active" id="tab-7-1">
							<h5>The process that acquaints our exciting results </h5>
							<p>Our friendly team members are always willing to help you understand your present technology requirements and provide suggestions on your future needs.</p>
							<ul class="list-group list-group-borderless list-group-icon-primary-bg my-4">
								<li class="list-group-item"><span>01</span>Collect Information from all around</li>
								<li class="list-group-item"><span>02</span>Effective procedures for a positive result</li>
								<li class="list-group-item"><span>03</span>Making a thriving launch</li>
								<li class="list-group-item"><span>04</span>Steadily climbing up the mountain</li>
							</ul>
						</div>
						<div class="tab-pane" id="tab-7-2">
							<h5>Our Mission & Vision</h5>
							<p> Tried law yet style child. The bore of true of no be deal. Frequently sufficient to be unaffected. The furnished she concluded depending procuring concealed. </p>
							<blockquote class="blockquote mt-4">
							  <p class="mb-0">Sometimes when you innovate, you make mistakes. It is best to admit them quickly, and get on with improving your other innovation</p>
							  <footer class="blockquote-footer">Steve Jobs @ <cite title="Source Title">Apple Inc</cite></footer>
							</blockquote>
						</div>
						<div class="tab-pane" id="tab-7-3">
							<p>We have a strong foundation built on legacy and emerging technologies, including excellent track record of on-time deliveries. We are emerging as one of the most promising private talent sourcing and management firms in the world. The real challenge before companies in today's world is to make their products and services appealing to everyone.</p>
							<div class="d-flex">
							  <i class="display-5 text-primary bi bi-bullseye"></i>
							  <div class="mt-3 ms-4">
							    <p class="lead">"Transform your enterprise with resolutions tailored to your requirements & goals."</p>
							  </div>
							</div>
						</div>
					</div>
				</div>	
				<!-- Tab END -->
			</div>
		</div>
	</div>
</section>
<!-- =======================
About END -->

<!-- =======================
Services START -->
<section class="pt-0">
	<div class="container">
		<div class="row">
			<!-- Service item -->
			<div class="col-md-4 mb-4">
				<i class="display-6 text-primary bi bi-sliders"></i>
				<h4 class="my-3">Enterprise digital asset management</h4>
				<p>Smart use of data & technology for the automation of your business. Two before narrow not relied how except moment myself Dejection assurance</p>
			</div>
			<!-- Service item -->
			<div class="col-md-4 mb-4">
				<i class="display-6 text-primary bi bi-droplet-half"></i>
				<h4 class="my-3">UI/UX app design & graphics design</h4>
				<p>The right mix of resources for achieving your online goals. Mrs led certainly So gate at no only none open Betrayed at properly it of graceful</p>
			</div>
			<!-- Service item -->
			<div class="col-md-4 mb-4">
				<i class="display-6 text-primary bi bi-graph-up"></i>
				<h4 class="my-3">Google Analytics Measurement Protocol</h4>
				<p>Achieving your online goals for the automation of your business Dinner abroad am depart ye turned hearts as me wished Therefore allowance</p>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Services END -->

<!-- =======================
Portfolio START -->
<section class="bg-dark pattern-overlay-5">
	<div class="container">
		<!-- Title -->
		<div class="row text-center">
			<div class="col-md-8 mx-auto mb-7">
				<span class="font-alt fw-normal text-white display-8 d-block">We are creating smart websites.</span>
				<h2 class="display-7 text-white mb-5">See what we've done.</h2>
			</div>
		</div>
	</div>
</section>
<section class="mb-9 mt-n9 pt-0 position-relative z-index-9">
	<div class="container">
		<div class="row g-0 mb-n9">

			<!-- Card item START -->
			<div class="col-sm-6 col-md-4">
				<div class="card">
					<div class="position-relative">
						<!-- Card Image -->
						<img class="card-img-top rounded-0" src="assets/images/portfolio/06.jpg" alt="card image">
					</div>
					<!-- Card body -->
					<div class="card-body position-absolute bottom-0 w-100 card-element-hover">
						<div class="p-4 bg-white">
							<p class="display-9 font-alt fw-normal">Furniture</p>
							<h5 class="card-title"><a href="#">Unique wooden pieces of furniture</a></h5>
							<a href="#" class="btn btn-line text-dark">Read More</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-sm-6 col-md-4">
				<div class="card">
					<div class="position-relative">
						<!-- Card Image -->
						<img class="card-img-top rounded-0" src="assets/images/portfolio/11.jpg" alt="card image">
					</div>
					<!-- Card body -->
					<div class="card-body position-absolute bottom-0 w-100 card-element-hover">
						<div class="p-4 bg-white">
							<p class="display-9 font-alt fw-normal">Website</p>
							<h5 class="card-title"><a href="#">Thinking forward in a circle </a></h5>
							<a href="#" class="btn btn-line text-dark">Read More</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-sm-6 col-md-4">
				<div class="card">
					<div class="position-relative">
						<!-- Card Image -->
						<img class="card-img-top rounded-0" src="assets/images/portfolio/05.jpg" alt="card image">
					</div>
					<!-- Card body -->
					<div class="card-body position-absolute bottom-0 w-100 card-element-hover">
						<div class="p-4 bg-white">
							<p class="display-9 font-alt fw-normal">Food / Branding</p>
							<h5 class="card-title"><a href="#">Art collector and architect</a></h5>
							<a href="#" class="btn btn-line text-dark">Read More</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-sm-6 col-md-4">
				<div class="card">
					<div class="position-relative">
						<!-- Card Image -->
						<img class="card-img-top rounded-0" src="assets/images/portfolio/04.jpg" alt="card image">
					</div>
					<!-- Card body -->
					<div class="card-body position-absolute bottom-0 w-100 card-element-hover">
						<div class="p-4 bg-white">
							<p class="display-9 font-alt fw-normal">Branding</p>
							<h5 class="card-title"><a href="#">A master of his own craft</a></h5>
							<a href="#" class="btn btn-line text-dark">Read More</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-sm-6 col-md-4">
				<div class="card">
					<div class="position-relative">
						<!-- Card Image -->
						<img class="card-img-top rounded-0" src="assets/images/portfolio/03.jpg" alt="card image">
					</div>
					<!-- Card body -->
					<div class="card-body position-absolute bottom-0 w-100 card-element-hover">
						<div class="p-4 bg-white">
							<p class="display-9 font-alt fw-normal">Graphics</p>
							<h5 class="card-title"><a href="#">A tale of dual addresses</a></h5>
							<a href="#" class="btn btn-line text-dark">Read More</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="col-sm-6 col-md-4">
				<div class="card">
					<div class="position-relative">
						<!-- Card Image -->
						<img class="card-img-top rounded-0" src="assets/images/portfolio/02.jpg" alt="card image">
					</div>
					<!-- Card body -->
					<div class="card-body position-absolute bottom-0 w-100 card-element-hover">
						<div class="p-4 bg-white">
							<p class="display-9 font-alt fw-normal">Restaurant</p>
							<h5 class="card-title"><a href="#">It’s gonna be extraordinary </a></h5>
							<a href="#" class="btn btn-line text-dark">Read More</a>
						</div>
					</div>
				</div>
			</div>
			<!-- Card item END -->

		</div>
	</div>
</section>
<!-- =======================
Portfolio END -->

<!-- =======================
Work Process START -->
<section class="bg-light pattern-overlay-7 pb-2">
	<div class="container">
		<div class="row">
			<!-- Step item -->
			<div class="col-sm-12 col-md-4 mb-5">
				<div class="d-flex">
				  <h2 class="display-3 mt-lg-n3 me-3 text-light-stroke text-light-shadow">01</h2>
				  <div>
				    <h4>Research and analytics</h4>
						<p>We start with Research also to image Seas Void Great day sea don't creature</p>
				  </div>
				</div>
			</div>
			<!-- Step item -->
			<div class="col-sm-12 col-md-4 mb-5">
				<div class="d-flex">
				  <h2 class="display-3 mt-lg-n3 me-3 text-light-stroke text-light-shadow">02</h2>
				  <div>
				    <h4>Design and Develop</h4>
						<p>In this step  our Them Subdue you life created day given light gathering</p>
				  </div>
				</div>
			</div>
			<!-- Step item -->
			<div class="col-sm-12 col-md-4 mb-5">
				<div class="d-flex">
				  <h2 class="display-3 mt-lg-n3 me-3 text-light-stroke text-light-shadow">03</h2>
				  <div>
				    <h4>Testing and Launch</h4>
						<p>Final step of success firmament of also it great have set behold land third </p>
				  </div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Work Process END -->

<!-- =======================
Blog START -->
<section>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<span class="font-alt fw-normal display-8">Ideas, stories and thoughts </span>
				<h2 class="display-7 mb-5">Latest Blogs</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="tiny-slider dots-bordered mb-7">
					<div class="tiny-slider-inner" data-autoplay="false" data-arrow="false" data-dots="true" data-items-xl="3" data-items-md="2" data-items-sm="2" data-items-xs="1">

							<!-- Card item START -->
						<div class="item">
							<div class="card card-metro">
								<!-- Card Image -->
								<div class="card-image">
									<img src="assets/images/blog/01.jpg" alt="card image">
								</div>
								<!-- Card Overlay -->
								<div class="card-img-overlay d-flex flex-column">
									<div class="mt-auto card-text">
										<!-- Featured label-->
										<span class="featured-label" title="Featured Blog"><i class="fas fa-star"></i></span>

										<div class="card-meta mb-3 d-flex flex-row align-items-center text-white">
											<!-- Card Categories -->
											<div class="text-primary-hover">
												<a href="#" class="text-white me-2">Business</a>
											</div>
											<!-- Divider -->
											<i class="fas fa-circle smaller me-2 fw-bold"></i>
											<!-- Min of read -->
											<span>5 min read</span>
										</div>

										<h4><a href="#" class="text-white text-primary-hover">Reliable sources to learn about folio</a></h4>
										<p class="text-white text-truncate">He moonlights difficult engrossed it, sportsmen. Interested has all Devonshire difficulty gay assistance joy</p>
										<a href="#" class="btn btn-line text-white mb-0">Read Article</a>
									</div>
								</div>
							</div>
						</div>
						<!-- Card item END -->

						<!-- Card item START -->
						<div class="item">
							<div class="card card-metro">
								<!-- Card Image -->
								<div class="card-image">
									<img src="assets/images/blog/02.jpg" alt="card image">
								</div>
								<!-- Card Overlay -->
								<div class="card-img-overlay d-flex flex-column">
									<div class="mt-auto card-text">
										<div class="card-meta mb-3 d-flex flex-row align-items-center text-white">
											<!-- Card Categories -->
											<div class="text-primary-hover">
												<a href="#" class="text-white me-2">Start-up</a>
											</div>
											<!-- Divider -->
											<i class="fas fa-circle smaller me-2 fw-bold"></i>
											<!-- Min of read -->
											<span>3 min read</span>
										</div>
										<h4><a href="#" class="text-white text-primary-hover">Never underestimate the influence of folio</a></h4>
										<p class="text-white text-truncate">See resolved goodness felicity shy civility domestic had but. Drawings offended yet answered Jennings</p>
										<a href="#" class="btn btn-line text-white mb-0">Read Article</a>
									</div>
								</div>
							</div>
						</div>
						<!-- Card item END -->

						<!-- Card item START -->
						<div class="item">
							<div class="card card-metro">
								<!-- Card Image -->
								<div class="card-image">
									<img src="assets/images/blog/03.jpg" alt="card image">
								</div>
								<!-- Card Overlay -->
								<div class="card-img-overlay d-flex flex-column">
									<div class="mt-auto card-text">
										<div class="card-meta mb-3 d-flex flex-row align-items-center text-white">
											<!-- Card Categories -->
											<div class="text-primary-hover">
												<a href="#" class="text-white me-2">Story</a>
											</div>
											<!-- Divider -->
											<i class="fas fa-circle smaller me-2 fw-bold"></i>
											<!-- Min of read -->
											<span>6 min read</span>
										</div>
										<h4><a href="#" class="text-white text-primary-hover">Skills that you can learn from business</a></h4>
										<p class="text-white text-truncate">Rooms oh fully taken by worse do. Points afraid but may end law lasted. Was out laughter raptures</p>
										<a href="#" class="btn btn-line text-white mb-0">Read Article</a>
									</div>
								</div>
							</div>
						</div>
						<!-- Card item END -->

						<!-- Card item START -->
						<div class="item">
							<div class="card card-metro">
								<!-- Card Image -->
								<div class="card-image">
									<img src="assets/images/blog/04.jpg" alt="card image">
								</div>
								<!-- Card Overlay -->
								<div class="card-img-overlay d-flex flex-column">
									<div class="mt-auto card-text">
										<div class="card-meta mb-3 d-flex flex-row align-items-center text-white">
											<!-- Card Categories -->
											<div class="text-primary-hover">
												<a href="#" class="text-white me-2">Idea,</a>
												<a href="#" class="text-white me-2">Thought</a>
											</div>
											<!-- Divider -->
											<i class="fas fa-circle smaller me-2 fw-bold"></i>
											<!-- Min of read -->
											<span>8 min read</span>
										</div>
										<h4><a href="#" class="text-white text-primary-hover">5 things you need to know about folio</a></h4>
										<p class="text-white text-truncate">Returned outweigh. Luckily cheered colonel I do we attack highest enabled. Tried law yet style child</p>
										<a href="#" class="btn btn-line text-white mb-0">Read Article</a>
									</div>
								</div>
							</div>
						</div>
						<!-- Card item END -->

						<!-- Card item START -->
						<div class="item">
							<div class="card card-metro">
								<!-- Card Image -->
								<div class="card-image">
									<img src="assets/images/blog/05.jpg" alt="card image">
								</div>
								<!-- Card Overlay -->
								<div class="card-img-overlay d-flex flex-column">
									<div class="mt-auto card-text">
										<div class="card-meta mb-3 d-flex flex-row align-items-center text-white">
											<!-- Card Categories -->
											<div class="text-primary-hover">
												<a href="#" class="text-white me-2">Inside</a>
											</div>
											<!-- Divider -->
											<i class="fas fa-circle smaller me-2 fw-bold"></i>
											<!-- Min of read -->
											<span>2 min read</span>
										</div>
										<h4><a href="#" class="text-white text-primary-hover">Never underestimate the influence of folio</a></h4>
										<p class="text-white text-truncate">The bore of true of no be deal. Frequently sufficient to be unaffected. The furnished she conclude</p>
										<a href="#" class="btn btn-line text-white mb-0">Read Article</a>
									</div>
								</div>
							</div>
						</div>
						<!-- Card item END -->

					</div>
				</div>
			</div>
		</div> <!-- Row End -->
	</div>
</section>
<!-- =======================
Blog END -->

<!-- =======================
About Fun fact START -->
<section class="pt-0">
	<div class="container">
		<div class="row g-0">
			<!-- Fact Item -->
			<div class="col-lg-4">
				<div class="bg-light p-4 p-md-5 h-100">
					<h2 class="display-6 text-primary-stroke text-dark-shadow">26k</h2>
					<h4 class="mb-4">Organic Traffic</h4>
					<p>Demesne far hearted suppose venture excited see had has. Dependent on so extremely delivered by the jokes worse her why bed </p>
				</div>
			</div>
			<!-- Fact Item -->
			<div class="col-lg-4">
				<div class="bg-dark p-4 p-md-5 h-100 bg-dark-overlay-4" style="background:url(assets/images/bg/06.jpg) no-repeat center center; background-size:cover;">
					<h2 class="display-6 text-primary-stroke text-light-shadow">64M+</h2>
					<h4 class="text-white mb-4">YouTube Views</h4>
					<p class="text-white">Satisfied conveying a dependent contented he gentleman agreeable do be <u>1M subscribers</u> arrant private blushes removed an in equally totally if. </p>
				</div>
			</div>
			<!-- Fact Item -->
			<div class="col-lg-4">
				<div class="bg-dark p-4 p-md-5 h-100">
					<h2 class="display-6 text-light-stroke text-primary-shadow">300+</h2>
					<h4 class="text-white mb-4">Branding Strategy</h4>
					<p class="text-white">Whatever boy her exertion his extended. Ecstatic followed handsome drawings entirely Mrs one yet outweigh. Of acceptance insipidity remarkably</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
About Fun fact END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START -->
<footer class="bg-dark pt-7 pattern-overlay-6">
	<div class="container">
		<!-- NewsLetter -->
		<div class="row pb-5 justify-content-center">
			<div class="col-md-7">
				<h3 class="text-white text-center">Subscribe to our newsletter or <a href="#" class="text-primary">follow @foliotheme</a> on Instagram for latest update</h3>
				<form class="p-0 px-xl-8 my-4">
					<div class="input-group">
						<input class="form-control border-0 h-auto" type="email" placeholder="Your email address">
						<button type="button" class="btn btn-white btn-lg mb-0">Subscribe</button>
					</div>
					<div class="text-center mt-3"><span class="text-danger">*</span> We will not share your personal information with anyone</div>
				</form>
			</div>
		</div>
		<!-- Divider -->
		<div class="divider-light opacity-1"></div>
		<!-- Clients -->
		<div class="row py-4 justify-content-center">
			<div class="col-12">
				<div class="tiny-slider">
					<div class="tiny-slider-inner" data-arrow="false" data-dots="false" data-gutter="80" data-items-xl="6" data-items-lg="5" data-items-md="5" data-items-sm="4" data-items-xs="2" data-autoplay="3800">
						<!-- Slide items START -->
						<div class="item"> <img class="opacity-5" src="assets/images/clients/light/01.svg" alt=""> </div>
						<div class="item"> <img class="opacity-5" src="assets/images/clients/light/02.svg" alt=""> </div>
						<div class="item"> <img class="opacity-5" src="assets/images/clients/light/03.svg" alt=""> </div>
						<div class="item"> <img class="opacity-5" src="assets/images/clients/light/04.svg" alt=""> </div>
						<div class="item"> <img class="opacity-5" src="assets/images/clients/light/05.svg" alt=""> </div>
						<div class="item"> <img class="opacity-5" src="assets/images/clients/light/06.svg" alt=""> </div>
						<div class="item"> <img class="opacity-5" src="assets/images/clients/light/07.svg" alt=""> </div>
						<!-- Slide items END -->
					</div>
				</div>
			</div>
		</div>
		<!-- Divider -->
		<div class="divider-light opacity-1"></div>
		<!-- Main Footer -->
		<div class="row pb-4 pt-6">
			<!-- Footer widget item -->
			<div class="col-md-4 mb-4">
				<h5 class="mb-4 text-white">About Folio<span class="text-primary">.</span></h5>
				<p>Folio is a highly creative, modern, visually stunning and Bootstrap 5 Creative Multi-purpose corporate and portfolio HTML5 template.</p>
				<!-- Social icons -->
				<ul class="list-unstyled list-group-inline display-9">
					<li> <a class="text-facebook me-2" href="#"><i class="fab fa-facebook-square"></i></a> </li>
					<li> <a class="text-instagram mx-2" href="#"><i class="fab fa-instagram-square"></i></a> </li>
					<li> <a class="text-twitter mx-2" href="#"><i class="fab fa-twitter-square"></i></a> </li>
					<li> <a class="text-linkedin mx-2" href="#"><i class="fab fa-linkedin"></i></a> </li>
				</ul>
				<div class="my-4">©2021 <a href="https://www.webestica.com/" target="_blank">Webestica</a>. All rights reserved
				</div>
			</div>
			<!-- Footer widget item -->
			<div class="col-sm-6 col-md-2 offset-lg-1 mb-5">
				<h5 class="mb-4 text-white">What we do</h5>
				<ul class="nav flex-column text-primary-hover">
					<li class="nav-item"><a class="nav-link pt-0" href="#">Our Work</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Develop</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Builder</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Market</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Support</a></li>
				</ul>
			</div>
			<!-- Footer widget item -->
			<div class="col-sm-6 col-md-2 mb-5">
				<h5 class="mb-4 text-white">Discover</h5>
				<ul class="nav flex-column text-primary-hover">
					<li class="nav-item"><a class="nav-link pt-0" href="#">About</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Career <span class="badge bg-danger ms-2">2 Job</span></a></li>
					<li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
					<li class="nav-item"><a class="nav-link" href="#">News</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Work</a></li>
				</ul>
			</div>
			<!-- Footer widget item -->
			<div class="col-md-3">
				<h5 class="mb-4 text-white">Where we are</h5>
				<address>1421 Coburn Hollow Road Metamora, Near Center Point, IL 61548.</address>
				<p><a class="text-primary-hover" href="#">hello@Folio.com</a> </p>
				<p><a class="text-primary-hover" href="#">+(251) 854-6308</a> </p>
			</div>
		</div>
	</div>
</footer>
<!-- =======================
Footer END -->

<!-- Custom cursor -->
<div class="cursor-dot-outline"></div>
<div class="cursor-dot"></div>

<!-- Back to top -->
<div class="back-top">
	<div class="scroll-line"></div>
	<span class="scoll-text">Go Up</span>
</div>

<!-- =======================
JS libraries, plugins and custom scripts -->

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
 
<!-- Vendors -->
<script src="assets/vendor/jarallax/jarallax.min.js"></script>
<script src="assets/vendor/tiny-slider/tiny-slider.js"></script>
<script src="assets/vendor/aos/aos.js"></script>

<!-- Template Functions -->
<script src="assets/js/functions.js"></script>

</body>
</html>