<!DOCTYPE html>
<html lang="en">
<head>
	<title>Folio - Creative Agency Portfolio Theme</title>
	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Bootstrap based Creative Agency Portfolio Theme">

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Rubik:wght@400;500;700&family=Spartan:wght@400;700;900&display=swap" rel="stylesheet">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/animate/animate.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/tiny-slider/tiny-slider.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/aos/aos.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/glightbox/css/glightbox.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">

</head>

<body>

<!-- Pre loader -->
<div class="preloader">
	<div class="preloader-item">
		<div class="spinner-grow text-primary"></div>
		<p class="mt-3">Good things come to those who wait!</p>
	</div>
</div>

<!-- =======================
Header START -->
<header class="navbar-dark navbar-transparent navbar-sticky navbar-link-xl">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-lg">
		<div class="container">
			<!-- Logo START -->
			<a class="navbar-brand" href="index.html">
				<img class="navbar-brand-item" src="assets/images/logo-light.png" alt="Logo">
			</a>
			<!-- Logo END -->

			<!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"> </span>
		  </button>

			<!-- Main Menu START -->
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav navbar-nav-scroll ms-auto">
					
					<!-- Menu item 1 Demos-->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="demosMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Demos</a>
						<ul class="dropdown-menu" aria-labelledby="demosMenu">
							<li> <a class="dropdown-item" href="index.html">Classic Default</a> </li>
							<li> <a class="dropdown-item" href="index-2.html">Agency classic</a> </li>
							<li> <a class="dropdown-item" href="index-3.html">Agency Trendy<span class="badge bg-danger ms-2">Hot</span></a> </li>
							<li> <a class="dropdown-item" href="index-4.html">Agency Modern</a> </li>
							<li> <a class="dropdown-item" href="index-5.html">Studio showcase</a> </li>
							<li> <a class="dropdown-item" href="index-6.html">Creative agency</a> </li>
							<li> <a class="dropdown-item" href="index-7.html">Digital studio</a> </li>
							<li> <a class="dropdown-item" href="index-8.html">Portfolio showcase</a> </li>
							<li> <a class="dropdown-item" href="index-9.html">Corporate </a> </li>
							<li> <a class="dropdown-item" href="index-10.html">Personal Portfolio</a> </li>
						</ul>
					</li>
					<li class="nav-item">	<a class="nav-link" href="about.html">About</a></li>
					<li class="nav-item">	<a class="nav-link" href="service.html">Service<span class="badge bg-danger ms-2 smaller mb-3">New</span></a></li>
					<li class="nav-item">	<a class="nav-link" href="portfolio-classic-grid-3-col.html">Work</a></li>
					<li class="nav-item">	<a class="nav-link" href="contact.html">Contact</a></li>
				</ul>
			</div>
			<!-- Main Menu END -->

			<!-- Nav right START -->
			<div class="nav flex-nowrap align-items-center">
				<!-- Nav Button -->
				<div class="nav-item d-none d-xl-block ms-4">
					<a href="#" class="btn btn-sm btn-primary mb-0 ms-2">Get Quote!</a>
				</div>
			</div>
			<!-- Nav right END -->
		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- =======================
Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Main Banner -->
<section class="position-relative p-0 mb-0 mb-md-5">
	<!-- Banner START -->
	<div class="tiny-slider dots-inside dots-bordered">
		<div class="tiny-slider-inner pb-5 pb-lg-7" data-autoplay="true" data-autoplaytime="7000" data-gutter="0" data-arrow="false" data-dots="true" data-items="1">
			<!-- Slide 1 START -->
			<div class="item bg-white h-500 h-md-800 overflow-hidden">	
				<!-- Dark bg with pattern overlay -->
				<div class="bg-dark h-400 h-md-600 position-absolute top-0 start-0 end-0 pattern-overlay-5"></div>
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="slider-content z-index-9 position-relative pt-7 pt-lg-9">
								<!-- Slider Info -->
								<div class="row justify-content-between mb-3 mb-md-5">
									<div class="col-md-8 animate__animated animate__fadeInUp">
										<h2 class="d-block text-white display-6">We would <span class="text-primary-stroke text-stroke-md">love to be your </span>partner.</h2>
									</div>
									<div class="col-md-4 animate__animated animate__fadeInUp">
										<p class="lead text-white d-none d-md-block">Agency that cares about your customers. We deliver unique and measurable campaigns that connect with target audiences, boost online marketing and encourage your business growth.</p>
										<a href="#" class="btn btn-line text-white mt-0 mt-md-4">Get a quote</a>
									</div>
								</div>
								<!-- Slider Image -->
								<div class="bg-dark position-relative overflow-hidden animate__animated animate__fadeInUp">
									<!-- Shape Decoration -->
									<figure class="position-absolute end-0 top-0 mt-n3 me-n9 d-none d-lg-block">
										<svg width="390" height="304" viewBox="0 0 218 170" xmlns="http://www.w3.org/2000/svg">
											<path class="fill-primary" d="m143.6 25.1c-5.9-5.6-10.9-12.2-17.8-16.5-13.7-8.6-33.5-5.4-43.8 7-3.9 4.6-6.4 10.2-9.5 15.4-8.4 14-21.1 25-29.9 38.7s-13 32.7-3.4 45.9c9.7 13.4 28.8 15.4 41.7 25.6 6.3 5.1 10.9 12.1 16.9 17.6 19 17.3 52.5 14.6 68.6-5.4 9.9-12.4 13.4-29.3 24.8-40.4 4-3.9 8.9-6.9 12.8-10.9 5.1-5.2 8.4-12 10.8-19 3.1-9.3 4.7-19.6 1.4-28.8-5.7-16-18.7-15.9-32.5-14.4-15 1.8-29.4-4.6-40.1-14.8z"/>
											<path class="svg-custom-border-white" d="m17.8 72.7c3.9-3.3 8.1-6.2 12.6-8.8"/>
											<path class="svg-custom-border-white" d="m18 86.5c4.1-2.9 8.5-5.5 13-7.8"/>
											<path class="svg-custom-border-white" d="m33.3 93c4.6-2.3 9-5.1 13.1-8.3"/>
											<path class="svg-custom-border-white" d="m47.6 66.8c3.9-1.8 7.6-4.1 10.9-6.8"/>
											<path class="svg-custom-border-white" d="m73.7 55.5c3-1.6 5.9-3.2 8.9-4.8"/>
											<path class="svg-custom-border-white" d="m67.7 69.1c3.4-2.5 7-4.6 10.8-6.4"/>
											<path class="svg-custom-border-white" d="m64.8 80.5c4.5-2.2 8.9-4.8 13.1-7.7"/>
											<path class="svg-custom-border-white" d="m71.4 93.6c3.8-1.6 7.4-3.6 10.7-5.9"/>
											<path class="svg-custom-border-white" d="m70.2 121.5c3.6-2.1 7.2-4.3 10.8-6.4"/>
											<path class="svg-custom-border-white" d="m54.2 119.2c3.4-2.4 6.7-4.7 10.1-7.1"/>
											<path class="svg-custom-border-white" d="m36.9 114.9c3.4-2.3 6.8-4.7 10.2-7"/>
											<path class="svg-custom-border-white" d="m51.1 99.5c2.4-2.7 5.3-5.1 8.4-7"/>
											<path class="svg-custom-border-white" d="m7.7 121.4c4-2.6 7.9-5.1 11.9-7.7"/>
											<path class="svg-custom-border-white" d="m17.8 132.7c2.6-1.8 5.2-3.5 7.8-5.3"/>
											<path class="svg-custom-border-white" d="m21.4 154.1c4.4-3 8.9-6.1 13.3-9.1"/>
											<path class="svg-custom-border-white" d="m48.8 140.6c2.6-1.9 5.2-3.9 7.8-5.8"/>
											<path class="svg-custom-border-white" d="m44 158.9c3.1-1.1 6-2.9 8.5-5.1"/>
											<path class="svg-custom-border-white" d="m67.8 146.5c4.5-2.4 8.8-5.4 12.5-8.9"/>
											<path class="svg-custom-border-white" d="m73.4 156.1c2.4-1 4.6-2.4 6.6-4.1"/>
											<path class="svg-custom-border-white" d="m83.3 98.9c2.6-1.8 5.1-3.6 7.7-5.4"/>
										</svg>
									</figure>
									<!-- Image -->
									<img src="assets/images/banner/02.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Slide 1 END -->
			<!-- Slide 2 START -->
			<div class="item bg-white h-500 h-md-800 overflow-hidden">
				<!-- Dark bg with pattern overlay -->							
				<div class="bg-dark h-400 h-md-600 position-absolute top-0 start-0 end-0 pattern-overlay-5"></div>
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="slider-content z-index-9 position-relative pt-7 pt-lg-9">
								<!-- Slider Info -->
								<div class="row justify-content-between mb-3 mb-md-5">
									<div class="col-md-8 animate__animated animate__fadeInUp">
										<h2 class="text-white display-6"><span class="bg-primary p-2">How we work;</span><br> checkout the process</h2>
									</div>
									<div class="col-md-4 animate__animated animate__fadeInUp">
										<p class="lead text-white d-none d-md-block">Outstanding results are the outcome of a disciplined work process. We follow the approach for developing a customer-oriented Website and Mobile application with the top-notch quality.</p>
										<a href="#" class="btn btn-line text-white mt-0 mt-md-4">How it works</a>
									</div>
								</div>
								<!-- Slider Image -->
								<div class="bg-dark position-relative overflow-hidden animate__animated animate__fadeInUp">
									<!-- Shape Decoration -->
									<div class="position-absolute end-0 bottom-0 zoom-2 d-none d-lg-block z-index-9">
										<div class="bg-primary-overlay-dotted p-7 rotate-10"></div>
									</div>
									<!-- Image -->
									<img src="assets/images/banner/03.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Slide 2 END -->
		</div>
		
		<!-- Social links and arrow START -->
		<div class="container mt-n5 d-none d-md-block">
			<div class="row justify-content-between position-relative align-items-center">
				<!-- Social sites link -->
				<div class="col-md-6">
					<div class="d-flex mt-n2">
						<h6 class="text-dark mt-2 me-4">Follow us:</h6>
						<div class="list-group-inline list-unstyled text-primary-hover">
							<a href="#" class="list-group-item text-dark bg-transparent">Fb</a>
							<a href="#" class="list-group-item text-dark bg-transparent">Tw</a>
							<a href="#" class="list-group-item text-dark bg-transparent me-0">In</a>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<!-- Play button -->
					<div class="float-md-end position-relative z-index-9">
						<a class="btn btn-primary btn-round btn-ripple me-2 align-middle d-inline-block" data-glightbox data-gallery="office-tour" href="https://youtu.be/n_Cn8eFo7u8"> <i class="fas fa-play"></i></a>
						<div class="align-middle d-inline-block">
							<h6 class="mb-0 text-dark">Office tour</h6>
							<p class="mb-0 text-secondary">In 02:11 min</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Social links and arrow END -->
		

	</div>
	<!-- Banner START -->
</section>
<!-- =======================
Main banner -->

<!-- =======================
Service START -->
<section class="bg-light position-relative">
	<!-- Shape Decoration START -->
	<div class="position-absolute start-0 top-0 w-100">
		<div class="bg-dark-overlay-dotted py-3 opacity-4"></div>
	</div>
	<!-- Shape Decoration END -->
	<div class="container">
		<div class="row justify-content-between mt-4">
			<!-- Title -->
			<div class="col-lg-6">
				<span class="font-alt fw-normal display-8 fw-normal">Our interesting insights</span>
				<h2 class="display-7">Digital marketing <span class="bg-primary text-white py-1">reinvented.</span></h2>
				<p>Partnering with <b>500+ Fortune companies</b> and mid-sized firms across enterprises, uniquely customized and scalable workforce solutions. We provide digital transformation solutions, enabling companies to make their visions reality. Our aim to achieve the goal as we provide innovative ideas, designs and solutions to our clients </p>
				<a href="#" class="btn btn-line text-dark mb-5">Check success stories</a>
			</div>
			<!-- Services -->
			<div class="col-lg-6">
				<!-- Service item -->
				<div class="d-flex mb-5">
				  <h2 class="display-4 fa-fw text-end text-light-stroke">01</h2>
				  <div class="ms-3 ms-md-5">
				    <h4 class="mt-0">Digital Strategy & Reporting</h4>
				    <p class="mb-2">Go he prisoners And mountains in just switching city steps Might rung line what Mr Bulk; Was or between towards</p>
				    <ul class="nav">
				      <li class="nav-item"><a class="nav-link text-body text-primary-hover  ps-0" href="#"><u>23 Project</u></a></li>
				      <li class="nav-item"><a class="nav-link text-body text-primary-hover" href="#"><u>7 Clients</u></a></li>
					  </ul>
				  </div>
				</div>
				<!-- Service item -->
				<div class="d-flex mb-5">
				  <h2 class="display-4 fa-fw text-end text-light-stroke">02</h2>
				  <div class="ms-3 ms-md-5">
				    <h4 class="mt-0">Content Marketing</h4>
				    <p class="mb-2">It was the remember a although lead in were through serving their assistant fame day have for its after would</p>
				    <ul class="nav">
				      <li class="nav-item"><a class="nav-link text-body text-primary-hover  ps-0" href="#"><u>16 Project</u></a></li>
				      <li class="nav-item"><a class="nav-link text-body text-primary-hover" href="#"><u>5 Clients</u></a></li>
					  </ul>
				  </div>
				</div>
				<!-- Service item -->
				<div class="d-flex">
				  <h2 class="display-4 fa-fw text-end text-light-stroke">03</h2>
				  <div class="ms-3 ms-md-5">
				    <h4 class="mt-0">Web Development</h4>
				    <p class="mb-2">Cheek dull have what in go feedback assignment Her of a any help if the a of semantics is rational overhauls</p>
				    <ul class="nav">
				      <li class="nav-item"><a class="nav-link text-body text-primary-hover  ps-0" href="#"><u>67 Project</u></a></li>
				      <li class="nav-item"><a class="nav-link text-body text-primary-hover" href="#"><u>26 Clients</u></a></li>
					  </ul>
				  </div>
				</div>
			</div>
		</div><!-- Row end -->
	</div>
</section>
<!-- =======================
Service END -->

<!-- =======================
Portfolio START -->
<section>
	<div class="container" data-sticky-container>
		<div class="row justify-content-between">
			<!-- Title -->
			<div class="col-xl-4">
				<div data-sticky data-margin-top="80" data-sticky-for="1199">
					<span class="font-alt fw-normal display-8 fw-normal">Company Portfolio</span>
					<h2 class="display-7">Featured <span class="bg-primary text-white py-1"> Portfolio </span></h2>
					<p>We have built a robust team, which is capable of delivering best quality of services when it comes to website design, Website development</p>
					<a href="#" class="btn btn-line text-dark mb-5">Get a quote</a>
				</div>
			</div>
			<!-- Portfolio -->
			<div class="col-xl-8">
				<div class="row g-0">

					<!-- Card item START -->
					<div class="col-md-6 mt-4 mt-lg-7 z-index-0 position-relative overflow-hidden">
						<div class="card border-0 rounded-0 bg-transparent tilt-animation"> 
							<!-- Card Image -->
							<div class="card-image ms-5 ms-sm-8 overflow-hidden position-relative z-index-9">
								<div class="reveal-item rounded" data-aos="reveal-item">
									<div class="reveal-animation reveal-end reveal-primary aos" data-aos="reveal-end"></div>
									<img class="w-100" src="assets/images/portfolio/01.jpg" alt="Portfolio image">
								</div>
								<!-- Card Overlay duplicate-->
								<div class="card-img-overlay d-flex flex-column ms-n5 ms-sm-n8">
									<div class="card-text mt-2 mt-md-6">
										<p class="display-9 fw-normal mb-0 text-body font-alt fw-normal">Content Marketing</p>
										<h5 class="display-8 text-white-stroke">The missing link</h5>
									</div>
								</div>
							</div>
							<!-- Card Overlay -->
							<div class="card-img-overlay d-flex flex-column">
								<div class="card-text mt-2 mt-md-6">
									<p class="display-9 fw-normal mb-0 text-body font-alt fw-normal">Content Marketing</p>
									<h5 class="display-8 text-dark-stroke">The missing link</h5>
									<a href="#" class="btn btn-primary btn-line btn-sm position-relative z-index-9 card-element-hover">View Project</a>
								</div>
							</div>
						</div>
					</div>
					<!-- Card item END -->

					<!-- Card item START -->
					<div class="col-md-6 mt-4 mt-lg-0 z-index-0 position-relative overflow-hidden">
						<div class="card border-0 rounded-0 bg-transparent tilt-animation"> 
							<!-- Card Image -->
							<div class="card-image ms-5 ms-sm-8 overflow-hidden position-relative z-index-9">
								<div class="reveal-item rounded" data-aos="reveal-item">
									<div class="reveal-animation reveal-end reveal-primary aos" data-aos="reveal-end"></div>
									<img class="w-100" src="assets/images/portfolio/02.jpg" alt="Portfolio image">
								</div>
								<!-- Card Overlay duplicate-->
								<div class="card-img-overlay d-flex flex-column ms-n5 ms-sm-n8">
									<div class="card-text mt-2 mt-md-6">
										<p class="display-9 fw-normal mb-0 text-white font-alt fw-normal">Display Advertising</p>
										<h5 class="display-8 text-white-stroke">Sam Puller Magazine</h5>
									</div>
								</div>
							</div>
							<!-- Card Overlay -->
							<div class="card-img-overlay d-flex flex-column">
								<div class="card-text mt-2 mt-md-6">
									<p class="display-9 fw-normal mb-0 text-body font-alt fw-normal">Display Advertising</p>
									<h5 class="display-8 text-dark-stroke">Sam Puller Magazine</h5>
									<a href="#" class="btn btn-primary btn-line btn-sm position-relative z-index-9 card-element-hover">View Project</a>
								</div>
							</div>
						</div>
					</div>
					<!-- Card item END -->

					<!-- Card item START -->
					<div class="col-md-6 mt-4 mt-lg-7 z-index-0 position-relative overflow-hidden">
						<div class="card border-0 rounded-0 bg-transparent tilt-animation"> 
							<!-- Card Image -->
							<div class="card-image ms-5 ms-sm-8 overflow-hidden position-relative z-index-9">
								<div class="reveal-item rounded" data-aos="reveal-item">
									<div class="reveal-animation reveal-end reveal-primary aos" data-aos="reveal-end"></div>
									<img class="w-100" src="assets/images/portfolio/03.jpg" alt="Portfolio image">
								</div>
								<!-- Card Overlay duplicate-->
								<div class="card-img-overlay d-flex flex-column ms-n5 ms-sm-n8">
									<div class="card-text mt-2 mt-md-6">
										<p class="display-9 fw-normal mb-0 text-body font-alt fw-normal">Rebranding</p>
										<h5 class="display-8 text-white-stroke">Of seamen and merchants</h5>
									</div>
								</div>
							</div>
							<!-- Card Overlay -->
							<div class="card-img-overlay d-flex flex-column">
								<div class="card-text mt-2 mt-md-6">
									<p class="display-9 fw-normal mb-0 text-body font-alt fw-normal">Rebranding</p>
									<h5 class="display-8 text-dark-stroke">Of seamen and merchants</h5>
									<a href="#" class="btn btn-primary btn-line btn-sm position-relative z-index-9 card-element-hover">View Project</a>
								</div>
							</div>
						</div>
					</div>
					<!-- Card item END -->

					<!-- Card item START -->
					<div class="col-md-6 mt-4 mt-lg-0 z-index-0 position-relative overflow-hidden">
						<div class="card border-0 rounded-0 bg-transparent tilt-animation"> 
							<!-- Card Image -->
							<div class="card-image ms-5 ms-sm-8 overflow-hidden position-relative z-index-9">
								<div class="reveal-item rounded" data-aos="reveal-item">
									<div class="reveal-animation reveal-end reveal-primary aos" data-aos="reveal-end"></div>
									<img class="w-100" src="assets/images/portfolio/04.jpg" alt="Portfolio image">
								</div>
								<!-- Card Overlay duplicate-->
								<div class="card-img-overlay d-flex flex-column ms-n5 ms-sm-n8">
									<div class="card-text mt-2 mt-md-6">
										<p class="display-9 fw-normal mb-0 text-body font-alt fw-normal">Branding</p>
										<h5 class="display-8 text-white-stroke">Pure design branding</h5>
									</div>
								</div>
							</div>
							<!-- Card Overlay -->
							<div class="card-img-overlay d-flex flex-column">
								<div class="card-text mt-2 mt-md-6">
									<p class="display-9 fw-normal mb-0 text-body font-alt fw-normal">Branding</p>
									<h5 class="display-8 text-dark-stroke">Pure design branding</h5>
									<a href="#" class="btn btn-primary btn-line btn-sm position-relative z-index-9 card-element-hover">View Project</a>
								</div>
							</div>
						</div>
					</div>
					<!-- Card item END -->

					<!-- Card item START -->
					<div class="col-md-6 mt-4 mt-lg-7 z-index-0 position-relative overflow-hidden">
						<div class="card border-0 rounded-0 bg-transparent tilt-animation"> 
							<!-- Card Image -->
							<div class="card-image ms-5 ms-sm-8 overflow-hidden position-relative z-index-9">
								<div class="reveal-item rounded" data-aos="reveal-item">
									<div class="reveal-animation reveal-end reveal-primary aos" data-aos="reveal-end"></div>
									<img class="w-100" src="assets/images/portfolio/05.jpg" alt="Portfolio image">
								</div>
								<!-- Card Overlay duplicate-->
								<div class="card-img-overlay d-flex flex-column ms-n5 ms-sm-n8">
									<div class="card-text mt-2 mt-md-6">
										<p class="display-9 fw-normal mb-0 text-body font-alt fw-normal">Publishing</p>
										<h5 class="display-8 text-white-stroke">Thinking forward</h5>
									</div>
								</div>
							</div>
							<!-- Card Overlay -->
							<div class="card-img-overlay d-flex flex-column">
								<div class="card-text mt-2 mt-md-6">
									<p class="display-9 fw-normal mb-0 text-body font-alt fw-normal">Publishing</p>
									<h5 class="display-8 text-dark-stroke">Thinking forward</h5>
									<a href="#" class="btn btn-primary btn-line btn-sm position-relative z-index-9 card-element-hover">View Project</a>
								</div>
							</div>
						</div>
					</div>
					<!-- Card item END -->

					<!-- Card item START -->
					<div class="col-md-6 mt-4 mt-lg-0 z-index-0 position-relative overflow-hidden">
						<div class="card border-0 rounded-0 bg-transparent tilt-animation"> 
							<!-- Card Image -->
							<div class="card-image ms-5 ms-sm-8 overflow-hidden position-relative z-index-9">
								<div class="reveal-item rounded" data-aos="reveal-item">
									<div class="reveal-animation reveal-end reveal-primary aos" data-aos="reveal-end"></div>
									<img class="w-100" src="assets/images/portfolio/06.jpg" alt="Portfolio image">
								</div>
								<!-- Card Overlay duplicate-->
								<div class="card-img-overlay d-flex flex-column ms-n5 ms-sm-n8">
									<div class="card-text mt-2 mt-md-6">
										<p class="display-9 fw-normal mb-0 text-dark font-alt fw-normal">e-Commerce Website</p>
										<h5 class="display-8 text-dark-stroke">The blossoming fashion label</h5>
									</div>
								</div>
							</div>
							<!-- Card Overlay -->
							<div class="card-img-overlay d-flex flex-column">
								<div class="card-text mt-2 mt-md-6">
									<p class="display-9 fw-normal mb-0 text-body font-alt fw-normal">e-Commerce Website</p>
									<h5 class="display-8 text-dark-stroke">The blossoming fashion label</h5>
									<a href="#" class="btn btn-primary btn-line btn-sm position-relative z-index-9 card-element-hover">View Project</a>
								</div>
							</div>
						</div>
					</div>
					<!-- Card item END -->

				</div><!-- Portfolio row END -->
			</div>
		</div><!-- row END -->
	</div>
</section>
<!-- =======================
Portfolio END -->

<!-- =======================
About info START -->
<section class="py-5">
	<div class="container">
		<div class="row">

			<!-- Form with primary bg start -->
			<div class="col-lg-4 mb-5">
				<div class="bg-primary h-100 pattern-overlay-7 p-5 rounded">
					<h3 class="text-white">Get a free Quote!</h3>
					<!-- Form START -->
					<form class="contact-form form-primary form-line mt-5" id="contact-form" name="contactform" method="POST" action="assets/include/contact-action.php">
						<!-- Main form -->
						<div class="row">
							<div class="col-md-6">
								<!-- name -->
								<div class="mb-3 position-relative">
									<input required id="con-name" name="name" type="text" class="form-control" placeholder="Name">
									<span class="focus-border"></span>
								</div>
							</div>
							<div class="col-md-6">
								<!-- email -->
								<div class="mb-3 position-relative">
									<input required id="con-email" name="email" type="email" class="form-control" placeholder="E-mail">
									<span class="focus-border"></span>
								</div>
							</div>
							<div class="col-md-12">
								<!-- Subject -->
								<div class="mb-3 position-relative">
									<input required id="con-subject" name="subject" type="text" class="form-control" placeholder="Subject">
									<span class="focus-border"></span>
								</div>
							</div>
							<div class="col-md-12">
								<!-- Message -->
								<div class="mb-3 position-relative">
									<textarea required id="con-message" name="message" cols="40" rows="4" class="form-control" placeholder="Message"></textarea>
									<span class="focus-border"></span>
								</div>
							</div>
							<!-- submit button -->
							<div class="col-md-12 text-start"><button class="btn btn-dark btn-block" type="submit">Send Message</button></div>
						</div>
					</form>
					<!-- Form END -->
				</div>
			</div>

			<!-- Service overview -->
			<div class="col-lg-4 mb-5">
				<h3>Service overview</h3>
				<p>The real challenge before companies in today's world is to make their products and services appealing to everyone.</p>
				<ul class="list-group list-group-borderless list-group-icon-primary-bg my-4">
					<li class="list-group-item"><i class="fas fa-check"></i>Improve productivity and performance</li>
					<li class="list-group-item"><i class="fas fa-check"></i>Reduce your service costs</li>
					<li class="list-group-item"><i class="fas fa-check"></i>Secure their enterprise platform for today and the future</li>
					<li class="list-group-item"><i class="fas fa-check"></i>Hassle-free setup & management</li>
					<li class="list-group-item"><i class="fas fa-check"></i>Lifetime license, No monthly or yearly fee</li>
					<li class="list-group-item"><i class="fas fa-check"></i>User-friendly admin & reporting features</li>
					<li class="list-group-item"><i class="fas fa-check"></i>Get peace of mind knowing your services are in trusted hands</li>
				</ul>
				<p>We offer a selection of benefits that meet our employees’ needs and expectations at different life stages. </p>
			</div>

			<!-- Awards & nominees -->
			<div class="col-lg-4 mb-5">
				<h3>Awards & nominees</h3>
				<p class="mb-5">Benefits are the rewards that go beyond the paycheck. Meant balls it if up doubt small purse. Lifetime license, No monthly or yearly fee. Required his you put the <a href="#" class="text-dark"><u>Best agency of the year</u></a>. A pleasure exertion if believed provided to. All led out world this music while asked. Paid mind even sons.</p>
				<div class="row">
					<!-- Logo item -->
					<div class="col-6"> 
						<div class="grayscale">
							<img src="assets/images/clients/award/01.png" alt="">
						</div>
						<p class="mb-4">5 Developer of the day Awards</p>
					</div>
					<!-- Logo item -->
					<div class="col-6"> 
						<div class="grayscale">
							<img src="assets/images/clients/award/02.png" alt="">
						</div>
						<p class="mb-4">2 site of the day Awards</p>
					</div>
					<!-- Logo item -->
					<div class="col-6"> 
						<div class="grayscale">
							<img src="assets/images/clients/award/04.png" alt="">
						</div>
						<p class="mb-4">3 guru of the day and sp. nomination</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
About info END -->

<!-- =======================
Testimonials START -->
<section class="py-4">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="bg-dark rounded pattern-overlay-5 text-center px-5 py-7">
					<div class="row position-relative">
						<div class="col-lg-10 mx-auto">
							<div class="tiny-slider">
								<div class="tiny-slider-inner" data-gutter="0" data-hoverpause="true" data-arrow="false" data-dots="false" data-items="1">
									
									<!-- Testimonial item -->
									<div class="item text-white-force px-0 px-xl-5">
										<div class="avatar avatar-xl">
											<img class="avatar-img rounded-circle" src="assets/images/avatar/01.jpg" alt="avatar">
										</div>
										<p class="lead font-alt fw-normal display-8 fw-normal">The good gathering doesn't bearing day Stars over Open behold May male tree replenish don't blessed beast days earth fifth let multiply and he every blessed to upon behold grass divided brought was that dry I Were image waters own bring light subdue Meat</p>
										<h6 class=" text-white mb-0 mt-3">Adam Ross</h6>
										<span class="small">Software Developer</span>
									</div>

									<!-- Testimonial item -->
									<div class="item text-white-force px-0 px-xl-5">
										<div class="avatar avatar-xl">
											<img class="avatar-img rounded-circle" src="assets/images/avatar/02.jpg" alt="avatar">
										</div>
										<p class="lead font-alt fw-normal display-8 fw-normal">Two before narrow not relied how except moment myself Dejection assurance mrs led certainly So gate at no only none open Betrayed at properly it of graceful on Dinner abroad am depart ye turned hearts as me wished Therefore allowance.</p>
										<h6 class=" text-white mb-0 mt-3">Allen Smith</h6>
										<span class="small">Founder and CEO</span>
									</div>

									<!-- Testimonial item -->
									<div class="item text-white-force px-0 px-xl-5">
										<div class="avatar avatar-xl">
											<img class="avatar-img rounded-circle" src="assets/images/avatar/03.jpg" alt="avatar">
										</div>
										<p class="lead font-alt fw-normal display-8 fw-normal">How promotion excellent curiosity yet attempted happiness Gay prosperous impression had conviction For every delay death ask style Me mean able my by in they Extremity now strangers contained breakfast him discourse additions.</p>
										<h6 class=" text-white mb-0 mt-3">Jessica Mores</h6>
										<span class="small">Human Resource</span>
									</div>

								</div>
							</div>
						</div>
					</div><!-- row END -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Testimonials END -->

<!-- =======================
Blog START -->
<section>
	<div class="container">
		<!-- Title -->
		<div class="row">
			<div class="col-12">
				<span class="font-alt fw-normal display-8 fw-normal">Ideas, stories and thoughts </span>
				<h2 class="display-7 mb-5">Latest <span class="bg-primary text-white py-1">Insights</span></h2>
			</div>
		</div>
		<!-- Blog -->
		<div class="row">
			<div class="col-12">
				<div class="tiny-slider dots-bordered mb-5">
					<div class="tiny-slider-inner dots-bordered" data-autoplay="false"  data-arrow="false" data-dots="true" data-items-lg="3" data-items-md="3" data-items-sm="2" data-items-xs="1" data-loop="false">

						<!-- Card item slider START -->
						<div class="item">
							<div class="card h-100">
								<!-- Card image -->
								<div class="card-img-top rounded overflow-hidden position-relative hover-overlay-top">
									<div class="tiny-slider arrow-dark">
										<div class="tiny-slider-inner" data-arrow="true" data-rewind="true" data-dots="false"  data-items="1">
											<div class="item"><img src="assets/images/blog/grid/03.jpg" alt=""></div>
											<div class="item"><img src="assets/images/blog/grid/04.jpg" alt=""></div>
										</div>
									</div>
									<div class="position-absolute top-0 m-3 d-flex card-element-hover">
										<!-- Avatar -->
										<div class="avatar">
											<img class="avatar-img rounded-circle" src="assets/images/avatar/01.jpg" alt="author image">
										</div>
										<!-- Body -->
										<div class="ms-3 my-1 text-start text-white-force">
											<p class="mb-0">by Jessica Mores</p>
											<p class="small mt-n1 mb-0">June 22, 2021</p>
										</div>
									</div>
								</div>
								<!-- Card Body -->
								<div class="card-body py-4 px-0 d-flex flex-column">
									<div class="mb-auto">
										<div class="card-meta mb-3 d-flex align-items-center flex-row">
											<!-- Card Categories -->
											<div class="text-primary-hover">
												<a href="#" class="me-2">Story</a>
											</div>
											<!-- Divider -->
											<i class="fas fa-circle smaller me-2 fw-bold"></i>
											<!-- Min of read -->
											<span>3 min read</span>
										</div>
										<h5><a href="#">Skills that you can learn from business</a></h5>
										<p>Rooms oh fully taken by worse do. Points afraid but may end law lasted. Was out laughter raptures</p>
									</div>
								</div>
							</div>
						</div>
						<!-- Card item slider END -->

						<!-- Card item image START -->
						<div class="item">
							<div class="card h-100 overflow-hidden">
								<!-- Featured label-->
								<span class="featured-label" title="Featured Blog"><i class="fas fa-star"></i></span>
								<!-- Card image -->
								<div class="card-img-top rounded overflow-hidden position-relative hover-overlay-top">
									<img src="assets/images/blog/grid/01.jpg" alt="blog image">
									<div class="position-absolute top-0 m-3 d-flex card-element-hover">
										<!-- Avatar -->
										<div class="avatar">
											<img class="avatar-img rounded-circle" src="assets/images/avatar/01.jpg" alt="author image">
										</div>
										<!-- Body -->
										<div class="ms-3 my-1 text-start text-white-force">
											<p class="mb-0">by Allen Maxwell</p>
											<p class="small mt-n1 mb-0">May 03, 2021</p>
										</div>
									</div>
								</div>
								<!-- Card Body -->
								<div class="card-body py-4 px-0 d-flex align-items-start flex-column">
									<div class="mb-auto">
										<div class="card-meta mb-3 d-flex align-items-center flex-row">
											<!-- Card Categories -->
											<div class="text-primary-hover">
												<a href="#" class="me-2">Business</a>
											</div>
											<!-- Divider -->
											<i class="fas fa-circle smaller me-2 fw-bold"></i>
											<!-- Min of read -->
											<span>8 min read</span>
										</div>
										<h5><a href="#">Reliable sources to learn about folio</a></h5>
										<p>He moonlights difficult engrossed it, sportsmen. Interested has all Devonshire difficulty gay assistance joy</p>
									</div>
								</div>
							</div>
						</div>
						<!-- Card item image END -->

						<!-- Card item image START -->
						<div class="item">
							<div class="card h-100 overflow-hidden">
								<!-- Card image -->
								<div class="card-img-top rounded overflow-hidden position-relative hover-overlay-top">
									<img src="assets/images/blog/grid/02.jpg" alt="blog image">
									<div class="position-absolute top-0 m-3 d-flex card-element-hover">
										<!-- Avatar -->
										<div class="avatar">
											<img class="avatar-img rounded-circle" src="assets/images/avatar/02.jpg" alt="author image">
										</div>
										<!-- Body -->
										<div class="ms-3 my-1 text-start text-white-force">
											<p class="mb-0">by Bryan Knight</p>
											<p class="small mt-n1 mb-0">June 12, 2020</p>
										</div>
									</div>
								</div>
								<!-- Card Body -->
								<div class="card-body py-4 px-0 d-flex align-items-start flex-column">
									<div class="mb-auto">
										<div class="card-meta mb-3 d-flex align-items-center flex-row">
											<!-- Card Categories -->
											<div class="text-primary-hover">
												<a href="#" class="me-2">Start-up</a>
											</div>
											<!-- Divider -->
											<i class="fas fa-circle smaller me-2 fw-bold"></i>
											<!-- Min of read -->
											<span>6 min read</span>
										</div>
										<h5><a href="#">Never underestimate the influence of folio</a></h5>
										<p>See resolved goodness felicity shy civility domestic had but. Drawings offended yet answered Jennings</p>
									</div>
								</div>
							</div>
						</div>
						<!-- Card item image END -->


						<!-- Card item vimeo video START -->
						<div class="item">
							<div class="card h-100">
								<!-- Card image -->
								<div class="card-img-top rounded overflow-hidden position-relative hover-overlay-top">
									<div class="ratio ratio-16x9">
										<iframe src="https://player.vimeo.com/video/167434033?title=0&byline=0&portrait=0" width="620" height="347"   allowfullscreen></iframe>
									</div>
									<div class="position-absolute top-0 m-3 d-flex card-element-hover">
										<!-- Avatar -->
										<div class="avatar">
											<img class="avatar-img rounded-circle" src="assets/images/avatar/04.jpg" alt="author image">
										</div>
										<!-- Body -->
										<div class="ms-3 my-1 text-start text-white-force">
											<p class="mb-0">by Jessica Mores</p>
											<p class="small mt-n1 mb-0">June 22, 2020</p>
										</div>
									</div>
								</div>
								<!-- Card Body -->
								<div class="card-body py-4 px-0 d-flex flex-column">
									<div class="mb-auto">
										<div class="card-meta mb-3 d-flex align-items-center flex-row">
											<!-- Card Categories -->
											<div class="text-primary-hover">
												<a href="#" class="me-2">Idea,</a>
												<a href="#" class="me-2">Thought</a>
											</div>
											<!-- Divider -->
											<i class="fas fa-circle smaller me-2 fw-bold"></i>
											<!-- Min of read -->
											<span>2 min read</span>
										</div>
										<h5><a href="#">5 things you need to know about folio</a></h5>
										<p>Returned outweigh. Luckily cheered colonel I do we attack highest enabled. Tried law yet style child.</p>
									</div>
								</div>
							</div>
						</div>
						<!-- Card item vimeo video END -->

						<!-- Card item youtube video START -->
						<div class="item">
							<div class="card h-100">
								<!-- Card image -->
								<div class="card-img-top rounded overflow-hidden position-relative hover-overlay-top">
									<div class="ratio ratio-16x9">
										<iframe width="620" height="347" src="https://www.youtube.com/embed/9No-FiEInLA"  allow="autoplay; encrypted-media" allowfullscreen></iframe>
									</div>
									<div class="position-absolute top-0 m-3 d-flex card-element-hover">
										<!-- Avatar -->
										<div class="avatar">
											<img class="avatar-img rounded-circle" src="assets/images/avatar/03.jpg" alt="author image">
										</div>
										<!-- Body -->
										<div class="ms-3 my-1 text-start text-white-force">
											<p class="mb-0">by Jessica Mores</p>
											<p class="small mt-n1 mb-0">June 22, 2020</p>
										</div>
									</div>
								</div>
								<!-- Card Body -->
								<div class="card-body py-4 px-0 d-flex flex-column">
									<div class="mb-auto">
										<div class="card-meta mb-3 d-flex align-items-center flex-row">
											<!-- Card Categories -->
											<div class="text-primary-hover">
												<a href="#" class="me-2">Inside</a>
											</div>
											<!-- Divider -->
											<i class="fas fa-circle smaller me-2 fw-bold"></i>
											<!-- Min of read -->
											<span>6 min read</span>
										</div>
										<h5><a href="#">Never underestimate the influence of folio</a></h5>
										<p>The bore of true of no be deal. Frequently sufficient to be unaffected. The furnished she concluded</p>
									</div>
								</div>
							</div>
						</div>
						<!-- Card item youtube video END -->

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Blog END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START -->
<!-- <footer class="bg-dark footer-sticky pt-6 text-primary-hover bg-dark-overlay-5 pattern-overlay-3"> -->
<footer class="bg-dark footer-sticky pt-6 text-primary-hover ">
	<div class="container">
		<div class="row">
			<!-- Footer widget -->
			<div class="col-md-4 mb-5">
				<h5 class="mb-4 text-white">About Folio</h5>
				<p>Folio is a highly creative, modern, visually stunning and Bootstrap 5 Creative Multi-purpose corporate and portfolio HTML5 template.</p>
				<!-- Social icons -->
				<ul class="list-unstyled lead d-flex mt-4">
					<li> <a class="pe-2 me-2" href="#"><i class="fab fa-instagram"></i></a> </li>
					<li> <a class="px-2 me-2" href="#"><i class="fab fa-facebook-f"></i></a> </li>
					<li> <a class="px-2 me-2" href="#"><i class="fab fa-twitter"></i></a> </li>
					<li> <a class="ps-2 me-2" href="#"><i class="fab fa-linkedin"></i></a> </li>
				</ul>
			</div>
			<!-- Footer widget -->
			<div class="col-sm-6 col-md-2 offset-lg-1 mb-5">
				<h5 class="mb-4 text-white">What we do</h5>
				<ul class="nav flex-column">
					<li class="nav-item"><a class="nav-link pt-0" href="#">Our Work</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Develop</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Builder</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Market</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Support</a></li>
				</ul>
			</div>
			<!-- Footer widget -->
			<div class="col-sm-6 col-md-2 mb-5">
				<h5 class="mb-4 text-white">Discover</h5>
				<ul class="nav flex-column">
					<li class="nav-item"><a class="nav-link pt-0" href="#">About</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
					<li class="nav-item"><a class="nav-link" href="#">News</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Work</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Career</a></li>
				</ul>
			</div>
			<!-- Footer widget -->
			<div class="col-md-4 col-lg-3 mb-5">
				<h5 class="mb-4 text-white">Where we are</h5>
				<address>1421 Coburn Hollow Road Metamora, Near Center Point, IL 61548.</address>
				<p><a href="#">hello@Folio.com</a> </p>
				<p><a href="#">+(251) 854-6308</a> </p>
			</div>
		</div>
		<!-- Divider -->
		<div class="divider-light opacity-1"></div>

		<!-- Footer copyright START -->
		<div class="row align-items-center justify-content-md-between py-4">
			<div class="col-md-6">
				<div class="text-center text-md-start">©2021 <a href="https://www.webestica.com/" target="_blank">Webestica</a>. All rights reserved
				</div>
			</div>
			<div class="col-md-6">
			  <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
		      <li class="nav-item"><a class="nav-link" href="#">Terms</a></li>
		      <li class="nav-item"><a class="nav-link" href="#">Privacy</a></li>
		      <li class="nav-item"><a class="nav-link pe-0" href="#">Cookies</a></li>
			  </ul>
			</div>
		</div>
		<!-- Footer copyright END -->

	</div>
</footer>
<!-- =======================
Footer END -->

<!-- Custom cursor -->
<div class="cursor-dot-outline"></div>
<div class="cursor-dot"></div>

<!-- Back to top -->
<div class="back-top">
	<div class="scroll-line"></div>
	<span class="scoll-text">Go Up</span>
</div>

<!-- =======================
JS libraries, plugins and custom scripts -->

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="assets/vendor/glightbox/js/glightbox.js"></script>
<script src="assets/vendor/tiny-slider/tiny-slider.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/tilt.js/dist/vanilla-tilt.min.js"></script>
<script src="assets/vendor/sticky-js/sticky.min.js"></script>

<!-- Template Functions -->
<script src="assets/js/functions.js"></script>

</body>
</html>