<!DOCTYPE html>
<html lang="en">
<head>
	<title>Folio - Creative Agency Portfolio Theme</title>
	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Bootstrap based Creative Agency Portfolio Theme">

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Rubik:wght@400;500;700&family=Spartan:wght@400;700;900&display=swap" rel="stylesheet">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/animate/animate.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/tiny-slider/tiny-slider.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/aos/aos.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/glightbox/css/glightbox.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">

</head>

<body>
	
<!-- Pre loader -->
<div class="preloader">
	<img class="preloader-item" src="assets/images/loader/02.gif" alt="Loading">
</div>

<!-- Offcanvas start START -->
<div class="offcanvas offcanvas-start bg-dark" tabindex="-1" id="offcanvasStart" aria-labelledby="offcanvasStart" style="background-image:url(assets/images/bg/pattern/03.png); background-position: center left; background-size: cover;">
	<div class="offcanvas-header">
	  <a class="ms-auto btn btn-primary btn-round zoom-hover" data-bs-dismiss="offcanvas" aria-label="Close">
			<i class="fas fa-times p-0"></i>
		</a>
  </div>
	<div class="offcanvas-body vh-lg-100 d-flex align-items-start flex-column px-5 px-md-6">
		<!-- Offcanvas inner START -->
		<ul class="nav dropdown-toggle-start-icon d-block flex-column mb-5">
			<li class="nav-item position-relative">
				<a href="index.html" class="nav-link text-white-stroke display-6 h5 d-block">Home</a>
				<!-- Offcanvas dropdown START -->
				<a class="dropdown-toggle collapsed" data-bs-toggle="collapse" href="#home-dropdown-collapse" role="button" aria-expanded="false" aria-controls="home-dropdown-collapse"></a>
				<li class="collapse" id="home-dropdown-collapse">
				  <ul class="list-unstyled w-100 pb-4 pe-0 pe-lg-5">
						<li> <a class="dropdown-item px-0 text-body" href="index.html">Classic Default</a> </li>
						<li> <a class="dropdown-item px-0 text-body" href="index-2.html">Agency classic</a> </li>
						<li> <a class="dropdown-item px-0 text-body" href="index-3.html">Agency Trendy<span class="badge bg-danger ms-2">Hot</span></a> </li>
						<li> <a class="dropdown-item px-0 text-body" href="index-4.html">Agency Modern</a> </li>
						<li> <a class="dropdown-item px-0 text-body" href="index-5.html">Studio showcase</a> </li>
						<li> <a class="dropdown-item px-0 text-body" href="index-6.html">Creative agency</a> </li>
						<li> <a class="dropdown-item px-0 text-body" href="index-7.html">Digital studio</a> </li>
						<li> <a class="dropdown-item px-0 text-body" href="index-8.html">Portfolio showcase</a> </li>
						<li> <a class="dropdown-item px-0 text-body" href="index-9.html">Corporate </a> </li>
						<li> <a class="dropdown-item px-0 text-body" href="index-10.html">Personal Portfolio</a> </li>
					</ul>
				</li>
				<!-- Offcanvas dropdown END -->
			<li class="nav-item">
				<a class="nav-link text-white-stroke display-6 h5" href="#">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-white-stroke display-6 h5" href="#">Work</a>
			</li>
			 <li class="nav-item">
				<a class="nav-link text-white-stroke display-6 h5" href="#">Services</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-white-stroke display-6 h5" href="#">Our Journal</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-white-stroke display-6 h5" href="#">Contact Us</a>
			</li>
		</ul>
		<div class="mt-auto mb-5">
			<a href="#" class="font-heading text-white text-primary-hover d-block mb-3">hello@folio.com</a>
			<a href="#" class="font-heading text-white text-primary-hover">+(251) 854-6308</a>
		</div>
		<!-- Offcanvas inner END -->
	</div>
</div>
<!-- Offcanvas start END -->

<!-- Search START -->
<div class="search-full collapse bg-dark p-3 pb-lg-0" id="search-open">
	<div class="container position-relative">
		<h2 class="position-absolute start-0 bottom-0 mb-n5 display-1 text-white-stroke opacity-1">
			<span class="d-block">Search</span>
		</h2>
		<div class="row vh-100">
			<div class="d-flex flex-column my-auto py-5 w-100">
				<!-- Search form START -->
				<form class="form-dark form-line position-relative w-100">
					<div class="mb-3 input-group-lg input-text-white-stroke mb-0">
						<!-- Search input -->
						<input class="form-control font-heading caret-primary mb-0 pe-6" type="text" name="search" placeholder="What are you looking for?">
						<span class="focus-border"></span>
					</div>
					<!-- Search button -->
					<button type="button" class="position-absolute end-0 top-0 btn pb-3 text-primary-hover h-100">
						<i class="bi bi-search display-8"></i>
					</button>
				</form>
				<!-- Search form END -->
				<p class="small mt-2 mb-0">e.g. Template, Bootstrap, WordPress theme </p>
			</div>

			<!-- Search button close START -->
			<a class="position-fixed top-0 end-0 m-3 m-md-5 btn btn-white btn-round zoom-hover" data-bs-toggle="collapse" href="javascript:void(0)" data-bs-target="#search-open" aria-expanded="true">
				<i class="fas fa-times p-0"></i>
			</a>
			<!-- Search button close END -->
		</div>
	</div>
</div>
<!-- Search END -->

<!-- =======================
Header START -->
<header class="navbar-dark navbar-transparent navbar-sticky">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand">
		<div class="container-fluid mx-xl-5">
			<div class="d-flex flex-row align-items-center">
				<!-- Nav Opener-->
				<a class="text-white text-primary-hover me-4" data-bs-toggle="offcanvas" href="#offcanvasStart" role="button" aria-controls="offcanvasStart">
					<i class="bi bi-list display-8 align-middle" data-bs-target="#offcanvasStart"></i>
				</a>
				<!-- Logo START -->
				<a class="navbar-brand" href="index.html">
					<img class="navbar-brand-item" src="assets/images/logo-light.png" alt="Logo">
				</a>
				<!-- Logo END -->
			</div>

			<!-- Nav Right START -->
			<div class="nav flex-nowrap align-items-center">
				<!-- Nav Call -->
				<div class="nav-item d-none d-lg-flex">
					<div class="flex-row mb-n1">
						<span class="me-2 text-white">Call us:</span>
						<a href="#" class="mb-0 h6 text-white">+(251) 854-6308</a>
					</div>
				</div>

				<!-- Nav Search Opener-->
				<div class="nav-item ps-3" id="search">
					<a class="nav-link" data-bs-toggle="collapse" href="javascript:void(0)" data-bs-target="#search-open">
						<i class="bi bi-search display-9 "> </i>
					</a>
				</div>

				<!-- Nav language switcher -->
				<div class="nav-item px-3">
					<a href="#" class="text-white text-primary-hover me-2 border-bottom border-primary">EN</a>
					<a href="#" class="text-white text-primary-hover">FR</a>
				</div>

				<!-- Nav Button -->
				<div class="nav-item d-none d-md-block ms-4">
					<a class="btn btn-line btn-primary btn-sm mb-0" href="#">Get a Quote</a>
				</div>
			</div>
			<!-- Nav Right END -->
		</div>
	</nav><!-- Logo Nav END -->
</header>
<!-- =======================
Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Inner intro START -->
<section class="bg-parallax bg-dark-overlay-2 h-500 vh-md-100 d-flex pb-5" style="background:url(assets/images/portfolio/bg/01.jpg) no-repeat center center; background-size:cover;">
	<div class="container h-100 position-relative">
		<div class="row">
			<div class="col-12 ">
				<!-- Title -->
				<div class="text-center mt-5 mt-md-7">
					<p class="display-8 text-white font-alt fw-normal">Graphics Design</p>
					<h1 class="display-3 text-white mb-4">Mountains are<span class="text-white-stroke d-block"> the beginning</span></h1>
					<span class="text-white">26th, Jan 2021</span>
				</div>
			</div>
		</div><!-- Row END -->

		<div class="d-none d-xl-flex position-absolute bottom-0 w-100">
			<!-- Share -->
			<div class="text-white d-flex me-auto">
				<h6 class="text-white mt-2 me-4"><i class="fas fa-share-alt me-2"></i>Share on:</h6>
				<div class="list-group-inline list-unstyled text-primary-hover">
					<a href="#" class="list-group-item text-white bg-transparent">Facebook</a>
					<a href="#" class="list-group-item text-white bg-transparent">Twitter</a>
					<a href="#" class="list-group-item text-white bg-transparent">Dribble</a>
				</div>
			</div>
			<!-- Breadcrumb -->
			<nav class="ms-auto" aria-label="breadcrumb">
				<ol class="breadcrumb breadcrumb-dark">
					<li class="me-3 text-white">You are here:</li>
					<li class="breadcrumb-item"><a href="index.html">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Portfolio</a></li>
					<li class="breadcrumb-item text-light active">Mountains are the beginning</li>
				</ol>
			</nav>
		</div>
	</div>
</section>
<!-- =======================
Inner intro END -->

<!-- =======================
Portfolio Detail START -->
<section>
	<div class="container">
		<div class="row d-flex justify-content-md-between">
			<!-- Description  -->
			<div class="col-md-6">
				<p class="lead">Invitation at understood occasional sentiments insipidity inhabiting in. Off melancholy alteration principles old. Is do speedily kindness properly oh. Respect article painted cottage he is offices parlors. </p>
				<p class="lead">Agreed to others Exeter period myself few yet nature. Mention Mr manners opinion if garrets enabled. To occasional dissimilar impossible sentiments. </p>
				<a class="btn btn-line text-primary mb-4" href="#">Launch Project</a>
			</div>
			<!-- Information -->
			<div class="col-md-3 col-lg-2">
				<div class="mb-4">
					<h6><i class="far fa-user me-2"></i>Client:</h6>
					<p>Dead Beta Two Scissors</p>
				</div>
				<div class="mb-4">
					<h6><i class="far fa-compass me-2"></i>Location:</h6>
					<p>NY, United States</p>
				</div>
			</div>
			<!-- Services -->
			<div class="col-md-3 col-lg-3">
				<h6><i class="fas fa-briefcase me-2"></i>Services:</h6>
				<ul class="list-group list-group-borderless list-group-icon-primary-bg">
					<li class="list-group-item"><i class="fas fa-check"></i>Branding  </li>
					<li class="list-group-item"><i class="fas fa-check"></i>Brand strategy </li>
					<li class="list-group-item"><i class="fas fa-check"></i>Corporate identity design </li>
					<li class="list-group-item"><i class="fas fa-check"></i>Brand story </li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Portfolio Detail END -->

<!-- =======================
Portfolio START -->
<section class="bg-light">
	<div class="container">
		<div class="row">
			<!-- Title -->
			<div class="col-lg-6">
				<h2 class="display-6">We transform your perception into the goals<span class="text-primary">.</span></h2>
			</div>
			<!-- Information -->
			<div class="col-lg-6">
				<p class="lead">Speedily say has suitable disposal add boy. On forth doubt miles of child. Exercise joy man children rejoiced. Yet uncommonly his ten who diminution astonished. Demesne new manners savings staying had. Under folly balls, death own point now men. Match way these she avoids seeing death. She who drift their fat off. </p>
				<!-- Progress bar -->
				<div class="overflow-hidden mt-5">
					<p class="mb-1 text-dark">Worldwide sales increased more than</p>
					<div class="progress progress-lg progress-percent-bg">
						<div class="progress-bar progress-bar-striped progress-bar-animated bg-primary aos" data-aos="slide-right" data-aos-delay="200" data-aos-duration="1000" data-aos-easing="ease-in-out" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:95%">
							<span class="progress-percent">95%</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Portfolio END -->

<!-- =======================
Video START -->
<section class="bg-parallax bg-dark-overlay-2 pb-9" style="background:url(assets/images/portfolio/bg/02.jpg) no-repeat center center; background-size:cover;">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="display-4 text-white mb-8 text-center ">The mountain<span class="text-white-stroke d-block">Are calling</span></h2>
			</div>
			<div class="col-sm-12 position-relative">
				<div class="position-absolute top-50 start-50 translate-middle py-9">
					<a class="zoom-hover d-block" data-glightbox data-gallery="video" href="https://youtu.be/4iA0srfIru0">
						<img class="rotate-infinite" src="assets/images/play-video-light.svg" alt="play video">
						<span class="position-absolute top-50 start-50 translate-middle"><i class="bi bi-play text-white display-6"></i></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Video END -->

<!-- =======================
Awards START -->
<section>
	<div class="container">
		<div class="row d-flex justify-content-md-between">
			<!-- Title -->
			<div class="col-lg-4">
				<h2 class="display-8 mb-3">Awards & nominees won by this project</h2>
				<p class="mb-5">Rooms oh fully taken by worse do. Points afraid but may end law lasted. Was out laughter raptures returned outweigh.</p>
			</div>
			<!-- Awards -->
			<div class="col-lg-7">
				<div class="row">
					<!-- Award item -->
					<div class="col-6 col-sm-4"> 
						<div class="grayscale">
							<img src="assets/images/clients/award/01.png" alt="">
						</div>
						<p class="my-3">5 Developer of the day Awards</p>
					</div>
					<!-- Award item -->
					<div class="col-6 col-sm-4"> 
						<div class="grayscale">
							<img src="assets/images/clients/award/02.png" alt="">
						</div>
						<p class="my-3">2 site of the day Awards</p>
					</div>
					<!-- Award item -->
					<div class="col-6 col-sm-4"> 
						<div class="grayscale">
							<img src="assets/images/clients/award/04.png" alt="">
						</div>
						<p class="my-3">3 guru of the day and sp. nomination</p>
					</div>
				</div>
			</div>			
		</div><!-- row END -->
	</div>
</section>
<!-- =======================
Awards END -->

<!-- =======================
Gallery START -->
<section class="pt-0">
	<div class="tiny-slider arrow-dark arrow-hover">
		<div class="tiny-slider-inner" data-edge="100" data-autoplay="false" data-arrow="true" data-dots="false" data-items-xl="4" data-items-lg="4" data-items-md="3" data-items-sm="2" data-items-xs="1">

			<!-- Card item START -->
			<div class="item">
				<div class="card">
					<!-- Full screen button -->
					<a class="card-element-hover position-absolute end-0 top-0 bg-primary p-3" data-glightbox data-gallery="portfolio" href="https://youtu.be/n_Cn8eFo7u8"><i class="bi bi-play-btn display-9 text-white"></i></a>
					<!-- Card Image -->
					<img src="assets/images/portfolio/grid/01.jpg" alt="">
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="item">
				<div class="card">
					<!-- Full screen button -->
					<a class="card-element-hover position-absolute end-0 top-0 bg-primary p-3" data-glightbox data-gallery="portfolio" href="assets/images/portfolio/grid/02.jpg"><i class="bi bi-fullscreen display-9 text-white"></i></a>
					<!-- Card Image -->
					<img src="assets/images/portfolio/grid/02.jpg" alt="">
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="item">
				<div class="card">
					<!-- Full screen button -->
					<a class="card-element-hover position-absolute end-0 top-0 bg-primary p-3" data-glightbox data-gallery="portfolio" href="assets/images/portfolio/grid/03.jpg"><i class="bi bi-fullscreen display-9 text-white"></i></a>
					<!-- Card Image -->
					<img src="assets/images/portfolio/grid/03.jpg" alt="">
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="item">
				<div class="card">
					<!-- Full screen button -->
					<a class="card-element-hover position-absolute end-0 top-0 bg-primary p-3" data-glightbox data-gallery="portfolio" href="assets/images/portfolio/grid/04.jpg"><i class="bi bi-fullscreen display-9 text-white"></i></a>
					<!-- Card Image -->
					<img src="assets/images/portfolio/grid/04.jpg" alt="">
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="item">
				<div class="card">
					<!-- Full screen button -->
					<a class="card-element-hover position-absolute end-0 top-0 bg-primary p-3" data-glightbox data-gallery="portfolio" href="assets/images/portfolio/grid/05.jpg"><i class="bi bi-fullscreen display-9 text-white"></i></a>
					<!-- Card Image -->
					<img src="assets/images/portfolio/grid/05.jpg" alt="">
				</div>
			</div>
			<!-- Card item END -->

			<!-- Card item START -->
			<div class="item">
				<div class="card">
					<!-- Full screen button -->
					<a class="card-element-hover position-absolute end-0 top-0 bg-primary p-3" data-glightbox data-gallery="portfolio" href="assets/images/portfolio/grid/06.jpg"><i class="bi bi-fullscreen display-9 text-white"></i></a>
					<!-- Card Image -->
					<img src="assets/images/portfolio/grid/06.jpg" alt="">
				</div>
			</div>
			<!-- Card item END -->

		</div>
	</div>
</section>
<!-- =======================
Gallery END -->

<!-- =======================
Additional info START -->
<section class="pt-0">
	<div class="container">
		<div class="row mt-4">
			<!-- Testimonial -->
			<div class="col-md-6">
				<h4 class="mb-4">Client testimonial</h4>
				<blockquote class="blockquote blockquote-line">
				  <p class="mb-0">Design everything on the assumption that people are not heartless or stupid but marvelously capable, given the chance. Mr be cottage so related minuter is. Delicate say and blessing ladyship exertion few Margaret. Delight herself welcome against smiling its for.</p>
				  <footer class="blockquote-footer">Allen Smith @ <cite title="Source Title">Folio Inc</cite></footer>
				</blockquote>
			</div>
			<!-- Additional information -->
			<div class="col-md-6">
				<h4 class="mb-4">Additional information</h4>
				<p>Residence certainly elsewhere something she preferred cordially law. Age his surprise formerly Mrs perceive few standstill moderate. Of in power match on truth worse voice would. Large an it sense shall an match learn. By expect it result silent in formal of. Ask eat questions abilities described elsewhere assurance.</p>
				<p> Appetite in unlocked advanced breeding position concerns as. Cheerful get shutters yet for repeated screened. An no am cause hopes at three. Prevent behaved fertile he is mistake on. </p>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Additional info END -->

<!-- =======================
Action box START -->
<section class="bg-light">
	<div class="container">
		<div class="row justify-content-between">
			<!-- Title -->
			<div class="col-md-8 col-xl-6 text-center text-md-start">
				<h2 class="display-7 font-heading text-dark">Have project in mind? Let's discuss</h2>
			</div>
			<!-- Details -->
			<div class="col-md-4 col-xl-4 text-center text-md-end mt-0 mt-md-5">
				<a href="#" class="btn btn-line btn-primary">Contact Us</a>
			</div>
		</div> <!-- Row END -->
	</div>
</section>
<!-- =======================
Action box END -->

<!-- =======================
Pagination START -->
<section class="py-4">
	<div class="container">
		<nav class="mt-2" aria-label="navigation">
		  <ul class="pagination pagination-line d-flex justify-content-between">
		    <li class="page-item disabled">
		      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Prev</a>
		    </li>
		    <li class="page-item"><a class="page-link" href="#"><i class="fas fa-th"></i></a></li>
		    <li class="page-item">
		      <a class="page-link" href="#">Next</a>
		    </li>
		  </ul>
		</nav>
	</div>
</section>
<!-- =======================
Pagination END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START -->
<footer class="bg-dark footer-sticky pt-6">
	<div class="container">
		<div class="row">

			<!-- Footer Widget 1 -->
			<div class="col-md-6 col-lg-3 mb-5">
				<h3 class="text-white">Folio<span class="text-primary">.</span></h3>
				<p>Bootstrap based Creative Agency Portfolio Theme.</p>
				<div class="d-flex me-auto">
					<h6 class="mt-2 me-4 text-white">Follow on:</h6>
					<div class="list-group-inline list-unstyled text-primary-hover">
						<a href="#" class="list-group-item text-white bg-transparent">Fb</a>
						<a href="#" class="list-group-item text-white bg-transparent">Tw</a>
						<a href="#" class="list-group-item text-white bg-transparent">Dr</a>
					</div>
				</div>
			</div>

			<!-- Footer Widget 2 -->
			<div class="col-md-6 col-lg-3 mb-5">
				<h5 class="mb-4 text-white">Our offices</h5>
				<!-- Address 1 -->
				<p class="text-white mb-2">New York, USA (HQ)</p>
				<address class="mb-0">750 Sing Sing Rd, Horseheads, NY, 14845</address>
				<p>Call: <a href="#" class="text-body"><u>469-537-2410</u> (Toll-free)</a> </p>
				<!-- Address 2 -->
				<p class="text-white mb-2">Mumbai, India</p>
				<address class="mb-0">2492 Centennial NW, Acworth, GA, 30102</address>
				<p>Call: <a href="#" class="text-body"><u>(678) 324-1251</u> (Toll-free)</a> </p>
			</div>

			<!-- Footer Widget 3 -->
			<div class="col-md-6 col-lg-3 mb-5">
				<h5 class="mb-4 text-white">Useful links</h5>
				<div class="row">
					<div class="col-6">
						<ul class="nav flex-column text-primary-hover">
							<li class="nav-item"><a class="nav-link pt-0" href="#">Our Work</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Develop</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Builder</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Market</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Support</a></li>
						</ul>
					</div>
					<div class="col-6">
						<ul class="nav flex-column text-primary-hover">
							<li class="nav-item"><a class="nav-link pt-0" href="#">About</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Career <span class="badge bg-danger ms-2">2 Job</span></a></li>
							<li class="nav-item"><a class="nav-link" href="#">Work</a></li>
							<li class="nav-item"><a class="nav-link" href="#">News</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>

			<!-- Footer Widget 4 -->
			<div class="col-md-6 col-lg-3 mb-5">
				<h5 class="mb-4 text-white">Stay in touch</h5>
				<form>
					<label class="form-label">Subscribe to our newsletter to receive exclusive offers.</label>
					<div class="mb-3">
						<input class="form-control" type="email" placeholder="Enter email...">
					</div>
					<div class="mb-3">
						<button type="submit" value="Subscribe" class="btn btn-primary mb-0">Join us</button>
					</div>
				</form>
			</div>
			
		</div>
		<!-- Divider -->
		<div class="divider-light opacity-1"></div>

		<!-- Footer copyright START -->
		<div class="row align-items-center justify-content-md-between py-4">
			<div class="col-md-6">
				<div class="text-center text-md-start">©2021 <a href="https://www.webestica.com/" target="_blank">Webestica</a>. All rights reserved
				</div>
			</div>
			<div class="col-md-6">
			  <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
		      <li class="nav-item"><a class="nav-link text-body text-primary-hover" href="#">Terms</a></li>
		      <li class="nav-item"><a class="nav-link text-body text-primary-hover" href="#">Privacy</a></li>
		      <li class="nav-item"><a class="nav-link text-body text-primary-hover pe-0" href="#">Cookies</a></li>
			  </ul>
			</div>
		</div>
		<!-- Footer copyright END -->
	</div>
</footer>
<!-- =======================
Footer END -->

<!-- Custom cursor -->
<div class="cursor-dot-outline"></div>
<div class="cursor-dot"></div>

<!-- Back to top -->
<div class="back-top">
	<div class="scroll-line"></div>
	<span class="scoll-text">Go Up</span>
</div>

<!-- =======================
JS libraries, plugins and custom scripts -->

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="assets/vendor/glightbox/js/glightbox.js"></script>
<script src="assets/vendor/tiny-slider/tiny-slider.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/jarallax/jarallax.min.js"></script>

<!-- Template Functions -->
<script src="assets/js/functions.js"></script>

</body>
</html>