<!DOCTYPE html>
<html lang="en">
<head>
	<title>Folio - Creative Agency Portfolio Theme</title>
	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Bootstrap based Creative Agency Portfolio Theme">

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Rubik:wght@400;500;700&family=Spartan:wght@400;700;900&display=swap" rel="stylesheet">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">

</head>

<body>
	
<!-- Pre loader -->
<div class="preloader">
	<img class="preloader-item" src="assets/images/loader/02.gif" alt="Loading">
</div>

<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Sign up START -->
<section class="p-0 d-flex align-items-center">
	<div class="container-fluid">
		<div class="row">
			<!-- Left START -->
			<div class="col-md-12 col-lg-4 col-xl-3 d-md-flex align-items-center bg-dark vh-lg-100">
				<div class="w-100 p-3 p-lg-5 py-5 text-white-force">
					<div class="justify-content-center align-self-center">
						<!-- Logo START -->
						<a class="navbar-brand" href="index.html">
							<img class="navbar-brand-item" src="assets/images/logo-light.png" alt="Logo">
						</a>
						<!-- Logo END -->
					</div>
					<h4 class="font-weight-light">We connect you with the world largest community</h4>
					<ul class="list-group list-group-borderless mt-4">
						<li class="list-group-item text-white"><i class="fas fa-check"></i>Connect with your community via Folio</li>
						<li class="list-group-item text-white"><i class="fas fa-check"></i>Discover the best experience with fellowship</li>
						<li class="list-group-item text-white"><i class="fas fa-check"></i>Create your wishlist and enjoy to best experience</li>
					</ul>
				</div>
			</div>
			<!-- Left END -->

			<!-- Right START -->
			<div class="col-md-12 col-lg-8 col-xl-9 mx-auto my-5 position-relative">
				<!-- Shape Decoration START -->
				<!-- Shape 1 -->
				<figure class="position-absolute start-0 bottom-0 z-index-9 d-none d-xl-block">
					<svg width="150" height="148" viewBox="0 0 89 88" xmlns="http://www.w3.org/2000/svg">
						<rect class="fill-primary" transform="matrix(-1.837e-16 1 -1 -1.837e-16 73.407 -.3136)" x=".5" y=".18" width="72.73" height="72.73"/>
						<path class="fill-dark" d="m24.55 21.61c0 1.64-1.33 2.97-2.97 2.97s-2.97-1.33-2.97-2.97 1.33-2.97 2.97-2.97c1.65 0.01 2.97 1.33 2.97 2.97z"/>
						<path class="fill-dark" d="m40.34 21.61c0 1.64-1.33 2.97-2.97 2.97s-2.97-1.33-2.97-2.97 1.33-2.97 2.97-2.97c1.65 0.01 2.97 1.33 2.97 2.97z"/>
						<path class="fill-dark" d="m56.14 21.61c0 1.64-1.33 2.97-2.97 2.97s-2.97-1.33-2.97-2.97 1.33-2.97 2.97-2.97 2.97 1.33 2.97 2.97z"/>
						<path class="fill-dark" d="m71.93 21.61c0 1.64-1.33 2.97-2.97 2.97s-2.97-1.33-2.97-2.97 1.33-2.97 2.97-2.97c1.64 0.01 2.97 1.33 2.97 2.97z"/>
						<path class="fill-dark" d="m87.72 21.61c0 1.64-1.33 2.97-2.97 2.97s-2.97-1.33-2.97-2.97 1.33-2.97 2.97-2.97c1.64 0.01 2.97 1.33 2.97 2.97z"/>
						<path class="fill-dark" d="m24.55 37.36c0 1.64-1.33 2.97-2.97 2.97s-2.97-1.33-2.97-2.97 1.33-2.97 2.97-2.97c1.65 0 2.97 1.33 2.97 2.97z"/>
						<path class="fill-dark" d="m40.34 37.36c0 1.64-1.33 2.97-2.97 2.97s-2.97-1.33-2.97-2.97 1.33-2.97 2.97-2.97c1.65 0 2.97 1.33 2.97 2.97z"/>
						<path class="fill-dark" d="m56.14 37.36c0 1.64-1.33 2.97-2.97 2.97s-2.97-1.33-2.97-2.97 1.33-2.97 2.97-2.97 2.97 1.33 2.97 2.97z"/>
						<path class="fill-dark" d="m71.93 37.36c0 1.64-1.33 2.97-2.97 2.97s-2.97-1.33-2.97-2.97 1.33-2.97 2.97-2.97 2.97 1.33 2.97 2.97z"/>
						<path class="fill-dark" d="m87.72 37.36c0 1.64-1.33 2.97-2.97 2.97s-2.97-1.33-2.97-2.97 1.33-2.97 2.97-2.97 2.97 1.33 2.97 2.97z"/>
						<path class="fill-dark" d="m24.55 53.1c0 1.64-1.33 2.97-2.97 2.97s-2.97-1.33-2.97-2.97 1.33-2.97 2.97-2.97c1.65 0.01 2.97 1.34 2.97 2.97z"/>
						<path class="fill-dark" d="m40.34 53.1c0 1.64-1.33 2.97-2.97 2.97s-2.97-1.33-2.97-2.97 1.33-2.97 2.97-2.97c1.65 0.01 2.97 1.34 2.97 2.97z"/>
						<path class="fill-dark" d="m56.14 53.1c0 1.64-1.33 2.97-2.97 2.97s-2.97-1.33-2.97-2.97 1.33-2.97 2.97-2.97 2.97 1.34 2.97 2.97z"/>
						<path class="fill-dark" d="m71.93 53.1c0 1.64-1.33 2.97-2.97 2.97s-2.97-1.33-2.97-2.97 1.33-2.97 2.97-2.97c1.64 0.01 2.97 1.34 2.97 2.97z"/>
						<path class="fill-dark" d="m87.72 53.1c0 1.64-1.33 2.97-2.97 2.97s-2.97-1.33-2.97-2.97 1.33-2.97 2.97-2.97c1.64 0.01 2.97 1.34 2.97 2.97z"/>
						<path class="fill-dark" d="m24.55 68.85c0 1.64-1.33 2.97-2.97 2.97s-2.97-1.33-2.97-2.97 1.33-2.97 2.97-2.97c1.65 0 2.97 1.33 2.97 2.97z"/>
						<path class="fill-dark" d="m40.34 68.85c0 1.64-1.33 2.97-2.97 2.97s-2.97-1.33-2.97-2.97 1.33-2.97 2.97-2.97c1.65 0 2.97 1.33 2.97 2.97z"/>
						<path class="fill-dark" d="m56.14 68.85c0 1.64-1.33 2.97-2.97 2.97s-2.97-1.33-2.97-2.97 1.33-2.97 2.97-2.97 2.97 1.33 2.97 2.97z"/>
						<path class="fill-dark" d="m71.93 68.85c0 1.64-1.33 2.97-2.97 2.97s-2.97-1.33-2.97-2.97 1.33-2.97 2.97-2.97 2.97 1.33 2.97 2.97z"/>
						<path class="fill-dark" d="m87.72 68.85c0 1.64-1.33 2.97-2.97 2.97s-2.97-1.33-2.97-2.97 1.33-2.97 2.97-2.97 2.97 1.33 2.97 2.97z"/>
						<path class="fill-dark" d="m24.55 84.6c0 1.64-1.33 2.97-2.97 2.97s-2.97-1.33-2.97-2.97 1.33-2.97 2.97-2.97c1.65 0 2.97 1.33 2.97 2.97z"/>
						<path class="fill-dark" d="m40.34 84.6c0 1.64-1.33 2.97-2.97 2.97s-2.97-1.33-2.97-2.97 1.33-2.97 2.97-2.97c1.65 0 2.97 1.33 2.97 2.97z"/>
						<path class="fill-dark" d="m56.14 84.6c0 1.64-1.33 2.97-2.97 2.97s-2.97-1.33-2.97-2.97 1.33-2.97 2.97-2.97 2.97 1.33 2.97 2.97z"/>
						<path class="fill-dark" d="m71.93 84.6c0 1.64-1.33 2.97-2.97 2.97s-2.97-1.33-2.97-2.97 1.33-2.97 2.97-2.97 2.97 1.33 2.97 2.97z"/>
						<path class="fill-dark" d="m87.72 84.6c0 1.64-1.33 2.97-2.97 2.97s-2.97-1.33-2.97-2.97 1.33-2.97 2.97-2.97 2.97 1.33 2.97 2.97z"/>
					</svg>
				</figure>
				<!-- Shape 2 -->
				<figure class="position-absolute end-0 top-0 z-index-9 d-none d-xl-block">
					<svg width="180" height="66" viewBox="0 0 101 37" xmlns="http://www.w3.org/2000/svg">
						<polyline class="svg-custom-border-2" points="1.65 2.99 17.67 11.81 33.7 2.99 49.73 11.81 65.75 2.99 81.78 11.81 97.81 2.99"/>
						<polyline class="svg-custom-border-2" points="1.65 10.67 17.67 19.49 33.7 10.67 49.73 19.49 65.75 10.67 81.78 19.49 97.81 10.67"/>
						<polyline class="svg-custom-border-2" points="1.65 18.35 17.67 27.17 33.7 18.35 49.73 27.17 65.75 18.35 81.78 27.17 97.81 18.35"/>
						<polyline class="svg-custom-border-2" points="1.65 26.03 17.67 34.85 33.7 26.03 49.73 34.85 65.75 26.03 81.78 34.85 97.81 26.03"/>
					</svg>
				</figure>
				<!-- Shape Decoration END -->
				<div class="row h-100">
					<div class="col-md-12 col-lg-10 col-xl-5 text-start mx-auto d-flex align-items-center">
						<div class="w-100">
							<h3>Sign up for your account!</h3>
							<p>Join us today! Create your account easily with less information.</p>
							<!-- Form START -->
							<form class="mt-4">
								<!-- Email -->
							  <div class="mb-3">
							    <label class="form-label" for="exampleInputEmail1">Email address</label>
							    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail">
							    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
							  </div>
							  <!-- Password -->
							  <div class="mb-3">
							    <label class="form-label" for="exampleInputPassword1">Password</label>
							    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="*********">
							  </div>
							  <!-- Password -->
							  <div class="mb-3">
							    <label class="form-label" for="exampleInputPassword2">Confirm Password</label>
							    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="*********">
							  </div>
							  <!-- Checkbox -->
							  <div class="mb-3 form-check">
							    <input type="checkbox" class="form-check-input" id="exampleCheck1">
							    <label class="form-check-label" for="exampleCheck1">keep me signed in</label>
							  </div>
								<!-- Button -->
							  <div class="row align-items-center">
									<div class="col-sm-4">
										<button type="submit" class="btn btn-dark btn-line">Sign me up</button>
									</div>
									<div class="col-sm-8 text-sm-end">
										<span class="text-muted">Already have an account? <a href="sign-in.html">Signin here</a></span>
									</div>
								</div>
							</form>
							<!-- Form END -->
							<div class="bg-dark-overlay-dotted py-2 my-4"></div>

							<div class="text-center">
								<p>Sign up with your social network for quick access</p>
								<ul class="list-unstyled d-lg-flex mt-3 justify-content-center">
									<li class="me-3"><a href="#" class="btn bg-facebook d-inline-block"><i class="fab fa-facebook-f me-2"></i> Sign up with Facebook</a></li>
									<li class="me-3"><a href="#" class="btn bg-google d-inline-block"><i class="fab fa-google me-2"></i> Sign up with google</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Right END -->
		</div>
	</div>
</section>
<!-- =======================
Sign up END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- Custom cursor -->
<div class="cursor-dot-outline"></div>
<div class="cursor-dot"></div>

<!-- =======================
JS libraries, plugins and custom scripts -->

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Template Functions -->
<script src="assets/js/functions.js"></script>

</body>
</html>